&.newsletter-with-banner {
  .wrapper-content {
    color: $gpn-theme-white;
    display: flex;
    flex-direction: column-reverse;
    @include gpn-spacing([ 'padding-top', 'padding-bottom'], 'xxl');

    @include media-breakpoint-up(lg) {
      flex-direction: row;
    }
  }

  .image-container {
    @include make-col(12);
    display: flex;
    justify-content: center;

    @include media-breakpoint-up(lg) {
      @include make-col(6);
    }

    img {
      width: 100%;
      height: auto;
      max-width: 100%;
      display: block;

      @include media-breakpoint-up(lg) {
        height: 100%;
        object-fit: cover;
        max-width: none;
      }
    }
  }

  .text-content {
    @include make-col(12);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: map-get($gpn-theme-uptick-newsletter, 'with-banner', 'content-padding-mobile');
    background-color: map-get($gpn-theme-uptick-newsletter, 'newsletter-background-color');

    @include media-breakpoint-up(lg) {
      align-items: flex-start;
      padding: map-get($gpn-theme-uptick-newsletter, 'with-banner', 'content-padding-desktop');
      @include make-col(6);
    }

    .description {
      @extend %p-md;
      text-align: left;
      @include make-col(12);
      @include media-breakpoint-up(md) {
        @include make-col(8);
      }
      @include media-breakpoint-up(lg) {
        @include make-col(6);
      }
    }

    .cta-container {
      @include make-col(12);
      @include media-breakpoint-up(md) {
        @include make-col(8);
      }
      @include media-breakpoint-up(lg) {
        @include make-col(6);
      }
      .newsletter-cta {
        margin: map-get($gpn-theme-uptick-newsletter, 'newsletter-CTA-margin-mobile');
        justify-content: center;
        display: flex;
        @include media-breakpoint-up(lg) {
          margin: map-get($gpn-theme-uptick-newsletter, 'newsletter-CTA-margin-desktop');
        }

        .link-cta {
          transition: $gpn-theme-default-transition;
          background-color: map-get($gpn-theme-uptick-newsletter, 'newsletter-CTA-background');
          border-radius: $gpn-theme-radius-xl;
          padding: map-get($gpn-theme-uptick-newsletter, 'newsletter-CTA-padding');
          text-align: center;
          width: 100%;
          @extend %h-xxs;
          text-decoration: none;
          color: map-get($gpn-theme-uptick-newsletter, 'newsletter-CTA-text-color');
          &:hover {
            background-color: map-get(
              $gpn-theme-uptick-newsletter,
              'newsletter-CTA-hover-background'
            );
            color: map-get($gpn-theme-uptick-newsletter, 'newsletter-CTA-hover-text-color');
          }
        }
      }

      .subscribe-form {
        margin: map-get($gpn-theme-uptick-newsletter, 'newsletter-CTA-margin-mobile');
        position: relative;
        @include media-breakpoint-up(lg) {
          margin: map-get($gpn-theme-uptick-newsletter, 'newsletter-CTA-margin-desktop');
        }
        .sitecore-forms {
          display: grid;
          .form-group {
            margin-bottom: 0;
          }
          .newsletter-input-text {
            label {
              margin: 0;
            }
            input {
              box-shadow: none;
              width: 100%;
              @extend %p-md;
              border-radius: $gpn-theme-radius-xl;
              padding: map-get($gpn-theme-uptick-newsletter, 'block', 'input-padding-mobie');
              justify-content: center;
              display: flex;
              border: none;
              height: map-get($gpn-theme-uptick-newsletter, 'newsletter-CTA-height');
              outline: none;
              @include media-breakpoint-down(md) {
                margin-bottom: map-get(
                  $gpn-theme-uptick-newsletter,
                  'block',
                  'input-margin-bottom-tablet'
                );
                text-align: center;
              }
              &::placeholder {
                color: $gpn-theme-grey-500;
              }
            }
          }
          .newsletter-cta-section {
            justify-content: center;
            display: flex;
            height: map-get($gpn-theme-uptick-newsletter, 'newsletter-CTA-height');
            button {
              width: 100%;
              transition: $gpn-theme-default-transition;
              background-color: map-get($gpn-theme-uptick-newsletter, 'newsletter-CTA-background');
              border-radius: $gpn-theme-radius-xl;
              padding: map-get($gpn-theme-uptick-newsletter, 'newsletter-CTA-padding');
              @extend %h-xxs;
              text-decoration: none;
              color: map-get($gpn-theme-uptick-newsletter, 'newsletter-CTA-text-color');
              border: none;

              &:hover {
                background-color: map-get(
                  $gpn-theme-uptick-newsletter,
                  'newsletter-CTA-hover-background'
                );
                color: map-get($gpn-theme-uptick-newsletter, 'newsletter-CTA-hover-text-color');
              }
            }
            @include media-breakpoint-up(md) {
              justify-self: flex-end;
              top: 0;
              right: 0;
              position: absolute;
            }
          }
        }
      }
    }

    .privacy {
      @include make-col(12);
      @include media-breakpoint-up(md) {
        @include make-col(8);
      }
      @include media-breakpoint-up(lg) {
        @include make-col(6);
      }
      .disclaimer-text {
        @extend %p-xs;
      }
    }
  }
}
