&.newsletter-default {
  display: flex;
  justify-content: center;
  align-items: center;
  @include gpn-spacing([ 'padding-top', 'padding-bottom'], 'xl');

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .wrapper-content {
    width: 100%;
    background-color: map-get($gpn-theme-uptick-newsletter, 'newsletter-background-color');
    color: $gpn-theme-white;
    padding: map-get($gpn-theme-uptick-newsletter, 'newsletter-inner-padding-mobile');
    border-radius: $gpn-theme-radius-xl;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include media-breakpoint-up(md) {
      @include make-col(10);
      padding: map-get($gpn-theme-uptick-newsletter, 'newsletter-inner-padding-tablet');
    }

    @include media-breakpoint-up(lg) {
      padding: map-get($gpn-theme-uptick-newsletter, 'newsletter-inner-padding-desktop');
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: map-get($gpn-theme-uptick-newsletter, 'newsletter-content-gap-mobile');
    width: 100%;

    @include media-breakpoint-up(lg) {
      flex-direction: row;
      gap: map-get($gpn-theme-uptick-newsletter, 'newsletter-content-gap-desktop');
    }

    .description {
      text-align: center;
      width: fit-content;
      @extend %p-md;

      @include media-breakpoint-up(lg) {
        text-align: left;
      }
    }
  }

  .cta-container {
    @include make-col(12);
    @include media-breakpoint-up(md) {
      @include make-col(10);
    }
    @include media-breakpoint-up(lg) {
      @include make-col-offset(1);
      @include make-col(5);
    }
    .newsletter-cta {
      margin-bottom: map-get($gpn-theme-uptick-newsletter, 'newsletter-CTA-margin-bottom');
      justify-content: center;
      display: flex;

      .link-cta {
        transition: $gpn-theme-default-transition;
        background-color: map-get($gpn-theme-uptick-newsletter, 'newsletter-CTA-background');
        border-radius: $gpn-theme-radius-xl;
        text-align: center;
        width: 100%;
        padding: map-get($gpn-theme-uptick-newsletter, 'newsletter-CTA-padding');
        @extend %h-xxs;
        text-decoration: none;
        color: map-get($gpn-theme-uptick-newsletter, 'newsletter-CTA-text-color');

        &:hover {
          background-color: map-get(
            $gpn-theme-uptick-newsletter,
            'newsletter-CTA-hover-background'
          );
          color: map-get($gpn-theme-uptick-newsletter, 'newsletter-CTA-hover-text-color');
        }
      }
    }

    .subscribe-form {
      margin-bottom: map-get($gpn-theme-uptick-newsletter, 'newsletter-CTA-margin-bottom');
      position: relative;
      .sitecore-forms {
        display: grid;
        .form-group {
          margin-bottom: 0;
        }
        .newsletter-input-text {
          label {
            margin: 0;
          }
          input {
            box-shadow: none;
            height: map-get($gpn-theme-uptick-newsletter, 'newsletter-CTA-height');
            width: 100%;
            @extend %p-md;
            border-radius: $gpn-theme-radius-xl;
            padding: map-get($gpn-theme-uptick-newsletter, 'block', 'input-padding-mobie');
            justify-content: center;
            display: flex;
            border: none;
            margin-bottom: map-get(
              $gpn-theme-uptick-newsletter,
              'block',
              'input-margin-bottom-tablet'
            );
            text-align: center;
            outline: none;
            @include media-breakpoint-up(md) {
              margin-bottom: 0;
              text-align: left;
            }
            &::placeholder {
              color: $gpn-theme-grey-500;
            }
          }
        }
        .newsletter-cta-section {
          justify-content: center;
          display: flex;
          height: map-get($gpn-theme-uptick-newsletter, 'newsletter-CTA-height');
          button {
            width: 100%;
            transition: $gpn-theme-default-transition;
            border-radius: $gpn-theme-radius-xl;
            padding: map-get($gpn-theme-uptick-newsletter, 'newsletter-CTA-padding');
            background-color: map-get($gpn-theme-uptick-newsletter, 'newsletter-CTA-background');
            @extend %h-xxs;
            text-decoration: none;
            color: map-get($gpn-theme-uptick-newsletter, 'newsletter-CTA-text-color');
            border: none;
            &:hover {
              background-color: map-get(
                $gpn-theme-uptick-newsletter,
                'newsletter-CTA-hover-background'
              );
              color: map-get($gpn-theme-uptick-newsletter, 'newsletter-CTA-hover-text-color');
            }
          }
          @include media-breakpoint-up(md) {
            justify-self: flex-end;
            top: 0;
            right: 0;
            position: absolute;
          }
        }
      }
    }
  }
  .privacy {
    display: flex;
    justify-content: center;
    align-items: center;

    .disclaimer-text {
      @extend %p-xs;
      text-align: center;

      @include media-breakpoint-up(md) {
        padding: map-get($gpn-theme-uptick-newsletter, 'newsletter-privacy-padding-tablet');
      }
    }

    a {
      color: $gpn-theme-white;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
