.cta-list {
  display: flex;
  align-items: center;
  padding-top: gpn-spacing-size('sm', 'xs');
  gap: gpn-spacing-size('sm', 'sm');

  &.cta-layout-horizontal {
    flex-direction: row;
    flex-wrap: wrap;
    @include media-breakpoint-up(md) {
      flex-wrap: nowrap;
    }
  }

  &.cta-layout-vertical {
    flex-direction: column;
    align-items: start;
  }
}
