@each $theme, $details in $gpn-theme-colour-themes {
  &.bg-#{$theme},
  .bg-#{$theme} & {
    .breadcrumb-text .tag,
    .breadcrumb-text .tag a {
      color: get-theme-colour-for($theme, $details) !important;
    }
  }
}

@each $theme, $details in $gpn-theme-colour-themes {
  @if is-dark-theme-colour($theme) {
    .copy-section.bg-#{$theme} {
      .details,
      .meta-section .meta-item {
        color: get-theme-colour-for($theme, $details) !important;
      }
    }

    .copy-section.bg-#{$theme} .text-breadcrumb .blog-tag {
      color: get-theme-colour-for($theme, $details);

      &.secondary {
        color: get-theme-colour-for($theme, $details);
      }

      &:not(:hover) {
        border-color: get-theme-colour-for($theme, $details);
      }

      // this level of targeting was needed to override the .ec-clickable-card class colors
      > a:not(.btn):not([class*='btn-']):not([class*='link-glow']):not(.editing-mode *) {
        color: get-theme-colour-for($theme, $details) !important;

        &:hover {
          color: get-theme-colour-for($theme, $details) !important;
        }
      }
    }
  }
}
