.case-study-carousel {
  @include gpn-spacing('padding-bottom', 'xxxl');
  @include media-breakpoint-up(md) {
    overflow: hidden;
  }

  .intro-column {
    @include make-col(12);

    .intro-section {
      @include gpn-spacing('padding-bottom', 'sm');
      @include make-col(12);
      @include media-breakpoint-up(md) {
        @include make-col(10);
      }

      @include media-breakpoint-up(lg) {
        @include make-col(6);
      }

      @include media-breakpoint-up(md) {
        padding: 0;
      }

      .headline {
        @extend %h-md;
      }

      .description {
        @extend %p-md;
        @include gpn-spacing('margin-bottom', 'xs');
        @include gpn-spacing('margin-top', 'sm');
        @include gpn-spacing('padding-bottom', 'xs');
      }
    }
  }

  .sliderColumn {
    @include make-col(12);

    .card-carousel-container {
      @include gpn-spacing('margin-top', 'lg');
    }

    .card-carousel-top {
      .slick-next,
      .slick-prev {
        position: absolute;
        padding: 0;
        background-color: $gpn-theme-base;
        top: map-get($gpn-theme-case-study-carousel, 'arrow-position-top');
        height: map-get($gpn-theme-case-study-carousel, 'arrow-size');
        width: map-get($gpn-theme-case-study-carousel, 'arrow-size');
        border: none;
        outline: none;
        font-size: 0;
        background: none;
        display: map-get($gpn-theme-case-study-carousel, 'arrow-display');
      }

      .slick-next {
        left: map-get($gpn-theme-case-study-carousel, 'arrow-position-right');

        @include media-breakpoint-up(md) {
          left: map-get($gpn-theme-case-study-carousel, 'arrow-position-right-md');
        }

        @include media-breakpoint-up(lg) {
          left: map-get($gpn-theme-case-study-carousel, 'arrow-position-right-lg');
        }

        &::before {
          content: $gpn-theme-icon-arrow-next-base;
        }

        &:hover::before {
          content: $gpn-theme-icon-fill-arrow-next-base;
        }
      }

      .slick-prev {
        left: map-get($gpn-theme-case-study-carousel, 'arrow-position-left');

        @include media-breakpoint-up(md) {
          left: map-get($gpn-theme-case-study-carousel, 'arrow-position-left-md');
        }

        @include media-breakpoint-up(lg) {
          left: map-get($gpn-theme-case-study-carousel, 'arrow-position-left-lg');
        }

        &::before {
          content: $gpn-theme-icon-arrow-prev-base;
        }

        &:hover::before {
          content: $gpn-theme-icon-fill-arrow-prev-base;
        }
      }

      .slick-list {
        @include media-breakpoint-up(md) {
          overflow: visible;
          clip-path: map-get($gpn-theme-case-study-carousel, 'clipPath-left');
        }
        .slick-track {
          display: flex;

          @include media-breakpoint-up(md) {
            gap: gpn-spacing-size('sm', 'sm');
          }

          @include media-breakpoint-up(lg) {
            padding: 0;
          }

          .slick-slide {
            @include media-breakpoint-up(md) {
              min-width: map-get($gpn-theme-case-study-carousel, 'cardSlide-max-width');
            }
            @include media-breakpoint-up(sm) {
              min-width: map-get($gpn-theme-case-study-carousel, 'cardSlide-max-width-tablet');
            }
            .cardSlide {
              overflow: hidden;
              max-width: map-get($gpn-theme-case-study-carousel, 'cardSlide-max-width');
              max-height: map-get($gpn-theme-case-study-carousel, 'cardSlide-max-height');
              position: relative;
              cursor: pointer;
              border-radius: map-get($gpn-theme-case-study-carousel, 'card-border-radius');

              .image-container {
                .main-image {
                  height: auto;
                  width: 100%;
                }
              }

              .sliderOverlay {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: end;
                align-items: center;
                gap: gpn-spacing-size('sm', 'md');
                padding-bottom: map-get($gpn-theme-case-study-carousel, 'overlay-padding');

                &:hover {
                  background: map-get($gpn-theme-case-study-carousel, 'overlay-gradient');
                }
              }

              .categoryTag {
                background: $gpn-theme-white;
                padding: map-get($gpn-theme-case-study-carousel, 'categoryTag-padding');
                font-weight: $gpn-theme-font-weight-bold;
                min-width: map-get($gpn-theme-case-study-carousel, 'categoryTag-min-width');
                text-align: center;
                @extend %p-xxs;
              }
            }
          }
        }
      }
    }

    .card-carousel-bottom {
      @include gpn-spacing('margin-top', 'lg');

      .container-tray {
        padding-left: map-get($gpn-theme-case-study-carousel, 'container-tray-padding');

        .tray-logo {
          @include gpn-spacing('margin-bottom', 'sm');

          @include media-breakpoint-up(lg) {
            @include make-col(4);
            margin-bottom: 0;
          }

          img {
            max-width: 100%;
          }
        }

        .tray-content {
          @include media-breakpoint-up(lg) {
            @include make-col(8);
          }

          .description {
            @extend %p-lg;
            @include gpn-spacing('margin-bottom', 'sm');
          }

          .address {
            @extend %p-md;
            @include gpn-spacing('margin-bottom', 'sm');

            .name {
              @extend %p-lead;
            }
          }
        }
      }
      .slick-arrow {
        display: none !important;
      }
    }
  }

  &.bg-dark {
    .sliderColumn {
      .card-carousel-top {
        .slick-next {
          &::before {
            content: $gpn-theme-icon-fill-arrow-next-base;
          }
        }
        .slick-prev {
          &::before {
            content: $gpn-theme-icon-fill-arrow-prev-base;
          }
        }
      }
    }
  }
  &.bg-base {
    .sliderColumn {
      .card-carousel-top {
        .slick-next {
          &::before {
            content: $gpn-theme-icon-arrow-next-white;
          }
        }
        .slick-prev {
          &::before {
            content: $gpn-theme-icon-arrow-prev-white;
          }
        }
      }
    }
  }
  &.bg-dark,
  &.bg-base {
    .intro-column {
      .intro-section {
        .description {
          color: $gpn-theme-white;
        }
      }
    }
    .sliderColumn {
      .card-carousel-bottom {
        .container-tray {
          .tray-content {
            .address {
              color: $gpn-theme-white;
            }
          }
        }
      }
    }
  }
}
.editing-mode {
  .card-carousel-top {
    .cardSlide {
      picture {
        img {
          width: 20vw;
          height: auto;
        }
      }
      .sliderOverlay {
        .overlayLogo {
          background-color: $gpn-theme-grey-400;
        }
      }
    }
    .slick-slide {
      height: auto;
      > div {
        height: 100%;

        .scLooseFrameZone {
          height: 100%;

          .cardSlide {
            height: 100%;

            .image-container {
              .sc-image-wrapper {
                position: relative;
                z-index: 1;
              }
            }

            .sliderOverlay {
              .overlayLogo,
              .categoryTag {
                z-index: 3;
              }
            }
          }
        }
      }
    }
  }
}
