.related-sections-container {
  @include gpn-spacing([ 'padding-left', 'padding-right'], 'lg');
  display: none;
  a {
    text-decoration: none;
  }
  .related-sections-heading-title {
    @extend %h-xxs;
    color: $gpn-theme-black;
    text-transform: none;
    @include gpn-spacing([ 'margin-bottom'], 'xs');
  }
  .related-sections-content-list {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    @include gpn-spacing([ 'gap'], 'xxs');
    list-style: none;
    padding-left: 0;
  }
  @include media-breakpoint-up(lg) {
    display: block;
  }
}
