// =========================================================
// Override any bootstrap variables before loading bootstrap
// =========================================================
@import '@styles/custom/bootstrap-Overrides';

// =========
// Bootstrap
// =========
@import '~bootstrap/scss/bootstrap';

// ==========
// Base Theme
// ==========
@import '@styles/utilities/utilities';
@import '@styles/atoms/atoms';
@import '@styles/components/components';

//========
//Slick Theme
// =========
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

@import '@styles/themes/image-treatments';
