h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'GPCommerce', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #0C0C0C; // Storybook text color
}

h1,
h2 {
  margin: $small-margin 0;
}

h3,
h4,
p {
  font-family: 'GPCommerce', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: $extrasmall-margin 0;
  color: #0C0C0C; // rgb(12, 12, 12) - matches Global Payments
  font-size: 18px; // Matches Global Payments body text
  font-weight: 400;
  line-height: 27px; // Matches Global Payments (1.5 * 18px)
}

h5,
h6 {
  margin: $extrasmall-margin 0 0;
}

strong {
  font-weight: 700;
}

ul,
ol {
  padding-bottom: $extrasmall-margin;
  padding-top: $extrasmall-margin;
  margin-left: $small-margin;
}

li {
  margin-left: 15px;
}

ul {
  li {
    list-style: disc;
    list-style-position: inside;
  }
}

ol {
  li {
    list-style: decimal;
    list-style-position: inside;
  }
}

a {
  font-family: 'GPCommerce', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #262AFF; // Storybook primary blue for links
  text-decoration: underline;
  font-size: 1em;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: #1B1EC6; // Storybook darker blue for hover
  }
}

table {
  height: auto !important;
  border: 2px solid $border-gray;

  &,
  tr,
  th,
  td {
    border: solid 2px $border-gray;
    background: $bg-basic-color;
    border-collapse: collapse;
    vertical-align: middle;
  }

  tr,
  th,
  td {
    padding: 5px;
  }

  caption {
    background-color: $bg-light-gray;
    overflow: hidden;
    padding: 10px;
    font-size: $font-big;
    font-weight: bold;
    margin-left: 0;
  }

  tr {
    border: none;
  }

  th,
  td {
    border-width: 2px 0 0 2px;
  }

  th {
    background-color: lighten($bg-light-gray, 5%);
    font-size: $font-normal;
    font-weight: bold;
    padding: 7px;

    &:first-child {
      border-left: 0;
    }
  }

  td {
    &:first-child {
      border-left: 0;
    }
  }
}
