.product-spotlight {
  @include gpn-spacing([ 'padding-top', 'padding-bottom'], 'xxl');
  .price-offer {
    @include make-col(12);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .price-offer-intro {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: gpn-spacing-size('sm', 'xs');
      @include gpn-spacing([ 'padding-bottom'], 'md');
      @include make-col(12);

      @include media-breakpoint-up(md) {
        @include make-col(10);
        @include make-col-offset(1);
      }

      .title {
        @extend %h-xl;
      }

      .tag,
      .details {
        &,
        p {
          @extend %p-md;
        }
      }
    }

    .price-offer-content {
      display: flex;
      @include gpn-spacing([ 'gap'], 'sm');
      flex-direction: column;
      width: 100%;

      @include media-breakpoint-up(md) {
        flex-direction: row;
      }

      .spotlight {
        @include make-col(12);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: gpn-spacing-size('sm', 'sm');

        @include media-breakpoint-up(md) {
          flex-direction: inherit;
          flex-wrap: nowrap;
        }

        .list {
          @include make-col(12);
          @include make-col-offset(0);
          @include media-breakpoint-up(md) {
            @include make-col(6);
            @include make-col-offset(1);
          }

          border-radius: map-get($gpn-theme-plan-price-card, 'spotlight-border-radius');
          display: flex;
          flex-direction: column;
          gap: gpn-spacing-size('sm', 'sm');

          @include gpn-spacing([ 'padding'], 'lg');

          .check-marked-list {
            @include gpn-spacing([ 'padding-left'], 'xs');
            gap: gpn-spacing-size('lg', 'md');
            row-gap: gpn-spacing-size('sm', 'xxs');
            @include gpn-spacing([ 'margin-top', 'margin-bottom'], 'xxs');

            @include media-breakpoint-up(md) {
              display: flex;
              flex-direction: column;
              flex-wrap: wrap;
              max-height: map-get(
                $gpn-theme-plan-price-card,
                'check-marked-list-max-height-tablet'
              );
            }

            @include media-breakpoint-up(lg) {
              max-height: map-get(
                $gpn-theme-plan-price-card,
                'check-marked-list-max-height-desktop'
              );
            }

            li {
              @extend %p-md;

              @include media-breakpoint-up(md) {
                flex: 0 0 auto;
                width: calc(50% - px-to-rem(16));
                margin-bottom: 0;
              }

              @include media-breakpoint-up(md) {
                width: calc(50% - px-to-rem(8));
              }

              &:last-child {
                margin-bottom: 0;
              }
            }
          }
          &.no-spacer{
            @include make-col-offset(0);
            @include media-breakpoint-up(md) {
              @include make-col(5);
              @include make-col-offset(0);
            }
          }
        }

        .price-content {
          @include make-col(12);
          @include media-breakpoint-up(md) {
            @include make-col(3);
          }

          .pricing-card {
            height: 100%;
            background: white;
            border-radius: $gpn-theme-radius-xl;
            @include gpn-spacing([ 'padding-left', 'padding-right'], 'lg');
            @include gpn-spacing([ 'padding-top', 'padding-bottom'], 'xl');
            display: flex;
            flex-direction: column;
            @include gpn-spacing([ 'gap'], 'sm');

            .pricing-card-header {
              display: flex;
              flex-direction: column;
              @include gpn-spacing([ 'gap'], 'xs');

              .price-display {
                @extend %h-xl;
                color: $gpn-theme-blue;
              }

              .price-description {
                @extend %p-md;
              }
            }

            .pricing-card-divider {
              height: px-to-rem(1);
              background-color: $gpn-theme-grey-400;
              width: 100%;
            }

            .pricing-card-footer {
              display: flex;
              flex-direction: column;
              @include gpn-spacing([ 'gap'], 'xs');

              .interest-statement {
                @extend %label-lg;
              }

              .payment-text {
                @extend %h-xs;
              }
            }
          }
        }

        .image-wrapper {
          background-image: $gpn-theme-stack-pattern;
          border-radius: $gpn-theme-radius-lg;
          background-size: cover;
          align-content: flex-end;
          min-height: map-get($gpn-theme-plan-price-card, 'image-height-mobile');
          @include make-col(12);
          @include make-col-offset(0);
          @include media-breakpoint-up(md) {
            min-height: map-get($gpn-theme-plan-price-card, 'image-height-tablet');
          }
          @include media-breakpoint-up(md) {
            @include make-col(4);
            @include make-col-offset(0);
            min-height: map-get($gpn-theme-plan-price-card, 'image-height-desktop');
          }

          img {
            position: relative;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: $gpn-theme-radius-lg;
          }

          &.no-spacer{
            @include make-col-offset(0);
            @include media-breakpoint-up(md) {
              @include make-col-offset(0);
            }
          }
        }

        &.no-content-section{
          justify-content: center;
        }
      }
    }
  }

  &.reverse-layout {
    .price-offer-content .spotlight {
      .price-content {
        order: 3;
        @include media-breakpoint-up(md) {
          @include make-col-offset(0);
        }
      }

      .list {
        order: 2;
        @include media-breakpoint-up(md) {
          @include make-col-offset(0);
        }
      }

      .image-wrapper {
        order: 1;
        @include media-breakpoint-up(md) {
          @include make-col-offset(1);
        }
      }
    }
  }

  .cta-list {
    padding-top: 0;
    justify-content: center;
  }
}
