%list-block{
    display: flex;
    flex-direction: column;
    gap : gpn-spacing-size("lg", "xs");
    margin-top: gpn-spacing-size("lg", "sm");;
    @include media-breakpoint-up(md) {
        flex-direction: row;    
    }

    .icon {
        @extend %h-md;
    }

    .text-section {
        display: flex;
        flex-direction: column;
    }
}

.icon-container {
    @extend %list-block;

    .icon{
        width: 9.6rem;
        height: 9.6rem;
        aspect-ratio: map-get($gpn-theme-media-banner, "media-section-aspect-ratio");;
    }

    .text-section {
        gap : gpn-spacing-size("lg", "xs");
    }
}

.step-container {
    @extend %list-block;
    margin-top: 0;
    margin-bottom: gpn-spacing-size("lg", "xs");;
    gap : gpn-spacing-size("lg", "xxs");
    @include media-breakpoint-up(md) {
        flex-direction: column;
    }
    @include media-breakpoint-up(lg) {
        flex-direction: row;
        gap : gpn-spacing-size("lg", "xl");
        margin-bottom: 0;
    }

    .icon{
        width: 2.4rem;
        line-height: 1;
    }
    
    .text-section {
        gap : gpn-spacing-size("lg", "xxxs");
    }
}