.circle {
  aspect-ratio: map-get($gpn-theme-media-banner, 'media-section-aspect-ratio');

  img,
  video {
    object-fit: cover;
    border-radius: 50%;
  }
}

.square {
  aspect-ratio: map-get($gpn-theme-media-banner, 'media-section-aspect-ratio');

  img,
  video {
    object-fit: cover;
  }
}

.callout {
  aspect-ratio: map-get($gpn-theme-media-banner, 'callout-media-section-aspect-ratio');

  img,
  video {
    position: absolute;
    object-fit: cover;
  }
}

.widget {
  aspect-ratio: map-get($gpn-theme-media-banner, 'widget-media-section-aspect-ratio');

  img,
  video {
    object-fit: cover;
  }
}
