&.parallax {
  .media-section {
    img {
      position: absolute;
      width: 90%;
      height: 90%;
    }
  }

  // Circle variant
  .parallax-circle {
    pointer-events: none;
    margin-top: auto;
    margin-bottom: auto;
    width: 90%;
    height: 90%;
    border: map-get($gpn-theme-media-banner, 'parallax-border-width') solid
      map-get($gpn-theme-media-banner, 'parallax-outline-color');
    border-radius: 50%;
    background-color: transparent;
    padding: inherit;
    transform: translate(0, 0);
  }

  // Square variant
  .parallax-square {
    pointer-events: none;
    margin-top: auto;
    margin-bottom: auto;
    width: 90%;
    height: 90%;
    border: map-get($gpn-theme-media-banner, 'parallax-border-width') solid
      map-get($gpn-theme-media-banner, 'parallax-outline-color');
    background-color: transparent;
    padding: inherit;
    transform: translate(0, 0);
  }
  .callout {
    .callout-rectangle {
      top: 5%;
    }
  }
}
