@import '@styles/utilities/functions';
@import '@styles/themes/colors';
@import '@styles/utilities/mixins';

.content-cards-component {
  @include gpn-spacing([ 'padding-top', 'padding-bottom'], 'lg');

  .row {
    row-gap: gpn-spacing-size('sm', 'sm');
  }

  .content-card-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .content-card {
      .ec-clickable-card {
        height: 100%;
      }

      &.two-in-row {
        @include make-col(12);
        @include media-breakpoint-up(md) {
          @include make-col(6);
        }
      }
      &.three-in-row {
        @include make-col(12);
        @include media-breakpoint-up(md) {
          @include make-col(6);
        }
        @include media-breakpoint-up(lg) {
          @include make-col(4);
        }
      }
      &.four-in-row {
        @include make-col(12);
        @include media-breakpoint-up(md) {
          @include make-col(6);
        }
        @include media-breakpoint-up(lg) {
          @include make-col(3);
        }
      }

      .content-card-wrapper {
        text-decoration: none;
        height: 100%;
        display: flex;
        flex-direction: column;

        .card-inner {
          @include gpn-spacing('padding', 'sm');
          display: flex;
          flex-direction: column;
          gap: gpn-spacing-size('sm', 'xs');
          justify-content: space-between;
          flex-grow: 1;
          height: 100%;
        }
      }
    }
  }

  .title {
    @extend %p-xl;
  }
  .ec-clickable-card .title {
    @extend %p-lg;
    font-weight: map-get($gpn-theme-content-card, 'title-font-without-action');
  }

  .tag {
    @extend %p-md;
  }

  @import '../../styles/clickable-cards/background';
}
