.footer {
  @include gpn-spacing([ 'padding-top', 'padding-bottom'], 'xxl');

  .first-row {
    display: flex;
    flex-direction: column;
    @include gpn-spacing([ 'row-gap'], 'xxl');

    @include media-breakpoint-up(sm) {
      flex-direction: row;
    }
  }

  // layout
  .logo-column {
    @include make-col(12);
    @include media-breakpoint-up(md) {
      @include make-col(4);
    }

    img {
      max-width: map-get($gpn-theme-footer, 'logo-max-width');
    }
  }

  .links-column {
    @include make-col(12);
    @include media-breakpoint-up(sm) {
      @include make-col(6);
    }
    @include media-breakpoint-up(md) {
      @include make-col(4);
    }

    .first-set-links,
    .second-set-links {
      @include make-col(12);
      @include media-breakpoint-up(md) {
        @include make-col(6);
      }

      ul{
        margin-bottom: 0;
        @include media-breakpoint-up(md) {
          @include gpn-spacing([ 'margin-bottom'], 'lg');
        }

        li:last-child{
          @include media-breakpoint-up(md) {
            @include gpn-spacing('margin-bottom', 'xxs');
          }
        }
      }
    }

    .second-set-links {
      ul {
        li:last-child{
          margin-bottom: 0;
        }
      }
    }
  }

  .cta-column {
    @include make-col(12);
    @include media-breakpoint-up(sm) {
      @include make-col(3);
    }
    @include media-breakpoint-up(md) {
      @include make-col(2);
    }

    .btn {
      font-weight: $gpn-theme-font-weight-medium;
    }
  }

  .social-column {
    @include make-col(12);
    @include media-breakpoint-up(sm) {
      @include make-col(3);
    }
    @include media-breakpoint-up(md) {
      @include make-col(2);
    }
  }

  .middle-content-section {
    .left-column,
    .middle-column,
    .right-column {
      @include make-col(12);
      @include media-breakpoint-up(md) {
        @include make-col(4);
      }
    }
  }
  // end layout

  hr {
    @include gpn-spacing([ 'margin-top', 'margin-bottom'], 'md');
    @include media-breakpoint-up(md) {
      @include gpn-spacing([ 'margin-bottom'], 'lg');
      @include gpn-spacing([ 'margin-top'], 'md');
    }
    color: $gpn-theme-black;
  }

  .logo-column {
    display: flex;
    flex-direction: column;
    @include gpn-spacing('gap', 'md');
  }

  .links-column,
  .social-column {
    ul {
      padding-left: unset;
      list-style: none;

      li {
        @extend %p-xs;
        @include gpn-spacing('margin-bottom', 'xxs');
      }
    }
    a {
      text-decoration: none;
    }
  }

  .social-column {
    display: flex;
    flex-direction: column;
    @include gpn-spacing('gap', 'md');
  }

  .social-links {
    a {
      display: flex;
      align-items: center;
    }
    img {
      vertical-align: middle;
      @include gpn-spacing([ 'margin-right'], 'xxs');
    }

    .image-text-container {
      display: flex;
      align-items: center;
    }
  }

  p,
  span:not(.link-inner) {
    @extend %p-xs;
  }

  .middle-content-section {
    p {
      @extend %p-md;
      @include gpn-spacing([ 'margin-bottom'], 'xxs');
    }

    .title {
      @extend %h-sm;
      @include gpn-spacing([ 'margin-bottom'], 'xxs');
    }

    .details {
      @include gpn-spacing([ 'margin-bottom'], 'xxs');
    }

    gap: $grid-gutter-width;
    @include media-breakpoint-up(md) {
      gap: unset;
    }

    a {
      @extend %p-md;
    }

    .right-column {
      a {
        text-decoration: underline !important;

        &:hover {
          text-decoration: none !important;
        }
      }
    }
  }

  .column-title,
  .cta-title {
    @extend %h-footer;
    @include gpn-spacing('margin-bottom', 'sm');
  }

  .subscribe-cta-text {
    @extend %p-xs;
    p {
      display: inline;
    }

    a {
      @include gpn-spacing([ 'margin-left'], 'xxs');
    }
  }

  .disclaimer {
    p {
      @include gpn-spacing([ 'margin-bottom'], 'xs');

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .copyright-container {
    .links {
      @include gpn-spacing('margin-left', 'xs');

      @include media-breakpoint-down(sm) {
        display: block;
        @include gpn-spacing([ 'margin-top'], 'xxs');
      }
    }

    .copyright{
      @extend %p-xs;
    }

    .copyright-text {
      @extend %p-xs;
      @include gpn-spacing([ 'margin-left'], 'xxxx');
    }
  }
}

@each $theme, $details in $gpn-theme-colour-themes {
  .bg-#{$theme} {
    $textColour: map-get($details, 'text');
    $linkColour: map-get($details, 'link');
    $linkHoverColour: lighten($linkColour, 30%);

    @if (is-dark-theme-colour($theme)) {
      $linkHoverColour: darken($linkColour, 30%);

      .cta-column{
        .btn{
          color: $gpn-theme-white;
        } 
      }
    }

    hr {
      color: map-get($details, 'text');
    }

    .links-column,
    .social-column,
    .middle-content-section {
      a,
      a > span,
      p a,
      a:not(.btn):not(.link-glow) {
        @include footerlink($linkColour);
      }
    }

    .copyright-container {
      a,
      a > span,
      a:not(.btn):not(.link-glow) {
        @include link($linkColour, $linkHoverColour);
      }
    }

    .third-row .bottom-section .links ul li:not(:last-child)::after {
      color: $linkColour;
    }
  }

  .third-row {
    .bottom-section {
      display: flex;
      flex-direction: column;
      @include gpn-spacing('gap', 'sm');

      @include media-breakpoint-up(md) {
        flex-direction: row;
        justify-content: space-between;
      }

      .links {
        @include make-col(12);
        @include media-breakpoint-up(md) {
          @include gpn-spacing([ 'padding-left', 'padding-right'], 'xs');
          @include make-col(4);
        }

        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          display: flex;
          flex-wrap: wrap;
          align-items: center;

          li {
            display: inline-flex;
            align-items: center;
            @extend %p-xs;
            margin-bottom: 0;

            &:not(:last-child)::after {
              content: map-get($gpn-theme-footer, 'link-list-separator');
              @include gpn-spacing([ 'margin-left', 'margin-right'], 'xxs');
            }

            a {
              text-decoration: underline !important;

              &:hover {
                text-decoration: none !important;
              }
            }
          }
        }

         span a {
          display: inline-block;
          line-height: map-get($gpn-theme-footer, 'line-height-bottom-section-links');
        }
      }
    }
  }
}
