@each $theme, $details in $gpn-theme-colour-themes {
  &.bg-#{$theme},
  .bg-#{$theme} & {
    @if is-dark-theme-colour($theme) {
      .blog-card-carousel-arrow-back {
        &::before {
          background-image: $gpn-theme-icon-arrow-prev-white !important;
        }

        &.slick-disabled {
          &::before {
            background-image: $gpn-theme-icon-arrow-disable-light !important;
          }
        }
      }

      .blog-card-carousel-arrow-next {
        &::after {
          background-image: $gpn-theme-icon-arrow-next-white !important;
        }

        &.slick-disabled {
          &::after {
            transform: rotate(180deg);
            background-image: $gpn-theme-icon-arrow-disable-light !important;
          }
        }
      }
    } @else if is-light-theme-colour($theme) {
      .blog-card-carousel-arrow-back {
        &::before {
          background-image: $gpn-theme-icon-arrow-prev-base !important;
        }

        &.slick-disabled {
          &::before {
            background-image: $gpn-theme-icon-arrow-disable-dark !important;
          }
        }
      }

      .blog-card-carousel-arrow-next {
        &::after {
          background-image: $gpn-theme-icon-arrow-next-base !important;
        }

        &.slick-disabled {
          &::after {
            transform: rotate(180deg);
            background-image: $gpn-theme-icon-arrow-disable-dark !important;
          }
        }
      }
    }

    .slick-slider {
      &::after {
        @include media-breakpoint-up(md) {
          @include blog-card-overlap-background-gradient(map-get($details, 'background'));
        }
      }
    }

    .ec-clickable-card:hover {
      .text-breadcrumb {
        .btn-cta-secondary {
          color: get-theme-colour-for($theme, $details) !important;

          &:hover {
            color: $gpn-theme-black !important;
          }
        }

        .tag a:hover {
          text-decoration-color: get-theme-colour-for($theme, $details) !important;
        }
      }
    }
  }
}
