&.default {
  .media-section {
    @include make-col(12);

    @include media-breakpoint-up(md) {
      @include make-col(8);
    }
  }
  .copy-section {
    @include make-col(12);

    @include media-breakpoint-up(md) {
      @include make-col(4);
    }
  }

  &.reverse-layout {
    .media-section {
      order: 2;
    }
    .copy-section {
      order: 1;
    }
  }
}
