&.offset-outer-4x5 {
  .row {
    @include media-breakpoint-up(sm) {
      justify-content: center;
    }
  }

  .media-section {
    @include make-col(12);

    @include media-breakpoint-up(sm) {
      @include make-col(8);
    }

    @include media-breakpoint-up(md) {
      @include make-col(4);
    }
  }
  .copy-section {
    @include make-col(12);

    @include media-breakpoint-up(md) {
      @include make-col(5);
      @include make-col-offset(1);
    }
  }

  &.reverse-layout {
    .media-section {
      order: 2;
      @include media-breakpoint-up(md) {
        @include make-col-offset(1);
      }
    }
    .copy-section {
      @include media-breakpoint-up(md) {
        @include make-col-offset(0);
      }
      order: 1;
    }
  }
}
