&.card-carousel {
    &.quote-color-bright {
        .left-quote::before {
            background: $gpn-theme-icon-quote-open-bright no-repeat center center;
        }

        .right-quote::before {
            background: $gpn-theme-icon-quote-close-bright no-repeat center center;
        }

        .slick-dots{ 
            li.slick-active button {
                background-color: $gpn-theme-bright;
            }	
        }        
    }
}