@each $theme, $details in $gpn-theme-colours {
  $quoteCardTheme: map-get($gpn-theme-quote-cards, $theme);
  @if $quoteCardTheme != null {
    &.bg-#{$theme} {
      .left-quote::before {
        background: map-get($quoteCardTheme, 'quote-open-icon') no-repeat center center;
      }
      .right-quote::before {
        background: map-get($quoteCardTheme, 'quote-close-icon') no-repeat center center;
      }
      .slick-dots {
        li {
          button {
            background-color: map-get($quoteCardTheme, 'background');
          }

          &.slick-active {
            button {
              background-color: map-get($quoteCardTheme, 'selected-background');
            }
          }
        }
      }
    }
  }
}
