.contact-form {
  font-family: 'GPCommerce', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  
  @include respond-to(mobile-large) {
    padding-left: $size-padding;
    padding-right: $size-padding;
  }

  .container-widest-fluid {
    position: relative;
    border-radius: var(--roundness);
    overflow: hidden;
    padding-top: 8rem;
    padding-bottom: 8rem;

    @include respond-to(mobile-large) {
      padding: 4rem 1rem;
    }
  }

  img {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 1;
  }

  &-inner {
    position: relative;
    padding: 3rem;
    max-width: 30rem;
    border-radius: var(--roundness);
    background-color: var(--bg-body);
    z-index: 2;
  }

  form {
    display: flex;
    flex-direction: column;

    input[type='text'],
    textarea {
      font-family: 'GPCommerce', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 1.8rem; // Storybook body font size
      color: #0C0C0C; // Storybook text color
      border: 1px solid var(--border-color);
      border-radius: var(--roundness);
      margin-bottom: 1rem;
      padding: 1rem 1rem 0.75rem;
    }

    input[type='submit'] {
      // Apply Storybook button styles directly
      display: inline-block;
      font-family: 'GPCommerce', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-weight: 500;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      user-select: none;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      border: 2px solid #262AFF;
      border-radius: 50px;
      padding: 16px 24px;
      font-size: 18px;
      line-height: 1.5;
      background-color: #262AFF;
      color: #FFFFFF;
      align-self: flex-end;
      
      &:hover:not(:disabled) {
        background-color: #1B1EC6;
        border-color: #1B1EC6;
      }
      
      &:active:not(:disabled) {
        background-color: #1517A3;
        border-color: #1517A3;
      }
      
      &:focus {
        outline: 2px solid #262AFF;
        outline-offset: 2px;
      }
      
      &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
        pointer-events: none;
      }
    }
  }
}
