.breadcrumb {
  font-family: 'GPCommerce', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  @extend .overflow-hidden;
  @extend .bg-transparent;
  @extend .pt-5;

  .breadcrumb-back {
    display: inline-flex;
    align-items: center;
    font-family: 'GPCommerce', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #333;
    text-decoration: none;
    line-height: 1.5;

    &::before {
      content: '';
      display: inline-block;
      width: 14px;
      height: 12px;
      margin-right: 8px;
      background-image: url('../../icons/arrow-left-back-icon-dark.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      vertical-align: middle;
    }

    &:hover {
      color: #262AFF;
      text-decoration: none;
    }
  }
}
