// ==========
// Animations
// ==========

$gpn-theme-animation-duration-default: 1s !default;
$gpn-theme-enable-prefers-reduced-motion-media-query: false !default;
$gpn-theme-animation-fill-mode: both;
$gpn-theme-default-transition: all 0.3s ease-in-out;
