// =======
// Buttons
// =======

$gpn-theme-btn-padding-x: 2.4rem !default;
$gpn-theme-btn-padding-y: 2rem !default;
$gpn-theme-btn-font-size: 1.6rem !default;
$gpn-theme-btn-line-height: 1 !default;

$gpn-theme-btn-padding-x-sm: 2rem !default;
$gpn-theme-btn-padding-y-sm: 1.4rem !default;
$gpn-theme-btn-font-size-sm: 1.6rem !default;

$gpn-theme-btn-padding-x-lg: $gpn-theme-btn-padding-x !default;
$gpn-theme-btn-padding-y-lg: $gpn-theme-btn-padding-y !default;
$gpn-theme-btn-font-size-lg: 1.6rem !default;

$gpn-theme-btn-radius: 5.6rem !default;
$gpn-theme-btn-radius-sm: 5rem !default;
$gpn-theme-btn-radius-lg: 5.6rem !default;

$gpn-theme-btn-border-width: 2px !default;

$gpn-theme-btn-icon-spacing: 0.8rem;

// Buttons
$gpn-theme-button-base: (
  'background-colour': $gpn-theme-base,
  'text-colour': $gpn-theme-white,
  'hover-background-colour': darken($gpn-theme-base, 10%),
  'hover-text-colour': $gpn-theme-white,
  'active-background-colour': darken($gpn-theme-base, 10%),
  'active-text-colour': $gpn-theme-white,
) !default;

$gpn-theme-button-dark: (
  'background-colour': $gpn-theme-dark,
  'text-colour': $gpn-theme-white,
  'hover-background-colour': lighten($gpn-theme-dark, 10%),
  'hover-text-colour': $gpn-theme-white,
  'active-background-colour': lighten($gpn-theme-dark, 10%),
  'active-text-colour': $gpn-theme-white,
) !default;

$gpn-theme-button-white: (
  'background-colour': $gpn-theme-white,
  'text-colour': $gpn-theme-black,
  'hover-background-colour': darken($gpn-theme-white, 10%),
  'hover-text-colour': $gpn-theme-black,
  'active-background-colour': darken($gpn-theme-white, 10%),
  'active-text-colour': $gpn-theme-black,
) !default;

$gpn-theme-button-black: (
  'background-colour': $gpn-theme-black,
  'text-colour': $gpn-theme-white,
  'hover-background-colour': lighten($gpn-theme-black, 10%),
  'hover-text-colour': $gpn-theme-white,
  'active-background-colour': lighten($gpn-theme-black, 10%),
  'active-text-colour': $gpn-theme-white,
);

$gpn-theme-buttons: (
  'base': $gpn-theme-button-base,
  'dark': $gpn-theme-button-dark,
  'white': $gpn-theme-button-white,
  'black': $gpn-theme-button-black,
) !default;

// Outline buttons
$gpn-theme-outline-button-base: (
  'border-colour': $gpn-theme-base,
  'text-colour': $gpn-theme-off-black,
  'hover-text-colour': $gpn-theme-white,
  'active-background-colour': $gpn-theme-base,
  'active-border-colour': $gpn-theme-base,
  'active-text-colour': $gpn-theme-white,
) !default;
$gpn-theme-outline-button-dark: (
  'border-colour': $gpn-theme-dark,
  'text-colour': $gpn-theme-white,
  'hover-text-colour': $gpn-theme-white,
  'active-background-colour': $gpn-theme-dark,
  'active-border-colour': $gpn-theme-dark,
  'active-text-colour': $gpn-theme-white,
) !default;
$gpn-theme-outline-button-white: (
  'border-colour': $gpn-theme-white,
  'text-colour': $gpn-theme-white,
  'hover-text-colour': $gpn-theme-black,
  'active-background-colour': $gpn-theme-white,
  'active-border-colour': $gpn-theme-white,
  'active-text-colour': $gpn-theme-black,
) !default;
$gpn-theme-outline-button-black: (
  'border-colour': $gpn-theme-black,
  'text-colour': $gpn-theme-black,
  'hover-text-colour': $gpn-theme-white,
  'active-background-colour': $gpn-theme-black,
  'active-border-colour': $gpn-theme-black,
  'active-text-colour': $gpn-theme-white,
) !default;

$gpn-theme-outline-button-taxonomy: (
  'border-colour': $gpn-theme-black,
  'text-colour': $gpn-theme-black,
  'hover-text-colour': $gpn-theme-white,
  'active-background-colour': $gpn-theme-black,
  'active-border-colour': $gpn-theme-black,
  'active-text-colour': $gpn-theme-white,
) !default;

$gpn-theme-outline-buttons: (
  'base': $gpn-theme-outline-button-base,
  'dark': $gpn-theme-outline-button-dark,
  'white': $gpn-theme-outline-button-white,
  'black': $gpn-theme-outline-button-black,
) !default;

// CTA Buttons
$gpn-theme-button-cta-primary: (
  'button-type': 'filled',
  'default': (
    'background-colour': $gpn-theme-base,
    'text-colour': $gpn-theme-white,
    'hover-background-colour': darken($gpn-theme-base, 10%),
    'hover-text-colour': $gpn-theme-white,
    'active-background-colour': darken($gpn-theme-base, 10%),
    'active-text-colour': $gpn-theme-white,
  ),
  'black': (
    'background-colour': $gpn-theme-blue,
    'text-colour': $gpn-theme-white,
    'hover-background-colour': darken($gpn-theme-blue, 10%),
    'hover-text-colour': $gpn-theme-white,
    'active-background-colour': darken($gpn-theme-blue, 10%),
    'active-text-colour': $gpn-theme-white,
  ),
  'light': (
    'background-colour': $gpn-theme-base,
    'text-colour': $gpn-theme-white,
    'hover-background-colour': darken($gpn-theme-base, 10%),
    'hover-text-colour': $gpn-theme-white,
    'active-background-colour': darken($gpn-theme-base, 10%),
    'active-text-colour': $gpn-theme-white,
  ),
  'dark': (
    'background-colour': $gpn-theme-white,
    'text-colour': $gpn-theme-off-black,
    'hover-background-colour': $gpn-theme-subtle,
    'hover-text-colour': $gpn-theme-off-black,
    'active-background-colour': $gpn-theme-subtle,
    'active-text-colour': $gpn-theme-off-black,
  ),
  'theme-matches': (
    'background-colour': $gpn-theme-white,
    'text-colour': $gpn-theme-off-black,
    'hover-background-colour': $gpn-theme-subtle,
    'hover-text-colour': $gpn-theme-off-black,
    'active-background-colour': $gpn-theme-subtle,
    'active-text-colour': $gpn-theme-off-black,
  ),
) !default;

$gpn-theme-button-cta-secondary: (
  'button-type': 'outline',
  'default': (
    'border-colour': $gpn-theme-base,
    'text-colour': $gpn-theme-black,
    'hover-text-colour': $gpn-theme-white,
    'active-background-colour': $gpn-theme-base,
    'hover-background-colour': $gpn-theme-base,
    'active-border-colour': $gpn-theme-base,
    'active-text-colour': $gpn-theme-white,
  ),
  'black': (
    'border-colour': $gpn-theme-blue,
    'text-colour': $gpn-theme-white,
    'hover-text-colour': $gpn-theme-white,
    'active-background-colour': $gpn-theme-blue,
    'hover-background-colour': $gpn-theme-blue,
    'active-border-colour': $gpn-theme-blue,
    'active-text-colour': $gpn-theme-white,
  ),
  'light': (
    'border-colour': $gpn-theme-base,
    'text-colour': $gpn-theme-black,
    'hover-text-colour': $gpn-theme-white,
    'active-background-colour': $gpn-theme-base,
    'hover-background-colour': $gpn-theme-base,
    'active-border-colour': $gpn-theme-base,
    'active-text-colour': $gpn-theme-white,
  ),
  'dark': (
    'border-colour': $gpn-theme-white,
    'text-colour': $gpn-theme-white,
    'hover-text-colour': $gpn-theme-black,
    'active-background-colour': $gpn-theme-white,
    'hover-background-colour': $gpn-theme-white,
    'active-border-colour': $gpn-theme-white,
    'active-text-colour': $gpn-theme-black,
  ),
  'theme-matches': (
    'border-colour': $gpn-theme-white,
    'text-colour': $gpn-theme-white,
    'hover-text-colour': $gpn-theme-black,
    'active-background-colour': $gpn-theme-white,
    'hover-background-colour': $gpn-theme-white,
    'active-border-colour': $gpn-theme-white,
    'active-text-colour': $gpn-theme-black,
  ),
) !default;

$gpn-theme-button-cta-tertiary: (
  'button-type': 'arrow',
  'default': (
    'text-colour': $gpn-theme-off-black,
    'hover-text-colour': $gpn-theme-blue,
    'arrow-icon': $gpn-theme-icon-arrow-base-w,
  ),
  'black': (
    'text-colour': $gpn-theme-white,
    'hover-text-colour': $gpn-theme-white,
    'arrow-icon': $gpn-theme-icon-arrow-base-w,
  ),
  'light': (
    'text-colour': $gpn-theme-off-black,
    'hover-text-colour': $gpn-theme-blue,
    'arrow-icon': $gpn-theme-icon-arrow-base-w,
  ),
  'dark': (
    'text-colour': $gpn-theme-white,
    'hover-text-colour': $gpn-theme-white,
    'arrow-icon': $gpn-theme-icon-arrow-white-w,
  ),
  'theme-matches': (
    'text-colour': $gpn-theme-white,
    'hover-text-colour': darken($gpn-theme-white, 20%),
    'arrow-icon': $gpn-theme-icon-arrow-white-w,
  ),
) !default;

$gpn-theme-button-cta-appstore: (
  'button-type': 'store',
  'default': (
    'icon': $gpn-theme-icon-appstore,
  ),
) !default;

$gpn-theme-button-cta-googleplay: (
  'button-type': 'store',
  'default': (
    'icon': $gpn-theme-icon-googleplay,
  ),
) !default;

$gpn-theme-cta-buttons: (
  'primary': $gpn-theme-button-cta-primary,
  'secondary': $gpn-theme-button-cta-secondary,
  'tertiary': $gpn-theme-button-cta-tertiary,
  'appstore': $gpn-theme-button-cta-appstore,
  'googleplay': $gpn-theme-button-cta-googleplay,
) !default;

// Glow buttons
$gpn-theme-glow-base-font-size: 1.6rem !default;

$gpn-theme-glow-base: (
  'background': $gpn-theme-base,
  'text': $gpn-theme-black,
  'text-hover': $gpn-theme-white,
  'dark-background-text': $gpn-theme-white,
  'dark-background-text-hover': $gpn-theme-white,
  'theme-matches-glow-colour-alternative-background': $gpn-theme-dark,
  'theme-matches-glow-colour-alternative-icon': $gpn-theme-icon-pill-glow-base,
  'image': $gpn-theme-icon-glow-base,
) !default;

$gpn-theme-glow-bright: (
  'background': $gpn-theme-bright,
  'text': $gpn-theme-black,
  'text-hover': $gpn-theme-black,
  'dark-background-text': $gpn-theme-white,
  'dark-background-text-hover': $gpn-theme-black,
  'theme-matches-glow-colour-alternative-background': $gpn-theme-darker-bright,
  'theme-matches-glow-colour-alternative-icon': $gpn-theme-icon-glow-darker-bright,
  'image': $gpn-theme-icon-glow-bright,
) !default;

$glow-arrows: (
  'base': $gpn-theme-glow-base,
  'bright': $gpn-theme-glow-bright,
) !default;

$gpn-theme-headline-arrow-button: (
  'default': (
    'textColour': $gpn-theme-black,
    'textHoverColour': $gpn-theme-base,
    'arrow-icon': $gpn-theme-icon-arrow-base-w,
    'arrow-location': 'before',
  ),
  'light': (
    'textColour': $gpn-theme-black,
    'textHoverColour': $gpn-theme-base,
    'arrow-icon': $gpn-theme-icon-arrow-base-w,
  ),
  'black': (
    'textColour': $gpn-theme-white,
    'textHoverColour': $gpn-theme-white,
    'arrow-icon': $gpn-theme-icon-arrow-base-w,
  ),
  'dark': (
    'textColour': $gpn-theme-white,
    'textHoverColour': $gpn-theme-base,
    'arrow-icon': $gpn-theme-icon-arrow-white-w,
  ),
  'base': (
    'textColour': $gpn-theme-white,
    'textHoverColour': $gpn-theme-white,
    'arrow-icon': $gpn-theme-icon-arrow-white-w,
  ),
) !default;

$gpn-theme-listitem-arrow-button: (
  'default': (
    'textColour': $gpn-theme-black,
    'textHoverColour': $gpn-theme-base,
    'arrow-icon': $gpn-theme-icon-arrow-blue,
  ),
  'light': (
    'textColour': $gpn-theme-black,
    'textHoverColour': $gpn-theme-base,
    'arrow-icon': $gpn-theme-icon-arrow-blue,
  ),
  'black': (
    'textColour': $gpn-theme-white,
    'textHoverColour': $gpn-theme-white,
    'arrow-icon': $gpn-theme-icon-arrow-base-w,
  ),
  'dark': (
    'textColour': $gpn-theme-white,
    'textHoverColour': $gpn-theme-base,
    'arrow-icon': $gpn-theme-icon-arrow-white-w,
  ),
  'base': (
    'textColour': $gpn-theme-white,
    'textHoverColour': $gpn-theme-white,
    'arrow-icon': $gpn-theme-icon-arrow-white-w,
  ),
) !default;

$gpn-theme-with-arrow-button: (
  'default': (
    'textColour': $gpn-theme-black,
    'textHoverColour': $gpn-theme-base,
    'arrow-icon': $gpn-theme-icon-arrow-base-nw,
  ),
  'light': (
    'textColour': $gpn-theme-black,
    'textHoverColour': $gpn-theme-base,
    'arrow-icon': $gpn-theme-icon-arrow-base-nw,
  ),
  'black': (
    'textColour': $gpn-theme-white,
    'textHoverColour': $gpn-theme-white,
    'arrow-icon': $gpn-theme-icon-arrow-base-nw,
  ),
  'dark': (
    'textColour': $gpn-theme-white,
    'textHoverColour': $gpn-theme-base,
    'arrow-icon': $gpn-theme-icon-white-arrow-nw,
  ),
  'base': (
    'textColour': $gpn-theme-white,
    'textHoverColour': $gpn-theme-white,
    'arrow-icon': $gpn-theme-icon-white-arrow-nw,
  ),
) !default;
