// ============
// Theme Colors
// ============

$gpn-theme-colour-theme-base: (
  'background': $gpn-theme-base,
  'text': $gpn-theme-white,
  'link': $gpn-theme-white,
  'text-on-dark-theme': $gpn-theme-white,
  'text-on-light-theme': $gpn-theme-white,
) !default;

$gpn-theme-colour-theme-dark: (
  'background': $gpn-theme-dark,
  'text': $gpn-theme-off-black,
  'link': $gpn-theme-white,
  'text-on-dark-theme': $gpn-theme-white,
  'text-on-light-theme': $gpn-theme-off-black,
) !default;

$gpn-theme-colour-theme-subtle: (
  'background': $gpn-theme-subtle,
  'text': $gpn-theme-black,
  'link': $gpn-theme-blue,
  'text-on-dark-theme': $gpn-theme-white,
  'text-on-light-theme': $gpn-theme-black,
) !default;

$gpn-theme-colour-theme-linear: (
  'background': $gpn-theme-linear,
  'text': $gpn-theme-black,
  'link': $gpn-theme-blue,
  'text-on-dark-theme': $gpn-theme-white,
  'text-on-light-theme': $gpn-theme-black,
) !default;

$gpn-theme-colour-theme-light: (
  'background': $gpn-theme-light,
  'text': $gpn-theme-off-black,
  'link': $gpn-theme-blue,
  'text-on-dark-theme': $gpn-theme-white,
  'text-on-light-theme': $gpn-theme-off-black,
) !default;

$gpn-theme-colour-theme-faint: (
  'background': $gpn-theme-faint,
  'text': $gpn-theme-off-black,
  'link': $gpn-theme-blue,
  'text-on-dark-theme': $gpn-theme-white,
  'text-on-light-theme': $gpn-theme-off-black,
) !default;

$gpn-theme-colour-theme-white: (
  'background': $gpn-theme-white,
  'text': $gpn-theme-off-black,
  'link': $gpn-theme-blue,
  'text-on-dark-theme': $gpn-theme-white,
  'text-on-light-theme': $gpn-theme-off-black,
) !default;

$gpn-theme-colour-theme-black: (
  'background': $gpn-theme-off-black,
  'text': $gpn-theme-white,
  'link': $gpn-theme-white,
  'text-on-dark-theme': $gpn-theme-white,
  'text-on-light-theme': $gpn-theme-off-black,
) !default;

$gpn-theme-colour-themes: (
  'base': $gpn-theme-colour-theme-base,
  'dark': $gpn-theme-colour-theme-dark,
  'subtle': $gpn-theme-colour-theme-subtle,
  'faint': $gpn-theme-colour-theme-faint,
  'white': $gpn-theme-colour-theme-white,
  'black': $gpn-theme-colour-theme-black,
  'light': $gpn-theme-colour-theme-light,
  'linear': $gpn-theme-colour-theme-linear,
) !default;

// This gives us a mapping for which theme colours are light and which are dark
$gpn-theme-colourtheme-lightdark-mapping: (
  'light': (
    'subtle',
    'faint',
    'white',
    'light',
    'linear',
  ),
  'dark': (
    'base',
    'dark',
    'black',
  ),
) !default;
