$gpn-theme-icon-glow-base-arrow: url(@assets/icons/arrow-glow-base.svg) !default;
$gpn-theme-icon-glow-base: url(@assets/icons/arrow-glow-base.svg) !default;
$gpn-theme-icon-glow-bright: url(@assets/icons/arrow-glow-base.svg) !default;
$gpn-theme-icon-glow-darker-bright: url(@assets/icons/arrow-glow-darker-bright.svg) !default;
$gpn-theme-icon-arrow-base-nw: url(@assets/icons/arrow-base-nw.svg) !default;
$gpn-theme-icon-arrow-bright-nw: url(@assets/icons/arrow-bright-nw.svg) !default;
$gpn-theme-icon-arrow-bright-nw-active: url(@assets/icons/arrow-bright-nw-active.svg) !default;
$gpn-theme-icon-arrow-base-w: url(@assets/icons/arrow-base-w.svg) !default;
$gpn-theme-icon-arrow-white-w: url(@assets/icons/arrow-white-w.svg) !default;
$gpn-theme-icon-arrow-blue: url(@assets/icons/arrow-base-blue.svg) !default;
$gpn-theme-icon-white-arrow-nw: url(@assets/icons/arrow-white-nw.svg) !default;
$gpn-theme-icon-white-arrow-nw-small: url(@assets/icons/arrow-white-nw-small.svg) !default;
$gpn-theme-icon-base-arrow-nw-small: url(@assets/icons/arrow-base-nw-small.svg) !default;
$gpn-theme-icon-blue-nw-small: url(@assets/icons/arrow-blue-nw-small.svg) !default;
$gpn-theme-icon-base-arrow-light-down: url(@assets/icons/arrow-light-down.svg) !default;
$gpn-theme-icon-nav-down: url(@assets/icons/chevron-down.svg) !default;
$gpn-theme-icon-nav-down-base: url(@assets/icons/chevron-down-base.svg) !default;
$gpn-theme-icon-nav-next-base: url(@assets/icons/chevron-next-base.svg) !default;
$gpn-theme-icon-nav-next-base-sm: url(@assets/icons/chevron-next-base-sm.svg) !default;
$gpn-theme-icon-nav-prev-base: url(@assets/icons/chevron-prev-base.svg) !default;
$gpn-theme-icon-nav-prev-base-sm: url(@assets/icons/chevron-prev-base-sm.svg) !default;
$gpn-theme-icon-search-black: url(@assets/icons/search-black.svg) !default;
$gpn-theme-icon-search-base: url(@assets/icons/search-base.svg) !default;
$gpn-theme-icon-search-white: url(@assets/icons/search-white.svg) !default;
$gpn-theme-icon-close-base: url(@assets/icons/close-base.svg) !default;
$gpn-theme-icon-close-base-sm: url(@assets/icons/close-base-sm.svg) !default;
$gpn-theme-icon-close-white: url(@assets/icons/close-white.svg) !default;
$gpn-theme-icon-close-white-sm: url(@assets/icons/close-white-sm.svg) !default;
$gpn-theme-icon-pill-glow-base: url(@assets/icons/arrow-pill-glow-base.svg) !default;
$gpn-theme-icon-plus-base: url(@assets/icons/plus-base.svg) !default;
$gpn-theme-icon-plus-medium: url(@assets/icons/plus-medium.svg) !default;
$gpn-theme-icon-minus-base: url(@assets/icons/minus-base.svg) !default;
$gpn-theme-icon-minus-medium: url(@assets/icons/minus-medium.svg) !default;
$gpn-theme-icon-plus-white: url(@assets/icons/plus-white.svg) !default;
$gpn-theme-icon-minus-white: url(@assets/icons/minus-white.svg) !default;
$gpn-theme-icon-arrow-prev-black: url(@assets/icons/arrow-prev-with-circle-black.svg) !default;
$gpn-theme-icon-arrow-next-black: url(@assets/icons/arrow-next-with-circle-black.svg) !default;
$gpn-theme-icon-arrow-prev-white: url(@assets/icons/arrow-prev-with-circle-white.svg) !default;
$gpn-theme-icon-arrow-next-white: url(@assets/icons/arrow-next-with-circle-white.svg) !default;
$gpn-theme-icon-arrow-disable-light: url(@assets/icons/arrow-disable-with-circle-light.svg) !default;
$gpn-theme-icon-arrow-disable-dark: url(@assets/icons/arrow-disable-with-circle-dark.svg) !default;
$gpn-theme-icon-quote-open-base: url(@assets/icons/quote-open-base.svg) !default;
$gpn-theme-icon-quote-close-base: url(@assets/icons/quote-close-base.svg) !default;
$gpn-theme-icon-quote-open-bright: url(@assets/icons/quote-open-base.svg) !default;
$gpn-theme-icon-quote-close-bright: url(@assets/icons/quote-close-base.svg) !default;
$gpn-theme-icon-quote-open-white: url(@assets/icons/quote-open-white.svg) !default;
$gpn-theme-icon-quote-close-white: url(@assets/icons/quote-close-white.svg) !default;
$gpn-theme-icon-quote-open-dark: url(@assets/icons/quote-open-dark.svg) !default;
$gpn-theme-icon-quote-close-dark: url(@assets/icons/quote-close-dark.svg) !default;
$gpn-theme-icon-list-checkmark-base: url(@assets/icons/list-checkmark-base.svg) !default;
$gpn-theme-icon-tab-nav-arrow: url(@assets/icons/tab-nav-arrow.svg) !default;
$gpn-theme-icon-tab-nav-minus: url(@assets/icons/tab-nav-minus.svg) !default;
$gpn-theme-icon-tab-nav-plus: url(@assets/icons/tab-nav-plus.svg) !default;
$gpn-theme-icon-burgermenu: url(@assets/icons/burger-primary.svg) !default;
$gpn-theme-icon-burgermenu-reverse: url(@assets/icons/burger-white.svg) !default;
$gpn-theme-icon-check-base: url(@assets/icons/check-base.svg) !default;
$gpn-theme-icon-rte-list-arrow: url(@assets/icons/check-base.svg) !default;
$gpn-theme-icon-arrow-prev-base: url(@assets/icons/arrow-prev-with-circle-base.svg) !default;
$gpn-theme-icon-arrow-next-base: url(@assets/icons/arrow-next-with-circle-base.svg) !default;
$gpn-theme-icon-fill-arrow-prev-base: url(@assets/icons/filled-arrow-prev-with-circle-white.svg) !default;
$gpn-theme-icon-fill-arrow-next-base: url(@assets/icons/filled-arrow-next-with-circle-white.svg) !default;
$gpn-theme-icon-appstore: url(@assets/icons/button-appstore.svg) !default;
$gpn-theme-icon-googleplay: url(@assets/icons/button-googleplay.svg) !default;
$gpn-theme-icon-videoplay: url(@assets/icons/button-video-play.svg) !default;
$gpn-theme-icon-chat: url(@assets/icons/chat.svg) !default;
$gpn-theme-open-chat-icon: url(@assets/icons/chat.svg) !default;
$gpn-theme-close-chat-icon: url(@assets/icons/arrow-light-down.svg) !default;
$gpn-theme-arrow-base-left-base: url(@assets/icons/arrow-left-back-icon-base.svg) !default;
$gpn-theme-thumbsup: url(@assets/icons/thumbsup-black.svg) !default;
$gpn-theme-thumbsdown: url(@assets/icons/thumbsdown-black.svg) !default;
$gpn-theme-thumbsup-hover: url(@assets/icons/thumbsup-base.svg) !default;
$gpn-theme-thumbsdown-hover: url(@assets/icons/thumbsdown-base.svg) !default;
$gpn-theme-clock-light: url(@assets/icons/clock-light.svg) !default;
$gpn-theme-icon-arrow-next-white: url(@assets/icons/arrow-next-with-circle-white.svg) !default;
$gpn-theme-icon-arrow-prev-white: url(@assets/icons/arrow-prev-with-circle-white.svg) !default;
$gpn-theme-icon-telephone-white: url(@assets/icons/telephone-white.svg) !default;
$gpn-theme-icon-telephone-black: url(@assets/icons/telephone-black.svg) !default;
$gpn-theme-icon-play-button-white: url(@assets/icons/play-button-white.svg) !default;
$gpn-theme-icon-pause-button-white: url(@assets/icons/pause-button-white.svg) !default;
$gpn-theme-icon-disable-left-arrow: url(@assets/icons/arrow-disable-prev-with-circle-base-arrow-base.svg) !default;
$gpn-theme-icon-enable-right-arrow: url(@assets/icons/arrow-next-with-circle-base-arrow-base.svg) !default;
$gpn-theme-icon-disable-right-arrow: url(@assets/icons/arrow-disable-next-with-circle-base-arrow-base.svg) !default;
$gpn-theme-icon-enable-left-arrow: url(@assets/icons/arrow-prev-with-circle-base-arrow-base.svg) !default;
$gpn-theme-card-mobile-arrow: url(@assets/icons/card-mobile-arrow.svg) !default;
$gpn-theme-icon-arrow-base-ut: url(@assets/icons/arrow-base-ut.svg) !default;
$gpn-theme-uptick-twitter-icon: url(@assets/icons/socialtwitter.svg) !default;
$gpn-theme-arrow-left-back-icon: url(@assets/icons/arrow-left-back-icon-dark.svg) !default;
$gpn-theme-calendar-icon: url(@assets/icons/calendar.svg) !default;
$gpn-theme-menu-carrot: url(@assets/icons/menu-carrot.svg) !default;
