$gpn-image-radius: 160px !default;

.ping {
  border-radius: $gpn-theme-radius-xxl;
  aspect-ratio: 1/1 !important;
  picture,
  img,
  video {
    aspect-ratio: 1/1 !important;
    border-radius: $gpn-theme-radius-xxl;
    object-fit: cover !important;
  }
}

.pool {
  border-radius: $gpn-image-radius;
  picture,
  img,
  video {
    border-radius: $gpn-image-radius;
  }
}

.rounded {
  border-radius: $gpn-theme-radius-md !important;
  @include media-breakpoint-up(md) {
    border-radius: $gpn-theme-radius-xl !important;
  }
  picture,
  img,
  video {
    border-radius: $gpn-theme-radius-md !important;
    @include media-breakpoint-up(md) {
      border-radius: $gpn-theme-radius-xl !important;
    }
  }
}

.tap {
  border-top-left-radius: $gpn-image-radius;
  border-top-right-radius: $gpn-image-radius;
  picture,
  img,
  video {
    border-top-left-radius: $gpn-image-radius;
    border-top-right-radius: $gpn-image-radius;
  }
}


.left-tap {
  border-top-left-radius: $gpn-theme-radius-xxl;
  border-bottom-left-radius: $gpn-theme-radius-xxl;
  picture,
  img,
  video { 
    border-top-left-radius: $gpn-theme-radius-xxl;
    border-bottom-left-radius: $gpn-theme-radius-xxl;
  } 
}

.flip-media-on-mobile {
  @include media-breakpoint-down(sm) {
    > div:first-child {
      order: 2 !important;
    }
    > div:last-child {
      order: 1 !important;
    }
  }
}

.reverse-layout {
  .flip-media-on-mobile {
    @include media-breakpoint-down(sm) {
      > div:first-child {
        order: 1 !important;
      }
      > div:last-child {
        order: 2 !important;
      }
    }
  }
}
