$gpn-theme-modal-inner-padding: 0 !default;
$gpn-theme-modal-header-padding: 0 !default;
$gpn-theme-modal-header-padding-x: 0 !default;
$gpn-theme-modal-header-padding-y: 0 !default;
$gpn-theme-modal-content-inner-border-radius: 0 !default;
$gpn-theme-modal-dialog-margin: 0 !default;
$gpn-theme-modal-header-border-width: 0 !default;
$gpn-theme-modal-header-border-color: transparent !default;
$gpn-theme-modal-footer-border-width: 0 !default;
$gpn-theme-modal-footer-border-color: transparent !default;
$gpn-theme-modal-content-border-color: transparent !default;
$gpn-theme-modal-content-border-width: 0 !default;
$gpn-theme-modal-content-border-radius: 0 !default;
