$gpn-theme-radius-base: 4px !default;

$gpn-theme-radius-sizes: (
  xxl: (
    $gpn-theme-radius-base * 2222,
  ),
  xl: (
    $gpn-theme-radius-base * 9,
  ),
  lg: (
    $gpn-theme-radius-base * 5,
  ),
  md: (
    $gpn-theme-radius-base * 4,
  ),
  sm: (
    $gpn-theme-radius-base * 2,
  ),
  xs: (
    $gpn-theme-radius-base * 1,
  ),
  none: (
    $gpn-theme-radius-base * 0,
  ),
) !default;

$gpn-theme-radius-xxl: map-get($gpn-theme-radius-sizes, 'xxl') !default;
$gpn-theme-radius-xl: map-get($gpn-theme-radius-sizes, 'xl') !default;
$gpn-theme-radius-lg: map-get($gpn-theme-radius-sizes, 'lg') !default;
$gpn-theme-radius-md: map-get($gpn-theme-radius-sizes, 'md') !default;
$gpn-theme-radius-sm: map-get($gpn-theme-radius-sizes, 'sm') !default;
$gpn-theme-radius-xs: map-get($gpn-theme-radius-sizes, 'xs') !default;
$gpn-theme-radius-none: map-get($gpn-theme-radius-sizes, 'none') !default;

$gpn-theme-component-radius: $gpn-theme-radius-none !default;
