// =======
// Spacing
// =======


$gpn-theme-spacing-default: 0.8rem !default; // 8px

// overides bootstrap's spacer map
$gpn-theme-spacers: (
  0: 0,
  1: ($gpn-theme-spacing-default),
  2: ($gpn-theme-spacing-default * 2),
  3: ($gpn-theme-spacing-default * 3),
  4: ($gpn-theme-spacing-default * 4),
  5: ($gpn-theme-spacing-default * 5),
  6: ($gpn-theme-spacing-default * 6),
  7: ($gpn-theme-spacing-default * 7),
  8: ($gpn-theme-spacing-default * 8),
  9: ($gpn-theme-spacing-default * 9),
  10: ($gpn-theme-spacing-default * 10),
  11: ($gpn-theme-spacing-default * 11),
  12: ($gpn-theme-spacing-default * 12),
  16: ($gpn-theme-spacing-default * 16),
  18: ($gpn-theme-spacing-default * 18),
  20: ($gpn-theme-spacing-default * 20),
) !default;

// these are defined in figma
$gpn-theme-spacing-sizes-desktop: (
  macro: ($gpn-theme-spacing-default * 18),
  xxxl:  ($gpn-theme-spacing-default * 10),
  xxl:   ($gpn-theme-spacing-default * 8),
  xl:    ($gpn-theme-spacing-default * 6),
  lg:    ($gpn-theme-spacing-default * 5),
  md:    ($gpn-theme-spacing-default * 4),
  sm:    ($gpn-theme-spacing-default * 3),
  xs:    ($gpn-theme-spacing-default * 2),
  xxs:   ($gpn-theme-spacing-default * 1),
  xxxx:  ($gpn-theme-spacing-default * 0.5),
  micro: ($gpn-theme-spacing-default * 0.25),
) !default;

$gpn-theme-spacing-sizes-tablet: (
  macro: ($gpn-theme-spacing-default * 10),
  xxxl:  ($gpn-theme-spacing-default * 9),
  xxl:   ($gpn-theme-spacing-default * 7),
  xl:    ($gpn-theme-spacing-default * 5),
  lg:    ($gpn-theme-spacing-default * 5),
  md:    ($gpn-theme-spacing-default * 3),
  sm:    ($gpn-theme-spacing-default * 3),
  xs:    ($gpn-theme-spacing-default * 2),
  xxs:   ($gpn-theme-spacing-default * 1),
  xxxx:  ($gpn-theme-spacing-default * 0.5),
  micro: ($gpn-theme-spacing-default * 0.25),
) !default;

$gpn-theme-spacing-sizes-mobile: (
  macro: ($gpn-theme-spacing-default * 8),
  xxxl:  ($gpn-theme-spacing-default * 8),
  xxl:   ($gpn-theme-spacing-default * 6),
  xl:    ($gpn-theme-spacing-default * 5),
  lg:    ($gpn-theme-spacing-default * 4),
  md:    ($gpn-theme-spacing-default * 3),
  sm:    ($gpn-theme-spacing-default * 3),
  xs:    ($gpn-theme-spacing-default * 2),
  xxs:   ($gpn-theme-spacing-default * 1),
  xxxx:  ($gpn-theme-spacing-default * 0.5),
  micro: ($gpn-theme-spacing-default * 0.25),
) !default;


$gpn-theme-spacing-macro-desktop:  map-get($gpn-theme-spacing-sizes-desktop, "macro") !default;
$gpn-theme-spacing-xxxl-desktop:   map-get($gpn-theme-spacing-sizes-desktop, "xxxl")  !default;
$gpn-theme-spacing-xxl-desktop:    map-get($gpn-theme-spacing-sizes-desktop, "xxl")   !default;
$gpn-theme-spacing-xl-desktop:     map-get($gpn-theme-spacing-sizes-desktop, "xl")    !default;
$gpn-theme-spacing-lg-desktop:     map-get($gpn-theme-spacing-sizes-desktop, "lg")    !default;
$gpn-theme-spacing-md-desktop:     map-get($gpn-theme-spacing-sizes-desktop, "md")    !default;
$gpn-theme-spacing-sm-desktop:     map-get($gpn-theme-spacing-sizes-desktop, "sm")    !default;
$gpn-theme-spacing-xs-desktop:     map-get($gpn-theme-spacing-sizes-desktop, "xs")    !default;
$gpn-theme-spacing-xxs-desktop:    map-get($gpn-theme-spacing-sizes-desktop, "xxs")   !default;
$gpn-theme-spacing-xxxx-desktop:   map-get($gpn-theme-spacing-sizes-desktop, "xxxx")  !default;
$gpn-theme-spacing-micro-desktop:  map-get($gpn-theme-spacing-sizes-desktop, "micro") !default;

$gpn-theme-spacing-macro-tablet:  map-get($gpn-theme-spacing-sizes-tablet, "macro") !default;
$gpn-theme-spacing-xxxl-tablet:   map-get($gpn-theme-spacing-sizes-tablet, "xxxl")  !default;
$gpn-theme-spacing-xxl-tablet:    map-get($gpn-theme-spacing-sizes-tablet, "xxl")   !default;
$gpn-theme-spacing-xl-tablet:     map-get($gpn-theme-spacing-sizes-tablet, "xl")    !default;
$gpn-theme-spacing-lg-tablet:     map-get($gpn-theme-spacing-sizes-tablet, "lg")    !default;
$gpn-theme-spacing-md-tablet:     map-get($gpn-theme-spacing-sizes-tablet, "md")    !default;
$gpn-theme-spacing-sm-tablet:     map-get($gpn-theme-spacing-sizes-tablet, "sm")    !default;
$gpn-theme-spacing-xs-tablet:     map-get($gpn-theme-spacing-sizes-tablet, "xs")    !default;
$gpn-theme-spacing-xxs-tablet:    map-get($gpn-theme-spacing-sizes-tablet, "xxs")   !default;
$gpn-theme-spacing-xxxx-tablet:   map-get($gpn-theme-spacing-sizes-tablet, "xxxx")  !default;
$gpn-theme-spacing-micro-tablet:  map-get($gpn-theme-spacing-sizes-tablet, "micro") !default;

$gpn-theme-spacing-macro-mobile:  map-get($gpn-theme-spacing-sizes-mobile, "macro") !default;
$gpn-theme-spacing-xxxl-mobile:   map-get($gpn-theme-spacing-sizes-mobile, "xxxl")  !default;
$gpn-theme-spacing-xxl-mobile:    map-get($gpn-theme-spacing-sizes-mobile, "xxl")   !default;
$gpn-theme-spacing-xl-mobile:     map-get($gpn-theme-spacing-sizes-mobile, "xl")    !default;
$gpn-theme-spacing-lg-mobile:     map-get($gpn-theme-spacing-sizes-mobile, "lg")    !default;
$gpn-theme-spacing-md-mobile:     map-get($gpn-theme-spacing-sizes-mobile, "md")    !default;
$gpn-theme-spacing-sm-mobile:     map-get($gpn-theme-spacing-sizes-mobile, "sm")    !default;
$gpn-theme-spacing-xs-mobile:     map-get($gpn-theme-spacing-sizes-mobile, "xs")    !default;
$gpn-theme-spacing-xxs-mobile:    map-get($gpn-theme-spacing-sizes-mobile, "xxs")   !default;
$gpn-theme-spacing-xxxx-mobile:   map-get($gpn-theme-spacing-sizes-mobile, "xxxx")  !default;
$gpn-theme-spacing-micro-mobile:  map-get($gpn-theme-spacing-sizes-mobile, "micro") !default;

$gpn-theme-spacing-sizes: (
  lg: $gpn-theme-spacing-sizes-desktop,
  md: $gpn-theme-spacing-sizes-tablet,
  sm: $gpn-theme-spacing-sizes-mobile
) !default;

//Sizes
$gpn-theme-padding-size-options: ('xxxl', 'xxl', 'xl', 'lg', 'md', 'sm', 'xs', 'xxs ', 'xxxx');

