@each $theme, $backgroundColour in $gpn-theme-colours {
  &.bg-hero-#{$theme} {
    .media-section::before {
      background-color: $backgroundColour !important;
    }
    .media-section {
      .hero-background {
        background-color: $backgroundColour !important;
      }
    }
    &.horizontal-colour-block {
      .container {
        .row {
          &::after {
            background-color: $backgroundColour !important;
          }
        }
      }
    }
  }
}
