.uptick-breadcrumb {
  background: map-get($uptick-theme-breadcrumb, breadcrumb-background);
  @include gpn-spacing([ 'padding-top', 'padding-bottom'], 'sm');
  margin-bottom: 0;
  nav {
    display: flex;
    align-items: center;
    .breadcrumb-search {
      position: relative;
      input {
        border-radius: map-get($uptick-theme-breadcrumb, breadcrumb-border-radius);
        border-color: transparent;
        @include gpn-spacing([ 'padding-top', 'padding-bottom'], 'xxs');
        @include gpn-spacing([ 'padding-left', 'padding-right'], 'sm');
        @extend %p-sm;
        width: map-get($uptick-theme-breadcrumb, breadcrumb-search-width);
        @include media-breakpoint-up(md) {
          width: map-get($uptick-theme-breadcrumb, md-breadcrumb-search-width);
        }
      }
      .card-icon {
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 28%;
        background-image: map-get($uptick-theme-breadcrumb, 'breadcrumb-search-icon');
        width: map-get($uptick-theme-breadcrumb, 'breadcrumb-icon-size');
        height: map-get($uptick-theme-breadcrumb, 'breadcrumb-icon-size');
        background-repeat: no-repeat;
        @include media-breakpoint-up(md) {
          right: map-get($uptick-theme-breadcrumb, breadcrumb-search-icon-right);
        }
      }
      .search-dropdown {
        box-shadow: $gpn-theme-search-dropdown-shadow;
        position: absolute;
        z-index: $gpn-theme-zindex-clickable-card-base;
        border-radius: 0 0 $gpn-theme-radius-xl $gpn-theme-radius-xl;
        .list-group-flush {
          border-radius: inherit;
        }
        .search-dropdown-item,
        .search-no-results {
          background-color: $gpn-theme-white-255;
          @include gpn-spacing(('padding-bottom', 'padding-top', 'padding-left'), 'xs');
          border-bottom: none;
          .btn-cta-tertiary {
            cursor: pointer;
            &::after {
              display: none;
              background-image: none;
            }
            &:hover {
              text-decoration: underline;
              @extend %title-xxs;
            }
          }
          &.selected {
            background-color: $gpn-theme-white-255;
            .btn-cta-tertiary {
              color: $gpn-theme-blue-500;
              text-decoration: underline;
              @extend %title-xxs;
            }
          }
        }
      }
    }
    .breadcrumb-list {
      list-style: none;
      display: flex;
      margin-bottom: 0;
      .breadcrumb-item {
        display: flex;
        @extend %label-md;
        &.level-two,
        &.level-three {
          display: none;
          @include media-breakpoint-up(lg) {
            display: block;
          }
        }
        &:first-child a span {
          display: none;
          @include media-breakpoint-up(lg) {
            display: inline-block;
          }
        }
        &:first-child a::after {
          content: '...';
          color: inherit;
          @include media-breakpoint-up(lg) {
            content: none;
          }
        }
        .link-item,
        .link-text {
          text-decoration: none;
          color: map-get($uptick-theme-breadcrumb, breadcrumb-link-color);
          @include gpn-spacing([ 'padding-left', 'padding-right'], 'xxs');
          transition: text-shadow 0.2s ease;
        }
        .link-item:hover {
          text-shadow: 0.6px 0 0 currentColor, -0.6px 0 0 currentColor;
        }
        .pagenode {
          font-weight: map-get($uptick-theme-breadcrumb, breadcrumb-link-active-font-weight);
          color: map-get($uptick-theme-breadcrumb, breadcrumb-link-color);
          @include gpn-spacing([ 'padding-left', 'padding-right'], 'xxs');
          display: inline-block;
          max-width: map-get($uptick-theme-breadcrumb, breadcrumb-last-node-width);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          @include media-breakpoint-up(md) {
            max-width: map-get($uptick-theme-breadcrumb, md-breadcrumb-last-node-width);
          }
        }
      }
    }
  }
}
