// default colour
.ec-clickable-card:not(.blog-card):hover {
  .link-glow {
    &:after {
      width: 100%;
    }
  }
  @each $glowButton, $glowDetails in $glow-arrows {
    $textHoverColour: map-get($glowDetails, 'text-hover');

    .link-glow-#{$glowButton} {
      color: $textHoverColour;
    }
  }
  .link {
    text-decoration: none !important;
  }
}
@mixin clickable-cta-card($theme) {
  // TODO: refactor this so that we're not repeating code from the _action.scss file
  .btn-cta-primary {
    @if ($theme == 'base') {
      background-color: map-get(
        $gpn-theme-button-cta-primary,
        'theme-matches',
        'hover-background-colour'
      );
      border-color: map-get(
        $gpn-theme-button-cta-primary,
        'theme-matches',
        'hover-background-colour'
      );
      color: map-get($gpn-theme-button-cta-primary, 'theme-matches', 'hover-text-colour');
    } @else if (is-light-theme-colour($theme)) {
      background-color: map-get($gpn-theme-button-cta-primary, 'light', 'hover-background-colour');
      border-color: map-get($gpn-theme-button-cta-primary, 'light', 'hover-background-colour');
      color: map-get($gpn-theme-button-cta-primary, 'light', 'hover-text-colour');
    } @else if (is-dark-theme-colour($theme)) {
      background-color: map-get($gpn-theme-button-cta-primary, 'dark', 'hover-background-colour');
      border-color: map-get($gpn-theme-button-cta-primary, 'dark', 'hover-background-colour');
      color: map-get($gpn-theme-button-cta-primary, 'dark', 'hover-text-colour');
    }
  }
  .btn-cta-secondary {
    @if ($theme == 'base') {
      background-color: map-get(
        $gpn-theme-button-cta-secondary,
        'theme-matches',
        'hover-background-colour'
      );
      border-color: map-get(
        $gpn-theme-button-cta-secondary,
        'theme-matches',
        'hover-background-colour'
      );
      color: map-get($gpn-theme-button-cta-secondary, 'theme-matches', 'hover-text-colour');
    } @else if (is-light-theme-colour($theme)) {
      background-color: map-get(
        $gpn-theme-button-cta-secondary,
        'light',
        'hover-background-colour'
      );
      border-color: map-get($gpn-theme-button-cta-secondary, 'light', 'hover-background-colour');
      color: map-get($gpn-theme-button-cta-secondary, 'light', 'hover-text-colour');
    } @else if (is-dark-theme-colour($theme)) {
      background-color: map-get($gpn-theme-button-cta-secondary, 'dark', 'hover-background-colour');
      border-color: map-get($gpn-theme-button-cta-secondary, 'dark', 'hover-background-colour');
      color: map-get($gpn-theme-button-cta-secondary, 'dark', 'hover-text-colour');
    }
  }
  .btn-cta-tertiary {
    @if ($theme == 'base') {
      color: map-get($gpn-theme-button-cta-tertiary, 'theme-matches', 'hover-text-colour');
    } @else if (is-light-theme-colour($theme)) {
      color: map-get($gpn-theme-button-cta-tertiary, 'light', 'hover-text-colour');
    } @else if (is-dark-theme-colour($theme)) {
      color: map-get($gpn-theme-button-cta-tertiary, 'dark', 'hover-text-colour');
    }
    &::after {
      transform: translateX(0.5rem);
    }
  }
  @each $glowButton, $glowDetails in $glow-arrows {
    $textHoverColour: map-get($glowDetails, 'text-hover');
    @if (is-dark-theme-colour($theme)) {
      $textHoverColour: map-get($glowDetails, 'dark-background-text-hover');
    }
    .link-glow-#{$glowButton} {
      color: $textHoverColour;
    }
  }
  .svgicon {
    @if (is-light-theme-colour($theme)) {
      @include with-icon-colour($gpn-theme-black);
      // hoverstate
      a:hover &,
      .btn:hover &,
      &.active {
        @include with-activation($gpn-theme-subtle);
      }
      // colour variants
      &.base {
        @include with-icon-colour($gpn-theme-base);
      }
      &.white {
        @include with-icon-colour($gpn-theme-white);
        &:not(.hover-reverse) {
          a:hover &,
          .btn:hover &,
          &.active {
            @include with-icon-colour($gpn-theme-white);
          }
        }
      }
    } @else if (is-dark-theme-colour($theme)) {
      &.white:not(.hover-reverse) {
        @include with-icon-colour($gpn-theme-white);
      }
      &.white.hover-reverse {
        @include with-icon-colour($gpn-theme-black);
      }
      &.black.hover-reverse {
        @include with-icon-colour($gpn-theme-white);
      }
    }
  }
}
@each $theme, $details in $gpn-theme-colour-themes {
  .bg-#{$theme} .ec-clickable-card:not(.blog-card):not(.icon-card):not(.icon-image),
  .ec-clickable-card.bg-#{$theme}:not(.icon-card),
  .ec-clickable-card .bg-#{$theme} {
    &:hover {
      $linkColour: map-get($details, 'link');
      a:not(.btn):not([class*='btn-']):not([class*='link-glow']):not(.editing-mode *) {
        @include link-on-parent-hover($linkColour);
      }
      @include clickable-cta-card($theme);
    }
  }
  .bg-#{$theme} {
    @each $innerTheme, $innerDetails in $gpn-theme-colour-themes {
      @if ($theme != $innerTheme) {
        .bg-#{$innerTheme} .ec-clickable-card:not(.blog-card):not(.icon-card),
        .ec-clickable-card.bg-#{$innerTheme}:not(.icon-card),
        .ec-clickable-card .bg-#{$innerTheme} {
          &:hover {
            $linkColourInner: map-get($innerDetails, 'link');
            a:not(.btn):not([class*='btn-']):not([class*='link-glow']):not(.editing-mode *) {
              @include link-on-parent-hover($linkColourInner);
            }
            @include clickable-cta-card($innerTheme);
          }
        }
      }
    }
  }
}

.editing-mode {
  @each $theme, $details in $gpn-theme-colour-themes {
    .bg-#{$theme} .ec-clickable-card,
    .ec-clickable-card.bg-#{$theme}:not(.icon-card),
    .ec-clickable-card .bg-#{$theme} {
      &:hover {
        $linkColour: map-get($details, 'link');
        span:not(.btn):not([class*='btn-']):not([class*='link-glow']):not(
            .link-headline-listitem
          ):not(.link-inline-linklist-item):not(.link-external) {
          a:not(.btn):not([class*='btn-']):not([class*='link-glow']) {
            @include link-on-parent-hover($linkColour);
          }
        }
        span.link {
          > a {
            text-decoration: none !important;
          }
        }
        @include clickable-cta-card($theme);
      }
    }
    .bg-#{$theme} {
      @each $innerTheme, $innerDetails in $gpn-theme-colour-themes {
        @if ($theme != $innerTheme) {
          .bg-#{$innerTheme} .ec-clickable-card,
          .ec-clickable-card.bg-#{$innerTheme}:not(.icon-card),
          .ec-clickable-card .bg-#{$innerTheme} {
            &:hover {
              $linkColourInner: map-get($innerDetails, 'link');
              span:not(.btn):not([class*='btn-']):not([class*='link-glow']):not(
                  .link-headline-listitem
                ):not(.link-inline-linklist-item):not(.link-external) {
                a:not(.btn):not([class*='btn-']):not([class*='link-glow']) {
                  @include link-on-parent-hover($linkColourInner);
                }
              }
              span.link {
                > a {
                  text-decoration: none !important;
                }
              }
              @include clickable-cta-card($innerTheme);
            }
          }
        }
      }
    }
  }
}
