// Body text
%body-md, %p-md { @include font-base($gpn-theme-body-md-font); }
%body-sm, %p-sm { @include font-base($gpn-theme-body-sm-font); }
%body-xs, %p-xs { @include font-base($gpn-theme-body-xs-font); }
%body-xxs, %p-xxs { @include font-base($gpn-theme-body-xxs-font); }

// For previous sizes that are no longer in this design system, 
// use the md sizing
%p-xxl, %p-xl, %p-lg { @include font-base($gpn-theme-body-md-font); }


.p-lead, .p-xxl, .p-xl, .p-lg { @include font-base($gpn-theme-body-md-font, true); }
.p-md { @include font-base($gpn-theme-body-md-font, true); }
.p-sm { @include font-base($gpn-theme-body-sm-font, true); }
.p-xs { @include font-base($gpn-theme-body-xs-font, true); }
.p-xxs { @include font-base($gpn-theme-body-xxs-font, true); }


p {
    @include font-base($gpn-theme-body-md-font); // default to md

    &.xxl, &.lead,
    &.xl,
    &.lg { @include font-base($gpn-theme-body-md-font); }
    &.md { @include font-base($gpn-theme-body-md-font); }
    &.sm { @include font-base($gpn-theme-body-sm-font); }
    &.xs { @include font-base($gpn-theme-body-xs-font); }
    &.xxs { @include font-base($gpn-theme-body-xxs-font); }

    &.uppercase { text-transform: uppercase; }
    a:not(.btn):not(.link-glow) { @include link; }
}