@each $theme, $details in $gpn-theme-colour-themes {
  .bg-#{$theme} {
    $linkColour: map-get($details, 'link');

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      a:not(.btn):not(.link-glow) {
        @include link($linkColour);
      }
    }

    a:not(.btn):not(.link-glow):not(.location-list *):not(.link-inline-linklist-item):not(.footer-link) {
      @include link($linkColour);
    }

    // this is to cater when a theme is inside another theme
    @each $innerTheme, $innerDetails in $gpn-theme-colour-themes {
      @if ($innerTheme !=$theme) {
        .bg-#{$innerTheme} {
          $linkColour: map-get($innerDetails, 'link');

          h1,
          h2,
          h3,
          h4,
          h5,
          h6,
          p {
            a:not(.btn):not(.link-glow) {
              @include link($linkColour);
            }
          }
        }
      }

      .bg-#{$innerTheme} {
        $linkColour: map-get($innerDetails, 'link');

        a:not(.btn):not(.link-glow):not(.location-list *):not(.link-inline-linklist-item):not(.footer-link) {
          @include link($linkColour);
        }
      }
    }
  }
}
