.uptick-tag-component {
  @extend %p-xs;
  cursor: pointer;
  text-transform: none;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  line-height: normal;
  border-style: solid;
  background: none;
  font-weight: $gpn-theme-font-weight-bold;
  border-width: map-get($gpn-theme-tags, 'tag-border-width');
  padding: map-get($gpn-theme-tags, 'tag-padding');
  border-radius: map-get($gpn-theme-tags, 'tag-border-radius');
  transition: map-get($gpn-theme-tags, 'text-animation-transition');

  &.tag-audience {
    color: $gpn-theme-black;
    border-color: $gpn-theme-off-black;
    &:hover {
      background-color: $gpn-theme-blue-300;
      border-color: $gpn-theme-blue-300;
    }
  }

  &.tag-topic {
    color: $gpn-theme-grey-600;
    border-color: $gpn-theme-grey-600;
    &:hover {
      background-color: $gpn-theme-orange-200;
      border-color: $gpn-theme-orange-200;
      color: $gpn-theme-black;
    }
  }

  &.tag-interactive {
    &:not(:disabled):hover {
      background-color: $gpn-theme-blue-300;
      border-color: $gpn-theme-blue-300;
    }

    &.selected {
      background-color: $gpn-theme-green-210;
      border-color: $gpn-theme-green-210;
    }

    &:disabled {
      border-color: $gpn-theme-gray;
      color: $gpn-theme-off-black;
      background-color: $gpn-theme-gray;
      cursor: default;
    }
  }
}

.author-content-link-component {
  @extend .p-xs;
  display: flex;
  flex-wrap: wrap;
  width: max-content;
  text-transform: none;
  color: $gpn-theme-grey-500;
  @include gpn-spacing('margin-top', 'xs');
  gap: map-get($gpn-theme-author-content-link, 'author-content-link-gap');

  .content-link {
    text-decoration: none;
    transition: map-get($gpn-theme-author-content-link, 'text-animation-transition');
    color: $gpn-theme-off-black;
    font-weight: $gpn-theme-font-weight-bold !important;

    &:hover {
      color: $gpn-theme-base;
    }
  }

  .content-author-name {
    .content-type {
      font-weight: $gpn-theme-font-weight-bold;
      color: $gpn-theme-off-black;
      cursor: pointer;
    }
    .author-name {
      text-decoration: underline;
      color: $gpn-theme-base;
    }
  }

  .author-date,
  .watch-time {
    color: $gpn-theme-grey-600;
  }

  @include media-breakpoint-up(lg) {
    flex-wrap: auto;
  }

  &.dark-author-content-link-component {
    color: $gpn-theme-white;
    .content-author-name {
      .content-type {
        color: $gpn-theme-white;
      }
      .author-name {
        color: $gpn-theme-white;

        &:hover {
          text-decoration: none;
          font-weight: $gpn-theme-font-weight-bold;
        }
      }
    }

    .content-link {
      color: $gpn-theme-white;
      transition: map-get($gpn-theme-author-content-link, 'text-animation-transition');

      &:hover {
        color: $gpn-theme-base;
      }
    }

    .author-date,
    .watch-time {
      color: $gpn-theme-white;
    }
  }

  &.author-content-link-component {
    margin-top: map-get($gpn-theme-author-content-link, 'author-content-link-m-mt');
    @include media-breakpoint-up(lg) {
      margin-top: map-get($gpn-theme-author-content-link, 'author-content-link-d-mt');
    }
  }
}
