@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slide-in {
  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes parallax-effect-left-right {
  from {
    right: 4.8rem;
  }
  to {
    right: 0;
  }
}

@keyframes parallax-effect-top-bottom {
  from {
    top: 41.6rem;
  }
  to {
    top: 50.6rem;
  }
}

@keyframes parallax-effect-top-bottom-image-parallax {
  from {
    bottom: 20rem;
  }
  to {
    bottom: 2.4rem;
  }
}
