.hi-lo-cards {
  @include gpn-spacing([ 'padding-top', 'padding-bottom'], 'xxl');

  .hi-lo-cards-title {
    @include gpn-spacing([ 'padding-bottom'], 'xxl');
    @extend %h-md;
    padding-left: 0;
  }
  .hi-lo-cards-wrapper {
    display: flex;
    .hi-lo-card-container {
      @include make-col(12);
      @include media-breakpoint-up(md) {
        @include make-col(6);
      }
      @include media-breakpoint-up(lg) {
        @include make-col(3);
      }
      @include media-breakpoint-up(md) {
        flex-direction: column;
        margin-bottom: 0;
        padding-left: 0;
        &:nth-child(odd) {
          .hi-lo-card-image {
            // ordering every other image last in desktop and tablet
            order: 13 !important;
            img {
              width: map-get($gpn-theme-hi-lo-cards, 'image-size', 'width');
              height: map-get($gpn-theme-hi-lo-cards, 'image-size', 'height');
            }
          }

          padding-right: gpn-spacing-size('sm', 'sm');
        }
      }
      display: flex;
      @include media-breakpoint-up(lg) {
        padding-right: gpn-spacing-size('sm', 'sm');
      }
      flex-direction: column-reverse;
      column-gap: gpn-spacing-size('md', 'md');

      @include gpn-spacing([ 'margin-bottom'], 'sm');
      .hi-lo-card-text {
        display: flex;
        flex-direction: column;
        gap: gpn-spacing-size('sm', 'xs');
        .hi-lo-card-description {
          @extend %p-sm;
        }
        .hi-lo-card-heading {
          @extend %h-sm;
        }

        .hi-lo-card-cta {
          @include gpn-spacing([ 'padding-top'], 'xxs');
        }
      }
    }
  }
  &.hi-lo-card-action {
    background-color: map-get($gpn-theme-hi-lo-cards, 'action', 'background');
    .hi-lo-card-container {
      .hi-lo-card-text {
        background-color: map-get($gpn-theme-hi-lo-cards, 'action', 'text-bg');
        .hi-lo-card-heading,
        .hi-lo-card-description {
          color: map-get($gpn-theme-hi-lo-cards, 'action', 'text-foreground');
        }
        @include media-breakpoint-up(md) {
          height: map-get($gpn-theme-hi-lo-cards, 'height');
        }
        @include gpn-spacing([ 'padding'], 'xs');
      }
    }
    .hi-lo-card-image {
      @include media-breakpoint-up(md) {
        height: map-get($gpn-theme-hi-lo-cards, 'height');
      }
      .image-wrapper {
        width: map-get($gpn-theme-hi-lo-cards, 'image-size', 'width');
        height: map-get($gpn-theme-hi-lo-cards, 'image-size', 'height');
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  &.hi-lo-card-three {
    .hi-lo-card-container {
      // For this 3-up version, cards are reversed compared to other variants
      flex-direction: column-reverse;
      padding-right: 0 !important;
      @include make-col(11);
      @include media-breakpoint-up(md) {
        @include make-col(5);
        &:nth-child(2) {
          @include make-col-offset(1);
        }
      }
      @include media-breakpoint-up(lg) {
        @include make-col(3);
        &:nth-child(3) {
          @include make-col-offset(1);
        }
      }
      // For this variant only middle column flips starting at tablet down
      @include media-breakpoint-down(lg) {
        &:nth-child(even) {
          flex-direction: column;
        }
      }
      // All columns reversed from start in mobile
      @include media-breakpoint-down(md) {
        flex-direction: column;
      }
      .hi-lo-card-text {
        @include gpn-spacing([ 'padding-top'], 'sm');
        @include media-breakpoint-up(lg) {
          &:nth-child(odd) {
            padding-top: 0;
          }
        }
        .hi-lo-card-heading {
          @extend %h-xs;
        }
      }
      .hi-lo-card-image {
        img {
          width: map-get($gpn-theme-hi-lo-cards, 'image-size', 'width');
          height: map-get($gpn-theme-hi-lo-cards, 'image-size', 'height');
        }
      }
    }
  }
  &.hi-lo-card-four {
    .hi-lo-card-container {
      @include media-breakpoint-up(md) {
        &:nth-child(odd) {
          .hi-lo-card-text {
            padding: 0;
          }
        }
      }
      .hi-lo-card-text {
        @include gpn-spacing([ 'padding-top'], 'md');
        .hi-lo-card-description {
          @include gpn-spacing([ 'padding-bottom'], 'md');
        }
        .hi-lo-card-heading {
          @extend %h-xs;
        }
      }
      .hi-lo-card-image {
        @include gpn-spacing([ 'padding-top'], 'md');
        @include media-breakpoint-up(md) {
          padding-top: 0;
        }
        .image-wrapper {
          width: map-get($gpn-theme-hi-lo-cards, 'image-size', 'width');
          height: map-get($gpn-theme-hi-lo-cards, 'image-size', 'height');

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }

  @import '../../styles/media-treatments/media-treatments.scss';
  @import '../../styles/image/image.scss';
}

@include media-breakpoint-down(md) {
  .hi-lo-cards {
    .hi-lo-cards-wrapper {
      .hi-lo-card-container {
        padding-right: gpn-spacing-size('sm', 'sm');
        padding-left: gpn-spacing-size('sm', 'sm');

        .hi-lo-card-image {
          .image-wrapper {
            max-width: map-get($gpn-theme-hi-lo-cards, 'image-size', 'width');
          }
        }
      }
    }
  }
}
