.ec-clickable-card {
  &:has(.ec-card-link-overlay:hover) {
    .media-section img {
      transform: map-get($gpn-theme-ec-clickable-card, 'image-transform-scale-effect');
    }
  }

  .media-section {
    overflow: hidden;
    img {
      @include transition(map-get($gpn-theme-promo-cards, 'media-transition'));
    }
  }
}
