.uptick-toc-container {
  position: relative;
  .toc-heading-title {
    color: $gpn-theme-black;
    @extend %h-xxs;
    text-transform: uppercase;
    @include gpn-spacing([ 'margin-bottom'], 'xxs');
  }
  .toc-content-list {
    list-style: none;
    padding-left: 0;
    .toc-list-item {
      @include gpn-spacing([ 'margin-bottom'], 'xxs');
      position: relative;
      @extend %p-sm;
      padding: 0;
      color: $gpn-theme-black;
      text-decoration: none;
      border: none;
      background: none;
      text-align: left;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      &:hover {
        color: $gpn-theme-black;
      }
      &.active-item {
        @extend %h-xxs;
        color: $gpn-theme-black;
      }

      @include media-breakpoint-up(md) {
        @include gpn-spacing([ 'padding-left'], 'xxs');
        color: $gpn-theme-grey-600;
        &.active-item {
          border-left: 2px solid $gpn-theme-base;
        }
      }
    }
  }
  .sticky {
    position: fixed;
    top: map-get($gpn-theme-uptic-toc, 'toc-position-on-sticky');

    .uptick-toc-content {
      @include media-breakpoint-up(md) {
        width: map-get($gpn-theme-uptic-toc, 'sticky-toc-width-tablet');
      }
      @include media-breakpoint-up(lg) {
        width: map-get($gpn-theme-uptic-toc, 'sticky-toc-width-desktop');
      }
    }
  }
}
