&.horizontal-colour-block {
  overflow-x: hidden;
  .container {
    position: relative;
    width: 100%;

    .row {
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        height: map-get($gpn-theme-heroes, 'l3-horizontal-color-hero-bg-height-sm');
        background-color: map-get($gpn-theme-heroes, 'background');
        z-index: $gpn-theme-zindex-heroes-media;
        width: 100vw;
        max-width: 100vw;
        margin-left: calc(-50vw + 50%);
        margin-right: calc(-50vw + 50%);
        @include media-breakpoint-up(md) {
          height: map-get($gpn-theme-heroes, 'l3-horizontal-color-hero-bg-height-md');
        }
        @include media-breakpoint-up(lg) {
          height: map-get($gpn-theme-heroes, 'l3-horizontal-color-hero-bg-height-lg');
        }
      }

      .copy-section {
        @include media-breakpoint-up(lg) {
          margin-bottom: gpn-spacing-size('lg', 'xxxl');
        }
      }
      .media-section {
        @include make-col(12);
        @include media-breakpoint-up(lg) {
          @include make-col(7);
        }

        display: flex;
        justify-content: center;

        img,
        video {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
