&.no-colour-breakout {
  overflow-x: hidden; // Prevents horizontal scrollbar from the breakout

  .container {
    align-items: center;
    position: relative;

    .media-section {
      @include make-col(12);
      @include media-breakpoint-up(lg) {
        @include make-col(7); // Takes 7 columns on desktop (columns 6-12)
        position: relative;
      }

      position: relative;
      align-content: center;
      height: auto;

      img,
      video {
        width: 100%;
        height: auto;
        margin: 0;

        @include media-breakpoint-up(lg) {
          position: relative;
          width: calc(100% + (100% / 12 * 2)); // 100% + 2 columns width (16.67%)
          max-width: none; // Override any max-width restrictions
          right: calc(-1 * (100% / 12 * 2)); // Break out by 2 columns to the right
        }
      }
    }
  }
}
