&.no-colour-block {
  .container {
    position: relative;
    width: 100%;

    .media-section {
      @include make-col(12);
      @include media-breakpoint-up(lg) {
        @include make-col(7);
      }

      display: flex;
      justify-content: center;

      img,
      video {
        width: 100%;
        height: auto;
      }
    }
  }
}
