&.vert-colour-breakout {
  overflow-x: hidden;
  .container {
    .media-section {
      @include make-col(12);
      @include media-breakpoint-up(lg) {
        @include make-col(5);
        @include make-col-offset(1);
      }

      position: relative;
      align-content: center;
      height: auto;

      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: $gpn-theme-zindex-heroes-media;
        width: 100vw;
      }

      &.unified-frame {
        @include media-breakpoint-up(lg) {
          @include make-col(6);
          @include make-col-offset(0);
        }
        &::before {
          margin: auto;
          clip-path: circle(70% at 70% 50%);
          height: 100%;
          background-color: map-get($gpn-theme-heroes, 'background');
          @include media-breakpoint-up(md) {
            clip-path: circle(90% at 115% 50%);
            @include make-col-offset(1);
          }
          @include media-breakpoint-up(lg) {
            left: calc(100% / 200 * 1);
            clip-path: circle(80% at 80% 50%);
            @include make-col-offset(0);
          }
        }
        img {
          border-radius: 50%;
        }
      }

      &.unified-vertical {
        @include media-breakpoint-up(lg) {
          @include make-col(6);
        }

        &::before {
          max-width: 100vw;
          margin-left: calc(-50vw + 50%);
          margin-right: calc(-50vw + 50%);
          height: map-get($gpn-theme-heroes, 'l3-vert-media-height-sm');
          background-color: map-get($gpn-theme-heroes, 'background');
          @include media-breakpoint-up(md) {
            height: map-get($gpn-theme-heroes, 'l3-vert-media-height-md');
          }
          @include media-breakpoint-up(lg) {
            width: calc(100% + 100vw);
            left: calc(100% / 12 * 8);
            margin-left: 0;
            margin-right: 0;
            height: 100%;
            background-color: map-get($gpn-theme-heroes, 'background');
          }
        }
      }

      &.moment-vertical {
        @include media-breakpoint-up(lg) {
          @include make-col(7);
          @include make-col-offset(0);
        }
        &::before {
          max-width: 100vw;
          margin-left: calc(-50vw + 50%);
          margin-right: calc(-50vw + 50%);
          height: 50%;
          background-color: map-get($gpn-theme-heroes, 'background');

          @include media-breakpoint-up(lg) {
            width: calc(100% + 100vw);
            left: calc(100% / 12 * 8.4);
            margin-left: 0;
            margin-right: 0;
            height: 100%;
            background-color: map-get($gpn-theme-heroes, 'background');
          }
        }
        img,
        video {
          width: 100%;
          height: auto;
          margin: 0;
          @include media-breakpoint-up(lg) {
            position: relative;
            left: calc(30vw - 100%);
            width: auto;
            height: 100%;
          }
        }
      }

      img,
      video {
        width: 100%;
        height: auto;
        margin: 0;
        @include media-breakpoint-up(lg) {
          width: auto;
          height: 100%;
        }
      }
      &.lottie {
        &::before {
          display: none;
        }
      }
    }
  }
}
