.l2-hero {  
  @include gpn-spacing([ 'padding-top', 'padding-bottom'], 'md');

  .copy-section {
    @include gpn-spacing(['padding-bottom'], 'sm');
    @include media-breakpoint-up(md) {
      @include gpn-spacing([ 'padding-top', 'padding-bottom'], 'sm');
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: gpn-spacing-size('sm', 'xs');

    .brow {
      order: -1;
      @extend %label-md;
      text-transform: none;
      margin-bottom: gpn-spacing-size('sm', 'xs') * -1;
    }

    .title,
    .title p {
      @extend %h-xxl;
      max-width: 100%;
      overflow-wrap: break-word;
    }

    .tag {
      @extend %label-lg;
    }

    .details,
    .details p {
      @extend %p-md;
    }

    // Ensuring the CTA is fixed in its designated story; the related code will be moved there.
    > .cta-list {
      padding-top: 0;
      display: flex;
      gap: gpn-spacing-size('sm', 'sm');
    }

    .legal-text {
      @extend %p-xxs;
      @include gpn-spacing([ 'margin-bottom'], 'xxs');
    }
  }

  .media-section {
    @include media-breakpoint-up(md) {
      display: flex;
      align-items: center;
    }
    img,
    video {
      height: auto;
      object-fit: cover !important;
    }
  }
  
  .row.flip-media-on-mobile{
    .copy-section {
      @include gpn-spacing([ 'padding-top', 'padding-bottom'], 'sm');
    }
  }

  @import './L2HeroVariants/variants';
  @import '../../styles/hero/styles';
}
