.icon-card-component {
  @include gpn-spacing([ 'padding-top', 'padding-bottom'], 'lg');
  .container {
    display: flex;
    flex-direction: column;
    gap: gpn-spacing-size('sm', 'xxl');
    align-items: center;
    .list-title {
      @extend %h-md;
    }
  }

  .icon-card-row {
    justify-content: center;
    width: 100%;
    row-gap: gpn-spacing-size('sm', 'sm');
    @include media-breakpoint-up(md) {
      row-gap: gpn-spacing-size('sm', 'xl');
    }

    .icon-card-wrapper {
      .icon-card {
        height: 100%;
        &.ec-clickable-card {
          cursor: pointer;
        }

        .media-section {
          @include gpn-spacing([ 'margin-bottom'], 'sm');
          display: flex;
          justify-content: center;

          .icon-image {
            width: px-to-rem(256);
            height: px-to-rem(160);
          }
          svg {
            width: px-to-rem(96);
            height: px-to-rem(96);
          }
        }

        .copy-section {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
          gap: gpn-spacing-size('sm', 'xs');

          .title {
            @extend %h-sm;
          }

        .details { 
            &, 
            > p,
            > span,
            > ul > li,
            > ol > li {      
              @extend %p-sm;
              @include gpn-spacing([ 'margin-bottom'], 'xs');
            }
          }
        }
      }

      &.two-in-row {
        @include make-col(12);

        @include media-breakpoint-up(sm) {
          @include make-col(6);
        }
      }

      &.horizontal-icon {
        .icon-card {
          @include media-breakpoint-up(sm) {
            display: flex;
            gap: gpn-spacing-size('sm', 'lg');
          }

          .media-section {
            justify-content: flex-start;
            margin-bottom: 0;

            svg {
              width: map-get($gpn-theme-icon-cards, 'horizontal-icon-size');
              height: map-get($gpn-theme-icon-cards, 'horizontal-icon-size');
            }
          }

          .copy-section {
            @include gpn-spacing([ 'margin-top'], 'xs');
            justify-content: flex-start;
            align-items: flex-start;
            gap: gpn-spacing-size('sm', 'xxs');
            text-align: left;
          }
        }
      }

      &.three-in-row {
        @include make-col(12);

        @include media-breakpoint-up(sm) {
          @include make-col(6);
        }

        @include media-breakpoint-up(md) {
          @include make-col(4);
        }
      }

      &.four-in-row {
        @include make-col(12);

        @include media-breakpoint-up(sm) {
          @include make-col(6);
        }

        @include media-breakpoint-up(md) {
          @include make-col(3);
        }
      }

      &.sm-icon {
        .icon-card {
          border-radius: $gpn-theme-radius-xl;
          @include gpn-spacing([ 'padding'], 'sm');

          .media-section {
            justify-content: flex-start;
            @include gpn-spacing([ 'margin-bottom'], 'xs');
            svg {
              width: map-get($gpn-theme-icon-cards, 'small-icon-size');
              height: map-get($gpn-theme-icon-cards, 'small-icon-size');
            }
          }

          .title {
            text-align: left;
          }

          .details {
            text-align: left;
            margin-bottom: gpn-spacing-size('sm', 'xs');
          }

          .copy-section {
            gap: gpn-spacing-size('sm', 'xxs');
            align-items: flex-start;
          }
        }
      }

      &.xl-icon {
        .icon-card {
          .media-section {
            @include gpn-spacing([ 'margin-bottom'], 'xs');
            svg {
              width: map-get($gpn-theme-icon-cards, 'large-icon-size');
              height: map-get($gpn-theme-icon-cards, 'large-icon-size');
            }
          }

          .title {
          }

          .details {
            @include gpn-spacing([ 'margin-bottom'], 'xxs');
          }

          .copy-section {
            gap: gpn-spacing-size('sm', 'xxs');
          }

          .svgicon {
            border-radius: $gpn-theme-radius-xxl;

            .svg-icon-line {
              stroke: $gpn-theme-white !important;
            }

            .svg-icon-fill {
              fill: $gpn-theme-white !important;
            }
          }
        }
      }
    }

    &.row-5-5 {
      .icon-card-wrapper {
        @include make-col(12);
        @include media-breakpoint-up(md) {
          @include make-col(6);
        }
        @include media-breakpoint-up(lg) {
          @include make-col(5);
          &:nth-child(odd) {
            @include make-col-offset(1);
          }

          &:nth-child(even) {
            margin-right: auto;
          }
        }
      }
    }
  }

  @each $theme, $colour in $gpn-theme-colour-themes {
    @if is-dark-theme-colour($theme) {
      &.bg-#{$theme} {
        .icon-card-wrapper:not(.sm-icon) {
          .copy-section {
            .details {
              color: map-get($colour, 'text-on-dark-theme');
            }
          }

          .media-section {
            .svg-icon-line {
              stroke: map-get($gpn-theme-icon-cards, 'dark-theme-icon-color');
            }

            .svg-icon-fill {
              fill: map-get($gpn-theme-icon-cards, 'dark-theme-icon-color');
            }
          }
        }
      }

      .icon-card.bg-#{$theme} {
        .copy-section {
          .details {
            color: map-get($colour, 'text-on-dark-theme');
          }
        }

        .media-section {
          .svg-icon-line {
            stroke: map-get($gpn-theme-icon-cards, 'dark-theme-icon-color');
          }

          .svg-icon-fill {
            fill: map-get($gpn-theme-icon-cards, 'dark-theme-icon-color');
          }
        }
      }
    }
  }

  @each $theme, $colour in $gpn-theme-colour-themes {
    @if is-light-theme-colour($theme) {
      &.bg-#{$theme} {
        .icon-card-wrapper:not(.sm-icon) {
          .copy-section {
            .details {
              color: map-get($colour, 'text-on-light-theme');
            }
          }

          .media-section {
            .svg-icon-line {
              stroke: map-get($gpn-theme-icon-cards, 'light-theme-icon-color');
            }

            .svg-icon-fill {
              fill: map-get($gpn-theme-icon-cards, 'light-theme-icon-color');
            }
          }
        }
      }

      .icon-card.bg-#{$theme} {
        .copy-section {
          .details {
            color: map-get($colour, 'text-on-light-theme');
          }
        }

        .media-section {
          .svg-icon-line {
            stroke: map-get($gpn-theme-icon-cards, 'light-theme-icon-color');
          }

          .svg-icon-fill {
            fill: map-get($gpn-theme-icon-cards, 'light-theme-icon-color');
          }
        }
      }
    }
  }

  @each $theme, $details in $gpn-theme-colour-themes {
    &.bg-#{$theme} .ec-clickable-card,
    .ec-clickable-card.bg-#{$theme},
    .ec-clickable-card .bg-#{$theme} {
      &:hover {
        $linkColour: map-get($details, 'link');
        .title {
          color: $linkColour;
        }
      }
    }
  }

  @import '../../styles/clickable-cards/background';
}
