.l4-hero-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  @include gpn-spacing([ 'padding-top', 'padding-bottom'], 'xxxl');

  .title {
    @extend %h-xl;
  }
  .tag {
    @extend %p-lead;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: gpn-spacing-size('sm', 'xs');
  }
}
