.case-study-section {
  @include gpn-spacing([ 'padding-bottom', 'padding-top'], 'xxl');

  .container {
    @include media-breakpoint-up(lg) {
      @include make-col(10);
    }

    .case-study-heading {
      @extend %h-lg;
    }

    .cutout-image {
      @include gpn-spacing('margin-bottom', 'xl');
      @include gpn-spacing('margin-top', 'xs');

      @include media-breakpoint-up(lg) {
        @include make-col(10);
        @include make-col-offset(1);
      }

      img {
        max-width: 100%;
        width: 100%;
        height: 100%;
      }
    }

    .content-wrapper {
      @include media-breakpoint-up(lg) {
        @include make-col(10);

        @include make-col-offset(1);
      }
    }

    .logo-column {
      @include make-col(12); // Mobile: 12 columns (full width)

      @include media-breakpoint-up(md) {
        @include make-col(3); // Tablet: 3 columns
      }

      @include media-breakpoint-up(lg) {
        @include make-col(3); // Adjusted from 2 to 3 for 10-column container
      }

      .case-study-logo {
        max-width: 100%;
      }
    }

    .content-column {
      @include make-col(12); // Mobile: 12 columns (full width)

      @include media-breakpoint-up(md) {
        @include make-col(8);
        @include make-col-offset(1);
      }

      .case-study-text {
        @include gpn-spacing('margin-top', 'sm');
        @include gpn-spacing('margin-bottom', 'sm');
        @include media-breakpoint-up(md) {
          margin-top: 0;
        }
        display: flex;
        flex-direction: column;
        gap: gpn-spacing-size('sm', 'sm');

        p {
          @extend %p-md;
        }

        max-width: none;
        width: 100%;
      }
    }
  }
}
