&.offset-outer-4x5 {
  .row {
    gap: gpn-spacing-size('sm', 'lg');
    @include media-breakpoint-up(md) {
      gap: gpn-spacing-size('sm', 'xl');
    }
    @include media-breakpoint-up(lg) {
      gap: 0;
    }
  }

  .media-section {
    @include make-col(12);
    @include media-breakpoint-up(md) {
      @include make-col(7);
    }
    @include media-breakpoint-up(lg) {
      @include make-col(4);
    }
  }
  .copy-section {
    @include make-col(12);
    @include media-breakpoint-up(md) {
      @include make-col(10);
    }
    @include media-breakpoint-up(lg) {
      @include make-col(5);
    }
  }

  &:not(.reverse-layout) {
    .media-section {
      @include media-breakpoint-up(md) {
        @include make-col-offset(1);
      }
    }
    .copy-section {
      @include media-breakpoint-up(md) {
        @include make-col-offset(1);
      }
    }
  }

  &.reverse-layout {
    .media-section {
      order: unset;
      @include media-breakpoint-up(md) {
        @include make-col-offset(1);
      }
    }
    .copy-section {
      order: unset;
      @include media-breakpoint-up(md) {
        @include make-col-offset(1);
      }
      @include media-breakpoint-up(lg) {
        order: -1;
      }
    }
  }
}
