.search-bar-container {
  padding-top: gpn-spacing-size('sm', 'xxxl');
  .row {
    .search-input-container {
      margin-top: gpn-spacing-size('sm', 'lg');
      margin-bottom: gpn-spacing-size('sm', 'lg');
      .input-container {
        @include make-col(12);

        @include media-breakpoint-up(md) {
          @include make-col(10);
          @include make-col-offset(1);
        }
      }
    }
  }
}

.search-results-container {
    .row {
        .search-results {
            @include make-col(12);

            @include media-breakpoint-up(md) {
                @include make-col(10);
                @include make-col-offset(1);
            }

            .search-results-list {
                list-style: none;
                padding: 0;

                .result-item {
                    padding: map-get($gpn-theme-general-search, 'result-item', 'padding-vertical') 0;
                    border-bottom: map-get($gpn-theme-general-search, 'result-item', 'border-bottom-width') map-get($gpn-theme-general-search, 'result-item', 'border-bottom-style') map-get($gpn-theme-general-search, 'result-item', 'border-bottom-color');

                    .title-link {
                        @extend %h-xs;
                        color: $gpn-theme-base;
                    }

                    .search-results-url {
                        @extend %p-sm;
                        color: $gpn-theme-neutral-500;
                        margin-top: map-get($gpn-theme-general-search, 'result-item', 'url-margin-top');
                        margin-bottom: map-get($gpn-theme-general-search, 'result-item', 'url-margin-bottom');
                        word-wrap: break-word;
                        word-break: break-all;
                        overflow-wrap: break-word;
                        max-width: 100%;
                    }

                    .search-results-description {
                        @extend %p-sm;
                        margin-top: map-get($gpn-theme-general-search, 'result-item', 'description-margin-top');
                        margin-bottom: 0 !important;
                    }
                }
            }
        }
    }

    .pagination {
        display: flex;
        justify-content: left;
        margin-top: map-get($gpn-theme-general-search, 'pagination', 'margin-top');
        gap: map-get($gpn-theme-general-search, 'pagination', 'gap');
        margin-bottom: map-get($gpn-theme-general-search, 'pagination', 'margin-bottom');;

        @include media-breakpoint-down(md) {
            flex-wrap: wrap;
        }

        .page-number {
            background: map-get($gpn-theme-general-search, 'pagination', 'background');
            border: map-get($gpn-theme-general-search, 'pagination', 'button', 'border-width') map-get($gpn-theme-general-search, 'pagination', 'button', 'border-style') map-get($gpn-theme-general-search, 'pagination', 'border-color');
            padding: map-get($gpn-theme-general-search, 'pagination', 'button-padding');
            cursor: pointer;
            border-radius: map-get($gpn-theme-general-search, 'pagination', 'button', 'border-radius');
            height: map-get($gpn-theme-general-search, 'pagination', 'button', 'height');
            width: map-get($gpn-theme-general-search, 'pagination', 'button', 'width');
            font-size: map-get($gpn-theme-general-search, 'pagination', 'font-size');
            transition: map-get($gpn-theme-general-search, 'pagination', 'button', 'transition');

            &:hover {
                color: $gpn-theme-black;
                background: map-get($gpn-theme-general-search, 'pagination', 'hover-bg');
            }

            &:disabled {
                cursor: not-allowed;
                opacity: map-get($gpn-theme-general-search, 'pagination', 'button', 'disabled-opacity');
            }
        }

        .prev-list {
            display: flex;
            margin-left: map-get($gpn-theme-general-search, 'pagination', 'prev-list-margin-left');
            margin-right: map-get($gpn-theme-general-search, 'pagination', 'prev-list-margin-right');

            &.disabled {
                display: none;
            }
        }

        .previous,
        .next {
            position: relative;
            @extend %p-xxl;
            border: none;
            background: transparent;
            color: map-get($gpn-theme-general-search, 'pagination', 'prev-next-text-color');
        }

        .previous {
            &::after {
                left: map-get($gpn-theme-general-search, 'pagination', 'prev-next-icon-right');
                position: absolute;
                top: map-get($gpn-theme-general-search, 'pagination', 'prev-next-icon-top');
                background-image: $gpn-theme-icon-nav-prev-base;
                background-position: 50%;
                background-repeat: no-repeat;
                content: '';
                display: block;
                height: map-get($gpn-theme-general-search, 'pagination', 'prev-next-icon-height');
                width: map-get($gpn-theme-general-search, 'pagination', 'prev-next-icon-width');
            }
        }

        .next-list {
            display: flex;
            margin-left: map-get($gpn-theme-general-search, 'pagination', 'next-list-margin-left');
            margin-right: map-get($gpn-theme-general-search, 'pagination', 'next-list-margin-right');

            &.disabled {
                display: none;
            }
        }

        .next {
            &::before {
                position: absolute;
                right: map-get($gpn-theme-general-search, 'pagination', 'prev-next-icon-right');
                top: map-get($gpn-theme-general-search, 'pagination', 'prev-next-icon-top');
                background-position: 50%;
                background-repeat: no-repeat;
                content: '';
                display: block;
                background-image: $gpn-theme-icon-nav-next-base;
                height: map-get($gpn-theme-general-search, 'pagination', 'prev-next-icon-height');
                width: map-get($gpn-theme-general-search, 'pagination', 'prev-next-icon-width');
            }
        }

        .activePage {
            background: map-get($gpn-theme-general-search, 'pagination', 'active-bg');
            color: $gpn-theme-white;
            border: map-get($gpn-theme-general-search, 'pagination', 'active-border');

            &:hover {
                color: $gpn-theme-white;
                background: map-get($gpn-theme-general-search, 'pagination', 'active-bg');
            }
        }
    }
}
