.editorial-page-hero {
  background: map-get($uptick-editorial-page-hero, background-color);
  @include gpn-spacing([ 'padding-top', 'padding-bottom'], 'xxl');
  text-align: center;

  .container{
    @include media-breakpoint-up(md) {
        @include make-col(8);
        padding: 0;
      }
      @include media-breakpoint-up(lg) {
        @include make-col(12);
      }
  }
  .title {
    background: map-get($uptick-editorial-page-hero, title-background-gradient);
    background-clip: text;
    display: inline-block;
    @extend %display-xxl;
    color: transparent;
    @include gpn-spacing([ 'margin-bottom'], 'xs');
  }

  .description {
    color: map-get($uptick-editorial-page-hero, description-color);
    @extend %body-md;
    @include gpn-spacing([ 'margin-bottom'], 'lg');
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    .nav-list {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: map-get($uptick-editorial-page-hero, nav-list-gap);
      padding: 0;
      margin: 0;
      @include make-col(12);
      @include media-breakpoint-up(lg) {
        justify-content: flex-end;
        @include gpn-spacing('margin-left', 'xxxl');
        @include make-col(12);
      }
      .all-content-nav-item {
        border-radius: map-get($uptick-editorial-page-hero, active-item-border-radius);
        border-style: solid;
        border-color: map-get($uptick-editorial-page-hero, active-item-border-color);
      }

      .nav-search {
        position: relative;
        @include make-col(10);
        @include media-breakpoint-up(lg) {
          @include make-col(2);
        }
        // Styling for Search bar and its dropdown
        .search-container {
          width: 100%;
          display: inline-block;
          position: relative;
          @include media-breakpoint-up(lg) {
            display: flex;
            justify-content: flex-start;
          }
          .search-dropdown {
            box-shadow: $gpn-theme-search-dropdown-shadow;
            width: 100%;
            border-radius: $gpn-theme-radius-xl;
            background-color: $gpn-theme-white;
            position: absolute;
            top: 0;
            z-index: $gpn-theme-search-dropdown;
            text-align: start;
            @include media-breakpoint-up(lg) {
              left: map-get($uptick-editorial-page-hero, search-dropdown-left);
              width: map-get($uptick-editorial-page-hero, search-expanded-width);
            }
            .list-group-flush {
              border-radius: inherit;
            }
            .search-dropdown-item,
            .search-no-results {
              @include gpn-spacing('padding-top', 'xs');
              @include gpn-spacing('padding-bottom', 'xs');
              @include media-breakpoint-up(lg) {
                @include gpn-spacing('padding-inline', 'sm');
              }
              border-bottom: none;
              &:first-child {
                @include gpn-spacing('margin-top', 'xxl');
                @include media-breakpoint-up(lg) {
                  @include gpn-spacing('margin-top', 'md');
                }
              }
              &:hover {
                background-color: $gpn-theme-white;
              }
              &.selected {
                background-color: $gpn-theme-white;
              }
              .btn-cta-tertiary {
                cursor: pointer;
                &::after {
                  display: none;
                  background-image: none;
                }
                &:hover {
                  text-decoration: underline;
                  @extend %title-xxs;
                }
              }
              &.selected {
                background-color: $gpn-theme-white-255;
                .btn-cta-tertiary {
                  color: $gpn-theme-blue-500;
                  text-decoration: underline;
                  @extend %title-xxs;
                }
              }
            }
            .search-no-results {
              @extend %p-sm;
              color: $gpn-theme-black;
              text-decoration: none;
              @include gpn-spacing('padding-left', 'xs');
            }
          }
        }

        .search-icon-wrapper {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          width: map-get($uptick-editorial-page-hero, nav-search-width);
          height: map-get($uptick-editorial-page-hero, nav-search-width);
          border-radius: 50%;
          cursor: pointer;
          background-color: transparent;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: $gpn-theme-blue-500;
          }
        }

        .search-icon {
          width: map-get($uptick-editorial-page-hero, search-icon-width);
          aspect-ratio: map-get($uptick-editorial-page-hero, max-search-aspect-ratio);
          display: block;
        }

        .search-expanded {
          display: flex;
          align-items: center;
          position: relative;
          background-color: $gpn-theme-white;
          z-index: $gpn-theme-search-expanded;
          border-radius: $gpn-theme-radius-xxl;
          overflow: hidden;

          // Collapsed state
          width: 0;
          opacity: 0;
          pointer-events: none;
          padding-inline: 0;
          @include gpn-spacing('padding-block', 'xxs');

          // Expanded state
          &.open {
            width: 100%;
            opacity: 1;
            pointer-events: auto;
            @include gpn-spacing('padding-inline', 'sm');
            transition: map-get($uptick-editorial-page-hero, search-expanded-transition);
          }

          @include media-breakpoint-up(lg) {
            position: absolute;
            left: map-get($uptick-editorial-page-hero, search-dropdown-left);
            transform: translateY(-50%);
            background-color: $gpn-theme-blue-500;

            &.open {
              width: map-get($uptick-editorial-page-hero, search-expanded-width);
            }
          }
        }

        .search-input {
          flex: 1;
          background: transparent;
          border: none;
          color: $gpn-theme-black;
          @extend %body-sm;
          outline: none;
          @include gpn-spacing('margin-right', 'md');
          padding: 0;
          &::placeholder {
            color: $gpn-theme-grey-500;
          }

          &:focus {
            outline: none;
          }
          @include media-breakpoint-up(lg) {
            color: $gpn-theme-white;
            &::placeholder {
              color: $gpn-theme-white;
            }
          }
        }
      }
    }
  }
}

.editing-mode {
  span.uptick-content-taxonomy-roundedrect {
    a {
      text-decoration: none !important;
      @include gpn-spacing([ 'padding-top', 'padding-bottom'], 'xxs');
      @include gpn-spacing([ 'padding-left', 'padding-right'], 'sm');
      &:hover {
        background-color: map-get($uptick-editorial-page-hero, nav-item-hover-background-color);
        border-radius: map-get($uptick-editorial-page-hero, nav-item-hover-border-radius);
        color: map-get($uptick-editorial-page-hero, nav-item-hover-color) !important;
        @include gpn-spacing([ 'padding-top', 'padding-bottom'], 'xxs');
        @include gpn-spacing([ 'padding-left', 'padding-right'], 'sm');
      }
    }
  }
}
