.button-reset {
  all: unset;
  display: inline-block;

  margin: 0;
  padding: 0;
  border: none;
  background: none;

  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: none;

  cursor: pointer;
  line-height: normal;
  letter-spacing: inherit;

  -webkit-tap-highlight-color: transparent;

  &:focus {
    outline: none;
  }
}

.audio-playback {
  display: flex;
  flex-direction: column;
  gap: gpn-spacing-size('lg', 'xs');
  @include gpn-spacing('margin-bottom', 'md');

  .player {
    position: absolute;
    user-select: none;
    opacity: 0;
  }

  .controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: gpn-spacing-size('lg', 'xxs');
  }

  .play-button {
    @extend .button-reset;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $gpn-theme-grey-200;
    border-radius: $gpn-theme-radius-xxl;
    width: map-get($gpn-theme-uptick-audio-playback-block, button-size);
    height: map-get($gpn-theme-uptick-audio-playback-block, button-size);
    background-color: $gpn-theme-base;
  }

  .duration {
    @extend .p-sm;
    color: $gpn-theme-black;
    width: map-get($gpn-theme-uptick-audio-playback-block, duration-width);
  }

  .title {
    @extend %h-sm;
  }

  .subtitle {
    @extend .p-xs;
    color: $gpn-theme-black;
  }

  @include media-breakpoint-down(lg) {
    display: none;
  }
}

.progress {
  flex: 1;
  position: relative;
  background-color: $gpn-theme-gray;
  height: map-get($gpn-theme-uptick-audio-playback-block, progress-height);
  border-radius: $gpn-theme-radius-none;

  .progress-indicator {
    height: 100%;
    width: 100%;
    background-color: $gpn-theme-base;
    transition: map-get($gpn-theme-uptick-audio-playback-block, progress-transition);
    transform: translateX(-100%);
  }
}
