.horizontal-line-block {
  hr {
    width: 100%;
    height: 1px;
    @include gpn-spacing('margin-top', 'xxs');
    @include gpn-spacing('margin-bottom', 'sm');
    border: 1px solid map-get($gpn-theme-uptick-horizontal-line-block, 'border-color');
    margin: 0;
  }
}
