.interactive-block {
  iframe {
    width: 100%;
    height: map-get($gpn-interactive-block, 'interactive-block-height');
    @include media-breakpoint-up(md) {
      height: map-get($gpn-interactive-block, 'md-interactive-block-height');
    }
    @include media-breakpoint-up(lg) {
      height: map-get($gpn-interactive-block, 'lg-interactive-block-height');
    }
  }
}
