.two-column-quote-block {
  .quote-layout {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    @include gpn-spacing('gap', 'sm');

    .quote-text-column {
      @include make-col(12);
      order: 1;
      padding-bottom: map-get($gpn-theme-uptick-two-column-quote-block, 'padding-bottom-content');

      @include media-breakpoint-up(lg) {
        @include make-col(6);
      }

      p,
      > span,
      > div,
      > ul > li,
      > ol > li {
        @extend %p-md;
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    .quote-main-column {
      @include make-col(12);
      order: 2;

      @include media-breakpoint-up(lg) {
        @include make-col(6);
      }
    }

    @include media-breakpoint-up(lg) {
      flex-direction: row;
    }
  }

  &.quote-right {
    .quote-layout {
      .quote-text-column {
        order: 2;
      }

      .quote-main-column {
        order: 1;
      }
    }
  }

  &.without-text {
    .quote-text-column {
      display: none;
    }

    .quote-layout {
      .quote-main-column {
        width: 100%;
      }
    }
  }
}
