.video-block {
  height: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  border-radius: map-get($gpn-theme-uptick-video-block, video-border-radius);
  @include gpn-spacing('margin-bottom', 'sm');

  > div {
    aspect-ratio: 16/9;
  }

  &.container-sm {
    height: map-get($gpn-theme-uptick-video-block, video-height);
  }

  &__iframe {
    inset: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .react-player__preview {
    position: absolute;
  }

  @include media-breakpoint-down(lg) {
    width: 100%;
  }
}
