// Required to import default mixins in order to maintain static heights of stripes
@import '../../../../node_modules/bootstrap/scss/mixins';

.dividers {
  position: relative;
  width: 100%;
  opacity: 0; // Note: This is to make the component visible only when it is in Viewport.

  // always hide on mobiles
  @include media-breakpoint-down(sm) {
    display: none;
  }

  .stripe-rl-curve,
  .stripe-rl-curve-glow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    @include media-breakpoint-up(sm) {
      height: px-to-rem(19);
    }

    @include media-breakpoint-up(md) {
      height: px-to-rem(40);
    }

    @include media-breakpoint-up(lg) {
      height: px-to-rem(72);
    }
  }

  .stripe-crl-curve-glow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    @include media-breakpoint-up(sm) {
      height: px-to-rem(23.5);
    }

    @include media-breakpoint-up(md) {
      height: px-to-rem(49);
    }

    @include media-breakpoint-up(lg) {
      height: px-to-rem(87);
    }
  }

  .stripe-crlc-curve-glow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    @include media-breakpoint-up(sm) {
      height: px-to-rem(12);
    }

    @include media-breakpoint-up(md) {
      height: px-to-rem(25);
    }

    @include media-breakpoint-up(lg) {
      height: px-to-rem(46);
    }
  }

  .divider {
    .crlc-curve-glow {
      @include make-col(10);
      @include make-col-offset(2);
    }

    .rl-curve,
    .rl-curve-glow {
      @include make-col(9);
      @include make-col-offset(2);
    }

    .crl-curve-glow {
      @include make-col(12);
    }

    svg {
      position: relative;
      z-index: 5;
      height: 100%;
      width: 100%;
    }
  }
}
