&.middle-2x4x4x2 {
  .left-section {
    @include make-responsive-col-size-up($mobileSize: 12, $desktopSize: 4);
  }

  .right-section {
    @include make-responsive-col-size-up($mobileSize: 12, $desktopSize: 4);
  }

  &:not(.reverse-layout) {
    .left-section {
      @include media-breakpoint-up(md) {
        @include make-col-offset(2);
      }
    }
  }

  &.reverse-layout {
    .right-section {
      order: -1;
      @include media-breakpoint-up(md) {
        @include make-col-offset(2);
      }
    }
  }
}
