@import 'middle-1x5x5x1';
@import 'middle-1x10x1';
@import 'middle-2x4x4x2';
@import 'middle-2x8x2';
@import 'split-5x1x6';
@import 'split-40x40x40';
@import 'split-50x50';
@import 'split-60x40';
@import 'split-70x30';
@import 'split-80';
