&.split-60x40 {
  .left-section {
    @include make-responsive-col-size-up($mobileSize: 12, $tabletSize: 7);
  }

  .right-section {
    @include make-responsive-col-size-up($mobileSize: 12, $tabletSize: 5);
  }

  &.reverse-layout {
    .right-section {
      order: -1;
    }
  }
}
