&.split-50x50 {
  .left-section {
    @include make-responsive-col-size-up($mobileSize: 12, $tabletSize: 6);
  }

  .right-section {
    @include make-responsive-col-size-up($mobileSize: 12, $tabletSize: 6);
  }

  &.reverse-layout {
    .right-section {
      order: -1;
    }
  }
}
