&.split-40x40x40 {
  .left-section {
    @include make-responsive-col-size-up($mobileSize: 12, $tabletSize: 4);
  }

  .middle-section {
    @include make-responsive-col-size-up($mobileSize: 12, $tabletSize: 4);
  }

  .right-section {
    @include make-responsive-col-size-up($mobileSize: 12, $tabletSize: 4);
  }
}
