.l3-hero {
  .copy-section {
    @include gpn-spacing([ 'padding-top', 'padding-bottom'], 'xxl');

    @include make-col(12);
    @include media-breakpoint-up(md) {
      @include make-col(10);
      @include make-col-offset(1);
    }
    @include media-breakpoint-up(lg) {
      @include make-col(5);
      @include make-col-offset(0);
    }

    display: flex;
    flex-direction: column;
    justify-content: center;

    @include media-breakpoint-down(md) {
      padding-left: map-get($gpn-theme-heroes, 'l3-padding-left-md');
      padding-right: map-get($gpn-theme-heroes, 'l3-padding-right-md');
    }

    .brow {
      order: -1;
      @include gpn-spacing([ 'padding-bottom'], 'xs');
    }

    .title {
      @extend %h-xl;
      @include gpn-spacing([ 'padding-bottom'], 'xs');
    }

    .tag {
      @extend %p-md;
      @include gpn-spacing([ 'padding-bottom'], 'xs');
    }
  }

  @import 'variants/variants';
  @import '../../styles/hero/styles';
}
