&.three-in-row {
  .card-list-items {
    @include make-row();
    gap: gpn-spacing-size('sm', 'sm');
    flex-wrap: wrap;

    .uptick-card {
      flex: unset;
      max-width: 100%;
      flex: 0 0 100%;

      @include media-breakpoint-up(md) {
        flex: 0 0 calc(50% - (gpn-spacing-size('sm', 'sm') / 2));
        max-width: calc(50% - (gpn-spacing-size('sm', 'sm') / 2));
      }

      @include media-breakpoint-up(lg) {
        flex: 0 0 calc(33.333% - (gpn-spacing-size('sm', 'sm') * 2 / 3));
        max-width: calc(33.333% - (gpn-spacing-size('sm', 'sm') * 2 / 3));
      }

      .card-content {
        .card-image {
          display: none;
        }
      }
    }
  }
}
