@use 'sass:list';

.media-section {
  &.image-aspect-ratio-2-1 {
    img {
      aspect-ratio: list.slash(2, 1);
      object-fit: cover;
    }
  }

  &.image-aspect-ratio-4-3 {
    img {
      aspect-ratio: list.slash(4, 3);
      object-fit: cover;
    }
  }
}
