.case-study {
  .component-content {
    @include media-breakpoint-down(lg) {
      @include gpn-spacing([ 'padding-left', 'padding-right'], 'xs');
    }
  }
  .container {
    .row {
      display: flex;
      flex-wrap: wrap;
      gap: gpn-spacing-size('sm', 'md');
      flex-direction: column;
      justify-content: center;
      @include gpn-spacing([ 'padding-top', 'padding-bottom'], 'xxl');

      .copy-section,
      .media-section {
        border-radius: $gpn-theme-radius-xl;
      }

      @include media-breakpoint-up(md) {
        flex-direction: row;
        justify-content: space-between;

        .copy-section,
        .media-section {
          flex: 1 1 calc(50% - (gpn-spacing-size('sm', 'md') / 2));
          width: auto;
        }
      }

      .copy-section {
        @include gpn-spacing([ 'padding'], 'md');
        max-width: map-get($gpn-theme-case-study, 'copy-section-mobile-width');
        min-height: map-get($gpn-theme-case-study, 'copy-section-mobile-height');
        margin: 0 auto;

        @include media-breakpoint-up(sm) {
          max-width: map-get($gpn-theme-case-study, 'copy-section-tablet-width');
          min-height: map-get($gpn-theme-case-study, 'copy-section-tablet-height');
        }

        @include media-breakpoint-up(md) {
          width: auto;
          min-height: map-get($gpn-theme-case-study, 'copy-section-desktop-height');
          height: map-get($gpn-theme-case-study, 'copy-section-desktop-height');
        }
      }

      .copy-wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: gpn-spacing-size('sm', 'xs');
        justify-content: center;

        .logo {
          width: map-get($gpn-theme-case-study, 'logo-width');
          height: auto;
          margin-bottom: gpn-spacing-size('sm', 'xxs');

          @include media-breakpoint-up(md) {
            margin-bottom: gpn-spacing-size('sm', 'xs');
          }
        }

        .title,
        .title p {
          @extend %h-md;
        }

        .tag {
          @extend %p-md;
        }

        .cta-list {
          margin-top: gpn-spacing-size('sm', 'xs');
        }
      }
    }

    .media-section {
      max-width: map-get($gpn-theme-case-study, 'copy-section-mobile-width');
      height: map-get($gpn-theme-case-study, 'media-min-height-sm');
      padding: 0;
      overflow: hidden;
      margin: 0 auto;

      @include media-breakpoint-up(sm) {
        max-width: map-get($gpn-theme-case-study, 'copy-section-tablet-width');
        height: map-get($gpn-theme-case-study, 'copy-section-tablet-height');
      }

      @include media-breakpoint-up(md) {
        width: auto;
        height: map-get($gpn-theme-case-study, 'copy-section-desktop-height');
      }

      img,
      video {
        margin-top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 0% 0%;
      }

      img {
        @include transition(map-get($gpn-theme-case-study, 'media-transition'));
        width: 100%;
        height: 100%;

        &:hover {
          transform: map-get($gpn-theme-case-study, 'media-transform');
        }
      }
    }
  }

  &.quote-variant {
    .tag:before {
      content: '“';
      display: block;
      margin-bottom: gpn-spacing-size('sm', 'sm');
      @extend %h-lg;
    }

    .container .row .copy-wrapper {
      gap: gpn-spacing-size('sm', 'md');
    }

    .quote-author {
      display: flex;

      .name {
        @extend %p-md;
        font-weight: $gpn-theme-font-weight-bold;
      }

      .company,
      .company p {
        @extend %p-md;
      }
    }

    .copy-section {
      display: flex;
      align-items: center;
    }
  }
}
