&.three-in-row {
    .blog-card {
        @include make-col(12);
        @include media-breakpoint-up(md) {
            @include make-col(6);
        }
        @include media-breakpoint-up(lg) {
            @include make-col(4);
        }
    }
}