&.moment-curve {
  overflow-x: hidden;

  .container {
    display: flex;
    flex-wrap: wrap;

    .copy-section {
      @include make-col(12);
      @include media-breakpoint-up(sm) {
        @include make-col(8);
        @include make-col-offset(1);
      }
      @include media-breakpoint-up(lg) {
        @include make-col(5);
        @include make-col-offset(0);
      }
    }
    .media-section {
      padding: 0;
      margin: 0;
      @include make-col(12);
      @include media-breakpoint-up(md) {
        @include make-col(7);
      }
      position: relative;
      align-content: center;
      height: auto;
      @include media-breakpoint-up(md) {
        height: map-get($gpn-theme-heroes, 'l2-moment-curve-height-md');
      }
      @include media-breakpoint-up(lg) {
        height: map-get($gpn-theme-heroes, 'l2-moment-curve-height');
      }
      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        z-index: -1;
        left: calc(100% / 13 * -1);
        width: 100%;
        margin: auto;
        clip-path: circle(70% at 70% 50%);
        height: 100%;
        background-color: map-get($gpn-theme-heroes, 'base-background');
        @include media-breakpoint-up(md) {
          clip-path: circle(90% at 115% 50%);
          @include make-col-offset(1);
        }
        @include media-breakpoint-up(lg) {
          left: calc(100% / 200 * 1);
          clip-path: circle(80% at 80% 50%);
          @include make-col-offset(0);
        }
      }

      img,
      video {
        width: 100%;
        height: auto;
        margin: 0;
        @include media-breakpoint-up(md) {
          width: auto;
          height: 100%;
          @include make-col-offset(1);
        }
        @include media-breakpoint-up(lg) {
          @include make-col-offset(0);
        }
      }

      .hero-background {
        position: absolute;
        top: 0;
        z-index: $gpn-theme-zindex-heroes-media;
        left: calc(100% / 12 * 8);
        width: calc(100% + 100vw);
        height: 100%;
        background-color: map-get($gpn-theme-heroes, 'base-background');
        @include media-breakpoint-up(md) {
          height: map-get($gpn-theme-heroes, 'l2-moment-curve-height-md');
        }
        @include media-breakpoint-up(lg) {
          height: map-get($gpn-theme-heroes, 'l2-moment-curve-height');
        }
      }
    }
  }
}
