&.split50 {
  overflow: hidden;
  .container {
    display: flex;
    flex-wrap: wrap;

    .copy-section {
      @include make-col(12);
      @include media-breakpoint-up(md) {
        @include make-col(6);
      }
    }
    .media-section {
      @include make-col(12);
      padding-right: 0 !important;
      margin: 0;
      padding-right: 0;
      @include media-breakpoint-up(md) {
        @include make-col(5);
        @include make-col-offset(1);
      }

      img,
      video {
        margin: 0;
        width: 100%;
        object-position: 0% 0%;
        @include media-breakpoint-up(md) {
          width: map-get($gpn-theme-heroes, 'split50-media-width');
        }
      }
    }
  }
}
