form.sitecore-forms {
  .form-errors {
    display: none;
  }

  .form-control {
    @extend %p-sm;
    height: map-get($gpn-theme-forms, 'form-input-box-height');
    border: 1px solid map-get($gpn-theme-forms, 'form-control-border-color');
    border-radius: map-get($gpn-theme-forms, 'form-input-box-radius');
    padding: map-get($gpn-theme-forms, 'form-group-padding-top-bottom')
      map-get($gpn-theme-forms, 'form-group-padding-left-right');

    &:focus {
      border: 2px solid map-get($gpn-theme-forms, 'form-control-border-color-focus');
    }

    &.custom-select {
      background: map-get($gpn-theme-forms, 'dropdown-bg-color') $gpn-theme-icon-nav-down-base
        map-get($gpn-theme-forms, 'dropdown-background-posiion');
      appearance: none;
      padding: map-get($gpn-theme-forms, 'form-group-padding-top-bottom')
        map-get($gpn-theme-forms, 'form-group-padding-left-right');

      //List Box or Multi select
      &[size] {
        height: auto;
      }

      option {
        background-color: map-get($gpn-theme-forms, 'dropdown-bg-color');
      }
    }
  }

  label {
    display: flex;
    @extend %label-xs;
    gap: gpn-spacing-size('sm', 'xs');
    @include gpn-spacing('margin-bottom', 'xxxx');

    input[type='checkbox'] {
      width: map-get($gpn-theme-forms, 'checkbox-input-width');
      height: map-get($gpn-theme-forms, 'checkbox-input-height');
      flex-shrink: 0;
      appearance: none;
      border: 1px solid map-get($gpn-theme-forms, 'form-checkbox-border-color');
      background-color: map-get($gpn-theme-forms, 'checkbox-bg-color');
      position: relative;
      cursor: pointer;
      padding: 0;

      &:checked {
        background-color: map-get($gpn-theme-forms, 'form-checkbox-checked-color');

        &::after {
          content: map-get($gpn-theme-forms, 'checkbox-string');
          position: absolute;
          top: 50%;
          left: 50%;
          transform: map-get($gpn-theme-forms, 'checkbox-transform');
          font-weight: $gpn-theme-font-weight-bold;
          color: $gpn-theme-white;
        }
      }
    }

    input[type='radio'] {
      @include gpn-spacing('margin-bottom', 'xxxx');
      width: map-get($gpn-theme-forms, 'radio-input-width');
      height: map-get($gpn-theme-forms, 'radio-input-height');
      border: map-get($gpn-theme-forms, 'radio-input-border');
      border-radius: $gpn-theme-radius-xxl;
      background-color: map-get($gpn-theme-forms, 'radio-input-bg-color');
      flex-shrink: 0;
      appearance: none;
      position: relative;
      cursor: pointer;
      padding: 0;

      &:checked {
        background-color: map-get($gpn-theme-forms, 'radio-input-checked-color');

        &::after {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: map-get($gpn-theme-forms, 'radio-input-checked-size');
          height: map-get($gpn-theme-forms, 'radio-input-checked-size');
          background-color: map-get($gpn-theme-forms, 'radio-input-checked-bg-color');
          border-radius: $gpn-theme-radius-xxl;
        }
      }
    }


    &.invalid + .form-control {
      box-shadow: none;
      color: map-get($gpn-theme-forms, 'form-validation-color');
      border: 2px solid map-get($gpn-theme-forms, 'form-validation-color');

      &:focus {
        box-shadow: none;
      }
    }
  }

  .form-group {
    @include gpn-spacing('margin-bottom', 'sm');

    input {
      padding-top: map-get($gpn-theme-forms, 'form-group-padding-top-bottom');
      padding-bottom: map-get($gpn-theme-forms, 'form-group-padding-top-bottom');
      padding-left: map-get($gpn-theme-forms, 'form-group-padding-left');
      padding-right: map-get($gpn-theme-forms, 'form-group-padding-right');
    }

    input[type='submit'] {
      padding: map-get($gpn-theme-forms, 'submit-btn-padding-top-bottom')
        map-get($gpn-theme-forms, 'submit-btn-padding-left-right');
    }
  }

  //Icon Used for input type buttons to place icons on right
  .form-group {
    &.has-icon-input {
      i {
        position: absolute;
        right: 10%;
        top: 33%;
        color: map-get($gpn-theme-forms, 'form-group-icon-color');
      }

      &.is-hovered {
        i {
          color: map-get($gpn-theme-forms, 'form-group-icon-color-on-hover');
        }
      }
    }
  }

  .form-group {
    .invalid p {
      font-weight: map-get($gpn-theme-forms, 'validation-error-form-weight');
      display: block;
      margin-top: map-get($gpn-theme-forms, 'validation-error-margin-top');
      color: map-get($gpn-theme-forms, 'form-validation-color');
      font-size: map-get($gpn-theme-forms, 'validation-error-font-size');
      line-height: map-get($gpn-theme-forms, 'validation-error-line-height');
    }

    option:disabled {
      color: map-get($gpn-theme-forms, 'disabled-option-color');
    }
  }
  .hidden-by-condition {
    display: none !important;
  }

  .html-content {
    p {
      @extend %p-sm;
    }
    .confirmation-content {
      .thank-you {
        @extend %label-xl;
        color: $gpn-theme-base;
      }
      p {
        @extend %p-sm;
      }
      .logo-img {
        @include gpn-spacing('margin-top', 'xxl');
      }
    }
  }
  .container-gray-content-background,
  .container-white-content-background {
    &>.component-content {
        background-color: $gpn-theme-faint;
        padding: map-get($gpn-theme-forms, 'grey-background-content-mobile-padding');

        @include media-breakpoint-up(md) {
          padding: map-get($gpn-theme-forms, 'grey-background-content-tablet-padding');
          margin-left: auto;
          margin-right: auto;
        }
        @include media-breakpoint-up(lg) {
          padding: map-get($gpn-theme-forms, 'grey-background-content-desktop-padding');
        }
    }
  }
}

textarea.form-control{
  min-height: map-get($gpn-theme-forms, 'textarea-min-height');
  @include gpn-spacing('padding', 'md');
}

input[type='date'].form-control {
  text-transform: uppercase;
  position: relative;

  &::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
  }

  &::after {
    content: '';
    position: absolute;
    right: map-get($gpn-theme-forms, 'calendar-icon-right');
    top: 50%;
    transform: translateY(-50%);
    width: map-get($gpn-theme-forms, 'calendar-icon-width');
    height: map-get($gpn-theme-forms, 'calendar-icon-height');
    background-image: map-get($gpn-theme-forms, 'calendar-icon-background');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    pointer-events: none;
    z-index: 1;
  }
}

.form-error {
  span {
    font-weight: map-get($gpn-theme-forms, 'validation-error-form-weight');
    display: block;
    margin-top: map-get($gpn-theme-forms, 'validation-error-margin-top');
    color: map-get($gpn-theme-forms, 'form-validation-color') !important;
    font-size: map-get($gpn-theme-forms, 'validation-error-font-size');
    line-height: map-get($gpn-theme-forms, 'validation-error-line-height');
  }
}
.form-help-text {
  @extend %label-xxs;
  color: map-get($gpn-theme-forms, 'form-help-text-color');
  @include gpn-spacing('margin-top', 'xxxx');
}


.bg-faint {

  .form-help-text {
    color: map-get($gpn-theme-forms, 'form-help-text-color-bg-faint');
  }

  .form-error span{
    color: map-get($gpn-theme-forms, 'form-validation-color-bg-faint') !important;
  }

  form.sitecore-forms {

    label {
      input[type=checkbox], input[type=radio]{
        border-color: map-get($gpn-theme-forms, 'form-checkbox-border-color-bg-faint');
      }
    }

    .form-control:focus {
      border-color: map-get($gpn-theme-forms, 'form-control-border-color-focus-bg-faint');
    }

    label.invalid + .form-control {
      color: map-get($gpn-theme-forms, 'form-validation-color-bg-faint');
      border-color: map-get($gpn-theme-forms, 'form-validation-color-bg-faint');
    }

    .form-group .invalid p {
      color: map-get($gpn-theme-forms, 'form-validation-color-bg-faint');
    }
  }
}

.bg-base {

  .form-help-text {
    color: map-get($gpn-theme-forms, 'form-help-text-color-bg-base');
  }

  .form-error span{
    color: map-get($gpn-theme-forms, 'form-validation-color-bg-base') !important;
  }

  form.sitecore-forms {

    label {
      input[type=checkbox], input[type=radio]{
        border-color: map-get($gpn-theme-forms, 'form-checkbox-border-color-bg-base');
      }
    }

    .form-control:focus {
      border-color: map-get($gpn-theme-forms, 'form-control-border-color-focus-bg-base');
    }

    label.invalid + .form-control {
      color: map-get($gpn-theme-forms, 'form-validation-color-bg-base');
      border-color: map-get($gpn-theme-forms, 'form-validation-color-bg-base');
    }

    .form-group .invalid p {
      color: map-get($gpn-theme-forms, 'form-validation-color-bg-base');
    }
  }
}

.split-base-white-theme {
  a {
    &.btn-overlay {
      cursor: pointer;
      text-decoration-color: $gpn-theme-white !important;
    }
  }
}
