.component.uptick-article-banner {

    @include gpn-spacing(['padding-top', 'padding-bottom'], 'lg');
    
    // Structure
    .row {
        @include gpn-spacing('gap', 'lg');
        @include media-breakpoint-up(lg) { 
            gap: unset;
        }
    }
    .content {
        @include make-col(12);
        @include media-breakpoint-up(lg) { 
            @include make-col(5); 
            order: 2;

        }
        display: flex;
        flex-direction: column;
        @include gpn-spacing('gap', 'xs');
    }
    .media {
        @include make-col(12);
        @include media-breakpoint-up(lg) { 
            @include make-col(7); 
            order: 1;
        }

        img{
            width: 100%;
            max-width: 100%;
            height: auto;
            aspect-ratio: map-get($gpn-theme-uptick-card, img-aspect-ratio);
            object-fit: cover;
            transition: map-get($gpn-theme-uptick-card, img-animation-transition);
            border-radius: map-get($gpn-theme-uptick-card, img-border-radius);
        }
    }


    // Text styling

    .article-title {
        color: $gpn-theme-black;
        @extend %h-lg;
    }
    .article-short-description {
        @extend %p-lg;
    }
    .author-content-link-component {
        a, div {
            font-size: 1.4rem;//TODO
        }

        .content-author-name{
            a{
                &:first-child{
                    text-decoration: none !important;
                }
            }
        }
    }
}