.component.uptick-author-card {
    @include gpn-spacing(['padding-top', 'padding-bottom'], 'lg');
    
    // Structure
    .author-card {
        display: flex;
        flex-direction: column;
        @include gpn-spacing('gap', 'lg');
        @include media-breakpoint-up(md) {
            flex-direction: row;
        }
        @include media-breakpoint-up(lg) { 
            @include make-col-offset(2);
            @include make-col(8); 
        }
    }
    .author-details {
        @include make-col(12);
        @include media-breakpoint-up(md) {
            @include make-col(9);
        }
        @include media-breakpoint-up(md) {
            @include make-col(10);
        }
        display: flex;
        flex-direction: column;
        @include gpn-spacing('gap', 'xs');
    }
    .author-image {
        @include make-col(7);
        @include media-breakpoint-up(md) {
            @include make-col(3);
        }
        @include media-breakpoint-up(lg) { 
            //@include make-col-offset(2);
            @include make-col(2); 
        }

        img{
            max-width: 100%;
            height: auto;
        }
    }

    // content
    .author-card {
        .author-details {
            .author-name {
                @extend %label-lg;
            }
            .author-biography {
                &, & > * {
                    @extend %p-sm;
                }
            }
            .areas-of-expertise {
                display: flex;
                flex-direction: column;
                @include gpn-spacing('gap', 'xxs');

                > p { 
                    @extend %p-xs;
                }
            }

            .uptick-content-taxonomy {
                flex-wrap: wrap;
            }
        }
    }
}