.component.card-list.default {
    // @include gpn-spacing(['padding-top', 'padding-bottom'], 'xxl');  // Closest variable values getting lg-64, md-56, sm-48 not as per figma 
    // Used the values for padding-top and padding-bottom
    padding-top: gpn-spacing-size('sm', 'xl');
    padding-bottom: gpn-spacing-size('sm', 'xl');

    @include media-breakpoint-up(md) {
        padding-top: gpn-spacing-size('md', 'sm'); //TBD 20px in Figma
        padding-bottom: gpn-spacing-size('md', 'sm'); //TBD 20px in Figma
    }

    @include media-breakpoint-up(lg) {
        padding-top: gpn-spacing-size('md', 'xxxl');
        padding-bottom: gpn-spacing-size('md', 'xxxl');
    }

    .row {
        .title-row {
            @include make-col(12);
            display: none;
            text-align: center;

            @include media-breakpoint-up(lg) {
                @include make-col(8);
                @include make-col-offset(2);
                display: flex;
                justify-content: space-between;
                text-align: left;
                margin-bottom: gpn-spacing-size('lg', 'md');
            }

            .title,
            .title strong {
                @extend %h-sm;
                color: $gpn-theme-black;
            }

            > a{
                display: none;
            }
        }

        .card-list-items {
            @include make-row();
            align-items: flex-start;
            gap: gpn-spacing-size('sm', 'xl');

            @include media-breakpoint-up(md) {
                //TBD row-gap 40px col-gap 22px in Figma, overwritten the values
                row-gap: gpn-spacing-size('sm', 'xl');
                column-gap: gpn-spacing-size('md', 'sm');
            }

            @include media-breakpoint-up(lg) {
                //TBD gap 32px in Figma, overwritten the values
                row-gap: unset;
                column-gap: unset;
                @include make-col(8);
                @include make-col-offset(2);
                gap: gpn-spacing-size('lg', 'md');
            }

            .uptick-card {
                display: flex;
                flex-direction: column;
                @include gpn-spacing('gap', 'lg');
                padding: 0;

                @include media-breakpoint-up(md) {
                    flex: 0 0 calc(50% - 1.2rem);
                    max-width: calc(50% - 1.2rem);
                }

                @include media-breakpoint-up(lg) {
                    flex: 0 0 100%;
                    max-width: 100%;
                    flex-direction: row;
                    padding-left: 0;
                    padding-right: 0;
                }

                .card-content {
                    display: flex;
                    flex-direction: column;

                    @include media-breakpoint-up(lg) {
                        flex-direction: row;
                    }

                    .card-image {
                        @include make-col(12);
                        margin-bottom: gpn-spacing-size('sm', 'xs');

                        @include media-breakpoint-up(lg) {
                            @include make-col(2);
                            margin: 0;
                        }
                    }

                    .card-details {
                        @include media-breakpoint-up(lg) {
                            padding-left: gpn-spacing-size('sm', 'sm');
                            gap: gpn-spacing-size('lg', 'xs');
                        }
                    }
                }
            }
        }
    }
}

@import './variants/CardList/Article';
@import './variants/CardList/FeatureOnTop';