.component.featured-content {
    @include make-col(12);
    padding-top: gpn-spacing-size('sm', 'sm');
    padding-bottom: gpn-spacing-size('sm', 'xxxl');

    @include media-breakpoint-up(md) {
        padding-bottom: gpn-spacing-size('md', 'xxxl');
    }

    @include media-breakpoint-up(lg) {
        padding-bottom: gpn-spacing-size('lg', 'xxxl');
    }

    .row {
        align-items: center;
        justify-content: center;

        .title-row {
            @include make-col(12);

            text-align: left;
            margin-bottom: gpn-spacing-size('sm', 'xs');

            .title,
            .title strong {
                @extend %h-lg;
                color: $gpn-theme-black;
                font-weight: $gpn-theme-font-weight-light;
            }
        }
    }

    .card-list-items {
        @include make-row();

        .uptick-card {
            display: flex;
            gap: gpn-spacing-size('sm', 'sm');
            @include make-col(12);
            padding: 0;

            @include media-breakpoint-up(lg) {
                flex: 1 1 0;
            }

            .card-content {
                display: flex;
                flex-direction: column;

                @include media-breakpoint-up(md) {
                    flex-direction: row;
                }

                @include media-breakpoint-up(lg) {
                    flex-direction: row;
                }

                .card-image {
                    @include make-col(12);
                    margin-bottom: gpn-spacing-size('sm', 'sm');

                    @include media-breakpoint-up(md) {
                        @include make-col(4);
                        margin-right: gpn-spacing-size('sm', 'sm');
                        margin-bottom: 0;
                    }

                    @include media-breakpoint-up(lg) {
                        @include make-col(3);
                    }

                    img {
                        width: 100%;
                    }
                }

                .card-details {
                    .card-description{
                        @extend %p-sm;
                        color: $gpn-theme-black;
                    }
                }
                .ec-card-link-overlay{
                    display: none;
                }
            }
        }
    }

    @import './variants/FeaturedContent/variants';
}