.component.uptick-hero-with-text {

    @include gpn-spacing(['padding-top', 'padding-bottom'], 'lg');


    // structure

    .row {
        align-items: center;
        justify-content: center;
        row-gap: gpn-spacing-size('sm', 'sm');
    }

    .content {
        @include make-col-ready();
        @include make-col(12);
        @include media-breakpoint-up(lg) {
            @include make-col(6)
        }

        display: flex;
        flex-direction: column;
        @include gpn-spacing('gap', 'xs');
    }

    .media {
        @include make-col-ready();
        @include make-col(12);
        @include media-breakpoint-up(lg) {
            @include make-col(6);
        }

        img{
            width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: map-get($gpn-theme-uptick-card, img-border-radius);
        }
    }

    // styling
    .title {
        order: 2;
        @extend %display-xxl;

        background: $gpn-theme-gradient-horizon;
        background-clip: text;
        color: transparent;
    }

    .brow {
        order: 1;
        @extend %p-brow;
    }

    .subtitle {
        order: 3;
        &, > * {
            @extend %p-md;
        }
    }
}