.component.iframe-ceros {
    @include gpn-spacing(['padding-top', 'padding-bottom'], 'xl');

    .iframe-wrapper {
        iframe {
            width: 100%;
            height: 24rem;

            @include media-breakpoint-up(md) {
                height: 42rem;
            }

            @include media-breakpoint-up(lg) {
                height: 78rem;
            }
        }

        .iframe-fallback {
            padding: 2rem;
            text-align: center;
            background: $gpn-theme-grey-110;
            border-radius: 8px;

            a {
                display: inline-block;
                margin-top: 1rem;
                padding: 0.5rem 1rem;
                background: $gpn-theme-dark;
                color: $gpn-theme-white;
                border-radius: 4px;
                text-decoration: none;

                &:hover {
                    background: $gpn-theme-darker-base;
                }
            }
        }
    }
}