.social-sharing-container {
    display: flex;
    align-items: center;
    @include gpn-spacing('gap', 'xs');

    .sharing-text {
         @extend %p-xs;
    }

    ul.social-links {
        padding-left: unset;
        list-style: none;
        display: flex;
        @include gpn-spacing('gap', 'xs');

        li {
            font-size: $gpn-theme-p-xs-font-size;

            a {
                height: 3.5rem;
                width: 3.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid $gpn-theme-grey-400;
                border-radius: 50%;
            }
        }
    }
    a { text-decoration: none; }
}
