.uptick-content-taxonomy {
    @include uptick-content-taxonomy();

    &.author-variant {
        .uptick-tag-component.tag-topic {
            color: $gpn-theme-black;
            border-color: $gpn-theme-off-black;
            &:hover {
                border-color: $gpn-theme-orange-200;
            }
        }
    }
}