.sme-content-block{
    @include gpn-spacing(['padding-top', 'padding-bottom'], 'lg');
    @include make-col(12);

    @include media-breakpoint-up(lg) {
        @include make-col(8);
        @include make-col-offset(2);
    }

    .sme-details{
        display: flex;
        flex-direction: column;
        gap: gpn-spacing-size('sm', 'xs');

        .sme-subtitle{
            @extend %h-xs;
        }
    }
}