@mixin base-arrow-before {
  display: inline-flex;
  align-items: center;

  &::before {
    @extend %base-arrow;
    margin-right: $gpn-theme-btn-icon-spacing;
    @content;
  }
}

@mixin base-arrow-after {
  display: inline-flex;
  align-items: center;

  &::after {
    @extend %base-arrow;
    margin-left: $gpn-theme-btn-icon-spacing;
    @content;
  }
}

@mixin button-outline-variant(
  $color,
  $text-color: $color,
  $color-hover: color-contrast($color),
  $active-background: $color,
  $active-border: $color,
  $active-color: color-contrast($active-background)
) {
  --#{$prefix}btn-color: #{$text-color};
  --#{$prefix}btn-border-color: #{$color};
  --#{$prefix}btn-hover-color: #{$color-hover};
  --#{$prefix}btn-hover-bg: #{$active-background};
  --#{$prefix}btn-hover-border-color: #{$active-border};
  --#{$prefix}btn-focus-shadow-rgb: #{to-rgb($color)};
  --#{$prefix}btn-active-color: #{$active-color};
  --#{$prefix}btn-active-bg: #{$active-background};
  --#{$prefix}btn-active-border-color: #{$active-border};
  --#{$prefix}btn-active-shadow: #{$btn-active-box-shadow};
  --#{$prefix}btn-disabled-color: #{$color};
  --#{$prefix}btn-disabled-bg: transparent;
  --#{$prefix}btn-disabled-border-color: #{$color};
  --#{$prefix}gradient: none;
}

@mixin cta-button($buttonType, $details) {
  @if ($buttonType == 'filled') {
    $backgroundColour: map-get($details, 'background-colour');
    $borderColour: $backgroundColour;
    $textColour: map-get($details, 'text-colour');
    $hoverBackgroundColour: map-get($details, 'hover-background-colour');
    $hoverBorderColour: $hoverBackgroundColour;
    $hoverTextColour: map-get($details, 'hover-text-colour');
    $activeBackgroundColour: map-get($details, 'active-background-colour');
    $activeBorderColour: $activeBackgroundColour;
    $activeTextColour: map-get($details, 'active-text-colour');

    @include button-variant(
      $backgroundColour,
      $borderColour,
      $color: $textColour,
      $hover-background: $hoverBackgroundColour,
      $hover-border: $hoverBorderColour,
      $hover-color: $textColour,
      $active-background: $activeBackgroundColour,
      $active-border: $activeBorderColour,
      $active-color: $textColour
    );
  } @else if ($buttonType == 'outline') {
    $borderColour: map-get($details, 'border-colour');
    $textColour: map-get($details, 'text-colour');
    $hoverTextColour: map-get($details, 'hover-text-colour');
    $activeBackgroundColour: map-get($details, 'active-background-colour');
    $activeBorderColour: map-get($details, 'active-border-colour');
    $activeTextColour: map-get($details, 'active-text-colour');

    @include button-outline-variant(
      $borderColour,
      $textColour,
      $hoverTextColour,
      $activeBackgroundColour,
      $activeBorderColour,
      $activeTextColour
    );
  } @else if ($buttonType == 'arrow') {
    @extend .btn-link;

    $textColour: map-get($details, 'text-colour');
    $hoverTextColour: map-get($details, 'hover-text-colour');
    $arrow: map-get($details, 'arrow-icon');

    color: $textColour;

    font-weight: $gpn-theme-font-weight-medium;
    text-decoration: none;
    font-size: $gpn-theme-btn-font-size-sm;
    padding: 0.8rem 0;

    @include base-arrow-after {
      background-image: $arrow;
    }

    @include hover-set {
      color: $hoverTextColour;
      &::after {
        transform: translateX(0.5rem);
      }
    }
  } @else if ($buttonType == 'store') {
    content: map-get($details, 'icon');
    transition: 0.1s filter linear;

    &:hover,
    &:active {
      filter: opacity(0.8);
    }
  }
}

// customised button loops from bootstrap
// buttons
@each $colour, $details in $gpn-theme-buttons {
  .btn-#{$colour},
  %btn-#{$colour} {
    $backgroundColour: map-get($details, 'background-colour');
    $borderColour: $backgroundColour;
    $textColour: map-get($details, 'text-colour');

    $hoverBackgroundColour: map-get($details, 'hover-background-colour');
    $hoverBorderColour: $hoverBackgroundColour;
    $activeBackgroundColour: map-get($details, 'active-background-colour');
    $activeBorderColour: $activeBackgroundColour;

    @include button-variant(
      $backgroundColour,
      $borderColour,
      $color: $textColour,
      $hover-background: $hoverBackgroundColour,
      $hover-border: $hoverBorderColour,
      $hover-color: $textColour,
      $active-background: $activeBackgroundColour,
      $active-border: $activeBorderColour,
      $active-color: $textColour
    );
  }
}

// Outline buttons
@each $color, $details in $gpn-theme-outline-buttons {
  .btn-outline-#{$color},
  %btn-outline-#{$color} {
    $borderColour: map-get($details, 'border-colour');
    $textColour: map-get($details, 'text-colour');
    $hoverTextColour: map-get($details, 'hover-text-colour');
    $activeBackgroundColour: map-get($details, 'active-background-colour');
    $activeBorderColour: map-get($details, 'active-border-colour');
    $activeTextColour: map-get($details, 'active-text-colour');

    @include button-outline-variant(
      $borderColour,
      $textColour,
      $hoverTextColour,
      $activeBackgroundColour,
      $activeBorderColour,
      $activeTextColour
    );
  }
}

// Used in blog/uptick taxonomy
.btn-outline-taxonomy,
%btn-outline-taxonomy {

  $borderColour: map-get($gpn-theme-outline-button-taxonomy, 'border-colour');
  $textColour: map-get($gpn-theme-outline-button-taxonomy, 'text-colour');
  $hoverTextColour: map-get($gpn-theme-outline-button-taxonomy, 'hover-text-colour');
  $activeBackgroundColour: map-get($gpn-theme-outline-button-taxonomy, 'active-background-colour');
  $activeBorderColour: map-get($gpn-theme-outline-button-taxonomy, 'active-border-colour');
  $activeTextColour: map-get($gpn-theme-outline-button-taxonomy, 'active-text-colour');

  @include button-outline-variant(
    $borderColour,
    $textColour,
    $hoverTextColour,
    $activeBackgroundColour,
    $activeBorderColour,
    $activeTextColour
  );

  padding: 0.4rem 1.6rem;

  font-size: 1.2rem;//TODO
  line-height: 1.6rem;//TODO
  font-weight: $gpn-theme-font-weight-black;

  &.featured {
    font-weight: $gpn-theme-font-weight-bold;
  }
}
// CTA buttons
@each $ctaButtonType, $details in $gpn-theme-cta-buttons {
  .btn-cta-#{$ctaButtonType},
  %btn-cta-#{$ctaButtonType} {
    $buttonType: map-get($details, 'button-type');
    $outputDetails: map-get($details, 'default');
    @include cta-button($buttonType, $outputDetails);
  }
}

@each $theme, $_ in $gpn-theme-colours {
  .bg-#{$theme} {
    @each $ctaButtonType, $details in $gpn-theme-cta-buttons {
      .btn-cta-#{$ctaButtonType} {
        $buttonType: map-get($details, 'button-type');
        $outputDetails: map-get($details, 'default');
        @if ($theme == 'base') {
          $outputDetails: map-get($details, 'theme-matches');
        } @else if ($theme == 'black') {
          $outputDetails: map-get($details, 'black');
        } @else if (is-light-theme-colour($theme)) {
          $outputDetails: map-get($details, 'light');
        } @else if (is-dark-theme-colour($theme)) {
          $outputDetails: map-get($details, 'dark');
        }

        @if ($outputDetails != null) {
          @include cta-button($buttonType, $outputDetails);
        }
      }
    }

    @each $innerTheme, $_ in $gpn-theme-colours {
      @if ($theme != $innerTheme) {
        @each $innerCtaButtonType, $innerDetails in $gpn-theme-cta-buttons {
          $innerButtonType: map-get($innerDetails, 'button-type');
          $innerOutputDetails: map-get($innerDetails, 'default');
          @if ($innerTheme == 'base') {
            $innerOutputDetails: map-get($innerDetails, 'theme-matches');
          } @else if ($innerTheme == 'black') {
            $innerOutputDetails: map-get($innerDetails, 'black');
          } @else if (is-light-theme-colour($innerTheme)) {
            $innerOutputDetails: map-get($innerDetails, 'light');
          } @else if (is-dark-theme-colour($innerTheme)) {
            $innerOutputDetails: map-get($innerDetails, 'dark');
          }

          @if ($innerOutputDetails != null) {
            .bg-#{$innerTheme} {
              .btn-cta-#{$innerCtaButtonType} {
                @include cta-button($innerButtonType, $innerOutputDetails);
              }
            }
          }
        }
      }
    }
  }
}

// Link glow buttons
.link-glow {
  text-decoration: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 50px;
  position: relative;
  margin-left: -12px;
  font-weight: $gpn-theme-font-weight-medium;
  font-size: $gpn-theme-glow-base-font-size;
  line-height: $gpn-theme-btn-line-height;
  display: inline-block;
  transition: color 0.3s ease-in-out;
  z-index: 0;

  &:hover:after {
    width: 100%;
  }

  &:focus:after {
    width: 100%;
  }

  &:after {
    content: '';
    background-repeat: no-repeat;
    background-position: right;
    transition: all 0.3s ease-in-out;
    width: 33px;
    height: 32px;
    border-radius: 50px;
    position: absolute;
    right: 0;
    z-index: -1;
    top: 4px;
  }

  @include media-breakpoint-down(sm) {
    padding-left: 0;
    margin-left: 0;
  }
}

@each $colour, $value in $glow-arrows {
  .link-glow-#{$colour} {
    $textColour: map-get($value, 'text');
    $textHover: map-get($value, 'text-hover');
    $background: map-get($value, 'background');
    $image: map-get($value, 'image');

    color: $textColour;

    &:hover,
    &:focus,
    &:active {
      color: $textHover;
    }

    &:focus:after {
      background-color: $background;
      width: 100%;
    }

    &:after {
      background-image: $image;
      background-color: $background;
    }
  }
}

@each $theme, $details in $gpn-theme-colour-themes {
  .bg-#{$theme} {
    @each $glowButton, $details in $glow-arrows {
      $textColour: map-get($details, 'text');
      $textHoverColour: map-get($details, 'text-hover');
      @if (is-dark-theme-colour($theme)) {
        $textColour: map-get($details, 'dark-background-text');
        $textHoverColour: map-get($details, 'dark-background-text-hover');
      }

      $backgroundColour: map-get($details, 'background');
      @if ($glowButton == $theme) {
        $backgroundColour: map-get($details, 'theme-matches-glow-colour-alternative-background');
      }

      .link-glow-#{$glowButton} {
        color: $textColour;

        &:after {
          background-color: $backgroundColour;
        }
        &:focus:after {
          background-color: $backgroundColour;
        }

        @if ($glowButton == $theme) {
          &:after {
            background-image: map-get($details, 'theme-matches-glow-colour-alternative-icon');
          }
        }

        @include media-breakpoint-up(md) {
          &:hover,
          &:focus,
          &:active {
            color: $textHoverColour;
          }
        }
      }
    }
  }

  // this is to cater when a theme is inside another theme
  .bg-#{$theme} {
    @each $innerTheme, $innerDetails in $gpn-theme-colour-themes {
      .bg-#{$innerTheme} {
        @each $glowButton, $arrowDetails in $glow-arrows {
          $textColour: map-get($arrowDetails, 'text');
          $textHoverColour: map-get($arrowDetails, 'text-hover');
          @if (is-dark-theme-colour($innerTheme)) {
            $textColour: map-get($arrowDetails, 'dark-background-text');
            $textHoverColour: map-get($arrowDetails, 'dark-background-text-hover');
          }

          $backgroundColour: map-get($arrowDetails, 'background');
          @if ($glowButton == $innerTheme) {
            $backgroundColour: map-get(
              $arrowDetails,
              'theme-matches-glow-colour-alternative-background'
            );
          }

          $image: map-get($arrowDetails, 'image');

          .link-glow-#{$glowButton} {
            color: $textColour;

            &:after {
              background-color: $backgroundColour;
            }
            &:focus:after {
              background-color: $backgroundColour;
            }

            @if ($glowButton == $innerTheme) {
              &:after {
                background-image: map-get(
                  $arrowDetails,
                  'theme-matches-glow-colour-alternative-icon'
                );
              }
            } @else {
              &:after {
                background-image: $image;
              }
            }

            @include media-breakpoint-up(md) {
              &:hover,
              &:focus,
              &:active {
                color: $textHoverColour;
              }
            }
          }
        }
      }
    }
  }
}

// Arrow buttons
%base-arrow {
  content: '';
  background-repeat: no-repeat;
  background-position: center center;
  transition: transform 0.2s linear, opacity 0.2s linear, color 0.2s linear;
  background-size: 100%;
  height: 2.5rem;
  width: 2.5rem;
}

.link-headline-listitem {
  $details: map-get($gpn-theme-headline-arrow-button, 'default');

  $textColour: map-get($details, 'textColour');
  $textHoverColour: map-get($details, 'textHoverColour');
  $arrow: map-get($details, 'arrow-icon');

  color: $textColour;
  text-decoration: none;
  @include base-arrow-before;

  &:hover {
    color: $textHoverColour;

    &::before {
      background-image: $arrow;
    }
  }
}

@each $theme, $details in $gpn-theme-colour-themes {
  .bg-#{$theme} {
    .link-headline-listitem {
      $linkDetails: map-get($gpn-theme-headline-arrow-button, 'default');
      @if ($theme == 'base') {
        $linkDetails: map-get($gpn-theme-headline-arrow-button, 'base');
      } @else if (is-light-theme-colour($theme)) {
        $linkDetails: map-get($gpn-theme-headline-arrow-button, 'light');
      } @else if ($theme == 'black') {
        $linkDetails: map-get($gpn-theme-headline-arrow-button, 'black');
      } @else if (is-dark-theme-colour($theme)) {
        $linkDetails: map-get($gpn-theme-headline-arrow-button, 'dark');
      }

      $textColour: map-get($linkDetails, 'textColour');
      $textHoverColour: map-get($linkDetails, 'textHoverColour');
      $arrow: map-get($linkDetails, 'arrow-icon');

      color: $textColour;
      &:hover {
        color: $textHoverColour;

        &::before {
          background-image: $arrow;
        }
      }
    }
  }
}

.with-arrow {
  $details: map-get($gpn-theme-with-arrow-button, 'default');

  $textColour: map-get($details, 'textColour');
  $textHoverColour: map-get($details, 'textHoverColour');
  $arrow: map-get($details, 'arrow-icon');

  color: $textColour;
  text-decoration: none;
  @include base-arrow-after;

  &::after {
    background-image: $arrow;
  }

  &:hover {
    color: $textHoverColour;

    &::after {
      background-image: $arrow;
    }
  }
}

@each $theme, $details in $gpn-theme-colour-themes {
  .bg-#{$theme} {
    .with-arrow {
      $linkDetails: map-get($gpn-theme-with-arrow-button, 'default');
      @if ($theme == 'base') {
        $linkDetails: map-get($gpn-theme-with-arrow-button, 'base');
      } @else if (is-light-theme-colour($theme)) {
        $linkDetails: map-get($gpn-theme-with-arrow-button, 'light');
      } @else if ($theme == 'black') {
        $linkDetails: map-get($gpn-theme-with-arrow-button, 'black');
      } @else if (is-dark-theme-colour($theme)) {
        $linkDetails: map-get($gpn-theme-with-arrow-button, 'dark');
      }

      $textColour: map-get($linkDetails, 'textColour');
      $textHoverColour: map-get($linkDetails, 'textHoverColour');
      $arrow: map-get($linkDetails, 'arrow-icon');

      color: $textColour;
      &:hover {
        color: $textHoverColour;

        &::after {
          background-image: $arrow;
        }
      }
    }
  }
}

.link-inline-linklist-item {
  $details: map-get($gpn-theme-listitem-arrow-button, 'default');
  $textColour: map-get($details, 'textColour');
  $textHoverColour: map-get($details, 'textHoverColour');
  $arrow: map-get($details, 'arrow-icon');

  @extend .btn-link;

  color: $textColour;
  font-weight: $gpn-theme-font-weight-bold;
  text-decoration: none !important;
  font-size: $gpn-theme-btn-font-size-sm;

  @include base-arrow-after {
    background-image: $arrow;
  }

  @include hover-set {
    color: $textHoverColour;

    &::after {
      transform: translateX(0.5rem);
    }
  }
}

@each $theme, $details in $gpn-theme-colour-themes {
  .bg-#{$theme} {
    .link-inline-linklist-item {
      font-weight: $gpn-theme-font-weight-medium;
      $details: map-get($gpn-theme-listitem-arrow-button, 'default');
      $linkDetails: map-get($gpn-theme-listitem-arrow-button, 'default');
      @if ($theme == 'base') {
        $linkDetails: map-get($gpn-theme-listitem-arrow-button, 'base');
      } @else if (is-light-theme-colour($theme)) {
        $linkDetails: map-get($gpn-theme-listitem-arrow-button, 'light');
      } @else if ($theme == 'black') {
        $linkDetails: map-get($gpn-theme-listitem-arrow-button, 'black');
      } @else if (is-dark-theme-colour($theme)) {
        $linkDetails: map-get($gpn-theme-listitem-arrow-button, 'dark');
      }

      $textColour: map-get($linkDetails, 'textColour');
      $textHoverColour: map-get($linkDetails, 'textHoverColour');
      $arrow: map-get($linkDetails, 'arrow-icon');

      color: $textColour;
      &::after {
        background-image: $arrow;
      }
      &:hover {
        color: $textHoverColour !important;
      }
    }
  }
}

.btn.with-icon {
  display: inline-flex;
  align-items: center;
  gap: $gpn-theme-btn-icon-spacing;

  &.reverse-icon-content {
    flex-direction: row-reverse;
  }
}

.link-external {
  font-size: $gpn-theme-p-md-font-size;

  @include base-arrow-after {
    background-image: $gpn-theme-icon-arrow-base-nw;
    height: 2.5rem;
    width: 2.5rem;
  }

  &.link-xs {
    font-size: $gpn-theme-p-xs-font-size;

    &::after {
      background-image: $gpn-theme-icon-base-arrow-nw-small;
      width: 1.6rem;
      height: 1.6rem;
    }
  }

  &.link-lg {
    font-size: $gpn-theme-p-lg-font-size;

    &::after {
      height: 3.2rem;
      width: 3.2rem;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  a {
    font-weight: $gpn-theme-font-weight-bold;
    text-decoration: none;
    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
}

@each $theme, $value in $gpn-theme-colours {
  @if (is-dark-theme-colour($theme)) {
    .bg-#{$theme} {
      .link-external {
        &::after {
          background-image: $gpn-theme-icon-white-arrow-nw;
        }
        &.link-xs::after {
          background-image: $gpn-theme-icon-blue-nw-small;
        }
      }
    }
  }
}

.editing-mode {
  // Styles specific to the page editing mode
  span {
    &.btn,
    &[class*="btn-"],    // Matches any class containing "btn-"
    &[class*="link-glow"],
    &.link-headline-listitem,
    &.link-inline-linklist-item,
    &.link-external {
      > a {
        color: inherit !important;
        text-decoration: inherit !important;
      }
    }
    &.link {
      &:hover {
        > a {
          text-decoration: none !important;
        }
      }
    }
  }

  // This is to ensure that the link-glow hover effect is not cut off by the frame.
  div.scLooseFrameZone:has(span[class*='link-glow']),
  div.scLooseFrameZone:has(span[class*='btn-cta-tertiary']),
  div.scLooseFrameZone:has(span[class*='link-inline-linklist-item']) {
    overflow: visible !important;
  }
}

.link {
  &:hover {
    text-decoration: none !important;
  }
}
// Uptick content taxonomy roundedrect
.uptick-content-taxonomy-roundedrect {
  color: $gpn-theme-base;
  border-radius: $gpn-theme-radius-xxl;
  @extend %label-xs;
  padding-top: map-get($uptick-editorial-page-hero, nav-item-top-bottom-padding);
  padding-bottom: map-get($uptick-editorial-page-hero, nav-item-top-bottom-padding);
  @include gpn-spacing([ 'padding-left', 'padding-right'], 'sm');
  transition: all 0.3s ease;
  text-decoration: none;
  text-align: center;
  &:hover {
    background-color: $gpn-theme-base;
    color: $gpn-theme-white;
  }
}
