@each $size in $gpn-theme-padding-size-options {
  .padding-t-#{$size} {
    padding-top: gpn-spacing-size('sm', $size) !important;
    @include media-breakpoint-up(md) {
      padding-top: gpn-spacing-size('md', $size) !important;
    }
    @include media-breakpoint-up(lg) {
      padding-top: gpn-spacing-size('lg', $size) !important;
    }
  }
}

@each $size in $gpn-theme-padding-size-options {
  .padding-b-#{$size} {
    padding-bottom: gpn-spacing-size('sm', $size) !important;
    @include media-breakpoint-up(md) {
      padding-bottom: gpn-spacing-size('md', $size) !important;
    }
    @include media-breakpoint-up(lg) {
      padding-bottom: gpn-spacing-size('lg', $size) !important;
    }
  }
}

.padding-t-none {
  padding-top: 0 !important;
}

.padding-b-none {
  padding-bottom: 0 !important;
}
  