$gpn-theme-body-md-font: (
  weight: $gpn-theme-font-weight-regular,
  desktop-font-size: 2rem,
  desktop-line-height: 3.2rem,
  letter-spacing: 0.02rem,
) !default;

$gpn-theme-body-sm-font: (
  weight: $gpn-theme-font-weight-regular,
  desktop-font-size: 1.6rem,
  desktop-line-height: 2.4rem,
  letter-spacing: 0.016rem,
) !default;

$gpn-theme-body-xs-font: (
  weight: $gpn-theme-font-weight-regular,
  desktop-font-size: 1.2rem,
  desktop-line-height: 1.6rem,
  letter-spacing: 0.048rem,
) !default;

$gpn-theme-body-xxs-font: (
  weight: $gpn-theme-font-weight-regular,
  desktop-font-size: 0.8rem,
  desktop-line-height: 1.2rem,
  letter-spacing: 0.064rem,
) !default;
