// =====
// Fonts
// =====

$gpn-theme-font-family-sans-serif: 'GPCommerce', 'Helvetica Neue' !default;

$gpn-theme-font: 'GPCommerce' !default;
$gpn-theme-font-weight-light: 300 !default;
$gpn-theme-font-weight-regular: 400 !default;
$gpn-theme-font-weight-medium: 500 !default;
$gpn-theme-font-weight-bold: 700 !default;
$gpn-theme-font-weight-black: 900 !default;

$gpn-theme-headings-space-bottom: 'xs' !default;
$gpn-theme-paragraphs-space-bottom: 'xs' !default;

