// Headings
$gpn-theme-headings-margin-bottom: 0 !default;
$gpn-theme-paragraph-margin-bottom: 0 !default;

// defined because this has been used in some of the components in previous versions of the theme
// mainly here so that we don't break the build
$gpn-theme-p-md-font-size: map-get($gpn-theme-body-md-font, 'desktop-font-size') !default;
$gpn-theme-p-xs-font-size: map-get($gpn-theme-body-xs-font, 'desktop-font-size') !default;
// we don't have a body large font size anymore, defining as the next size
$gpn-theme-p-lg-font-size: map-get($gpn-theme-h-title-sm-font, 'desktop-font-size') !default;
