$gpn-theme-label-xxl-font: (
  weight: $gpn-theme-font-weight-light,
  desktop-font-size: 7.2rem,
  desktop-line-height: 1,
  tablet-font-size: 6.4rem,
  tablet-line-height: 1,
  mobile-font-size: 5.6rem,
  mobile-line-height: 1,
) !default;

$gpn-theme-label-xl-font: (
  weight: $gpn-theme-font-weight-light,
  desktop-font-size: 5.6rem,
  desktop-line-height: 1,
  tablet-font-size: 4.8rem,
  tablet-line-height: 1,
  mobile-font-size: 4rem,
  mobile-line-height: 1,
) !default;

$gpn-theme-label-lg-font: (
  weight: $gpn-theme-font-weight-light,
  desktop-font-size: 4rem,
  desktop-line-height: 1,
  tablet-font-size: 3.2rem,
  tablet-line-height: 1,
  mobile-font-size: 3.2rem,
  mobile-line-height: 1,
) !default;

$gpn-theme-label-md-font: (
  weight: $gpn-theme-font-weight-light,
  desktop-font-size: 2.4rem,
  desktop-line-height: 3.6rem,
  letter-spacing: 0.048rem,
) !default;

$gpn-theme-label-xs-font: (
  weight: $gpn-theme-font-weight-medium,
  desktop-font-size: 1.6rem,
  desktop-line-height: 2.4rem,
  letter-spacing: 0.064rem,
) !default;

$gpn-theme-label-xxs-font: (
  weight: $gpn-theme-font-weight-medium,
  desktop-font-size: 1.2rem,
  desktop-line-height: 2.4rem,
  letter-spacing: 0.048rem,
) !default;
