&.split-page {
  overflow: hidden;
  .component-content {
    .copy-section {
      @include make-col(12);
      @include gpn-spacing([ 'padding-top', 'padding-bottom'], 'xxl');
      display: flex;
      flex-direction: column;
      gap: gpn-spacing-size('sm', 'sm');
      @include media-breakpoint-up(md) {
        @include make-col(6);
        gap: gpn-spacing-size('lg', 'md');
      }

      .title,
      .title p {
        @extend %h-lg;
        @include gpn-spacing('margin-bottom', 'xs');
      }

      .details {
        @extend %p-md;
        p {
          @include gpn-spacing('margin-bottom', 'xs');
        }
      }
    }

    .ec-form-section {
      @include make-col(12);
      @include gpn-spacing([ 'padding-top', 'padding-bottom'], 'xxl');
      @include media-breakpoint-up(md) {
        @include make-col(6);
        position: relative;
        @each $theme, $details in $gpn-theme-colour-themes {
          &.bg-#{$theme} {
            &::before {
              content: '';
              background-color: map-get($details, 'background');
              position: absolute;
              height: 100%;
              left: 100%;
              width: 50%;
              top: 0;
            }
          }
        }
      }
      .ec-sc-form-wrapper {
        @include make-col-offset(0);
        @include media-breakpoint-up(md) {
          @include make-col-offset(2);
        }
      }
    }
  }

  .split-title {
    @include gpn-spacing('margin-bottom', 'lg');
  }

  .split-logo {
    display: flex;
    flex-direction: column;
    @include gpn-spacing([ 'gap'], 'xxs');
    @include media-breakpoint-up(sm) {
      @include gpn-spacing([ 'gap'], 'sm');
      flex-direction: row;
    }
    @include gpn-spacing([ 'margin-bottom'], 'md');
    @include gpn-spacing([ 'padding-top', 'padding-bottom'], 'xxs');
    @include gpn-spacing([ 'padding-left', 'padding-right'], 'sm');

    .logo-text {
      @extend %p-xs;
      @include gpn-spacing([ 'padding-top'], 'xs');
      @include media-breakpoint-up(sm) {
        @include gpn-spacing([ 'padding-bottom'], 'xs');
      }
    }

    img {
      width: map-get($gpn-theme-forms, 'split-form-logo-width');
      height: map-get($gpn-theme-forms, 'split-form-logo-height');
      object-fit: contain;
      align-self: center;
      @include media-breakpoint-up(sm) {
        align-self: flex-start;
      }
    }
  }

  .cta-list {
    padding-top: 0;
  }

  .form-intro {
    @extend %p-sm;
    @include gpn-spacing([ 'margin-bottom'], 'lg');
  }
}
