&.wide {
  @include gpn-spacing([ 'padding-top', 'padding-bottom'], 'xl');

  .copy-section {
    display: flex;
    flex-direction: column;
    gap: gpn-spacing-size('sm', 'xs');
    @include make-col(12);
    @include media-breakpoint-up(md) {
      @include make-col(10);
    }
    

    .title,
    .title p {
      @extend %h-lg;
    }
    .tag,
    .tag p {
      @extend %label-lg;
    }
    .details,
    .details p {
      @extend %p-md;
    }

    .details p {
      @include gpn-spacing('margin-bottom', 'xs');
    }
    
    @include gpn-spacing('margin-bottom', 'md');
  }

  .ec-sc-form-wrapper {
    input[type='submit'] {
      @include gpn-spacing([ 'margin-top', 'margin-bottom'], 'xxs');
    }
  }
}
