.content-stats {
  @include gpn-spacing([ 'padding-top', 'padding-bottom'], 'xxl');
  .container {
    display: flex;
    flex-direction: column;
    @include gpn-spacing('gap', 'lg');
  }

  .row {
    row-gap: gpn-spacing-size('sm', 'xxl');
  }

  .row-title {
    text-align: center;

    .list-title {
      @extend %h-lg;
    }
  }

  .content-stats-items {
    display: flex;
    flex-wrap: wrap;
    row-gap: gpn-spacing-size('sm', 'xxl');
    justify-content: space-around;

    .content-stat {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      gap: gpn-spacing-size('lg', 'xs');
      text-align: center;
      @include make-col(6);

      @include media-breakpoint-up(sm) {
        @include make-col(4);
      }

      @include media-breakpoint-up(md) {
        flex: initial;
        width: auto;
      }

      .stat {
        @extend %p-sm;
      }

      .title {
          &, 
        > p,
        > span,
        > ul > li,
        > ol > li {      
          @extend %label-stat-xxl;
          // in case of font overwride, this is needed so font doesnt go bold
          font-weight: $gpn-theme-font-weight-light !important;
        }
      }
    }
  }
}

// CSS For Experience Editor

.editing-mode {
  .content-stats {
    .content-stats-items {
      .content-stat {
        @include make-col(12);
      }
    }

    &.three-in-row {
      .content-stats-items {
        > div {
          @include make-col(12);

          @include media-breakpoint-up(sm) {
            @include make-col(4);
          }

          @include media-breakpoint-up(md) {
            @include make-col(2);

            &:nth-child(3n + 1) {
              @include make-col-offset(3);
            }
          }
        }
      }
    }

    &.four-in-row {
      .content-stats-items {
        > div {
          @include make-col(12);

          @include media-breakpoint-up(sm) {
            @include make-col(3);
          }

          @include media-breakpoint-up(md) {
            @include make-col(3);
          }
        }
      }
    }

    &.five-in-row {
      .content-stats-items {
        > div {
          @include make-col(12);

          @include media-breakpoint-up(sm) {
            @include make-col(4);
          }

          @include media-breakpoint-up(md) {
            @include make-col(2);

            &:nth-child(5n + 1) {
              @include make-col-offset(1);
            }
          }
        }
      }
    }

    &.six-in-row {
      .content-stats-items {
        > div {
          @include make-col(12);

          @include media-breakpoint-up(sm) {
            @include make-col(4);
          }

          @include media-breakpoint-up(md) {
            @include make-col(2);
          }
        }
      }
    }
    @each $theme, $colour in $gpn-theme-colour-themes {
      @if is-dark-theme-colour($theme) {
        &.bg-#{$theme} {
          .content-stats-items {
            .content-stat {
              span {
                color: map-get($colour, 'text-on-dark-theme');
              }
            }
          }
        }
      }
    }
  }
}
