@import '@styles/default-theme-variables';

@mixin gpn-spacing($attributes, $size) {
  // mobile
  @for $i from 0 to length($attributes) {
    #{nth($attributes, $i + 1)}: gpn-spacing-size('sm', $size);
  }

  // tablet
  @include media-breakpoint-up(md) {
    @for $i from 0 to length($attributes) {
      #{nth($attributes, $i + 1)}: gpn-spacing-size('md', $size);
    }
  }

  // desktop
  @include media-breakpoint-up(lg) {
    @for $i from 0 to length($attributes) {
      #{nth($attributes, $i + 1)}: gpn-spacing-size('lg', $size);
    }
  }
}

@mixin blog-card-overlap-background-gradient($background) {
  background: linear-gradient(270deg, $background 15.58%, rgba(251, 251, 251, 0) 70.13%);
}

@mixin link($colour: $gpn-theme-base, $hover-colour: null) {
  color: $colour;
  transition: color 0.1s linear, text-decoration-color 0.1s linear;
  text-decoration: underline;
  text-decoration-color: $colour;

  @include hover-set {
    text-decoration-color: transparent !important;

    @if ($hover-colour) {
      color: $hover-colour;
    } @else {
      color: darken($colour, 10%);
    }
  }
}

// outputs font base details (generally for use when defining h1, h2, p, etc styles)
@mixin font-base($details, $isOverride: false) {
  $mobileFontSize: map-get($details, 'mobile-font-size');
  $mobileLineHeight: map-get($details, 'mobile-line-height');
  $hasMobileDetails: $mobileFontSize and $mobileLineHeight;

  $tabletFontSize: map-get($details, 'tablet-font-size');
  $tabletLineHeight: map-get($details, 'tablet-line-height');
  $hasTabletDetails: $tabletFontSize and $tabletLineHeight;

  $desktopFontSize: map-get($details, 'desktop-font-size');
  $desktopLineHeight: map-get($details, 'desktop-line-height');
  $letterSpacing: map-get($details, 'letter-spacing');

  $important: null;
  @if ($isOverride) {
    $important: !important;
  }

  // set the font-size and line height
  // default to mobile / tablet / desktop in that order
  @if ($hasMobileDetails) {
    font-size: $mobileFontSize $important;
    line-height: $mobileLineHeight $important;
  }
  @elseif ($hasTabletDetails) {
    font-size: $tabletFontSize $important;
    line-height: $tabletLineHeight $important;
  } @else {
    font-size: $desktopFontSize $important;
    line-height: $desktopLineHeight $important;
  }

  // we've got a mobile font size, so we need to output the font sizes at the other breakpoints
  @if ($hasMobileDetails and $hasTabletDetails) {
    @include media-breakpoint-up(md) {
      font-size: $tabletFontSize $important;
      line-height: $tabletLineHeight $important;
    }
  }
  @if ($hasMobileDetails or $hasTabletDetails) {
    @include media-breakpoint-up(lg) {
      font-size: $desktopFontSize $important;
      line-height: $desktopLineHeight $important;
    }
  }

  // default to regular font weight if one isn't specified
  @if (map-get($details, 'weight')) {
    font-weight: map-get($details, 'weight') $important;
  } @else {
    font-weight: $gpn-theme-font-weight-regular $important;
  }

  @if (map-get($details, 'letter-spacing')) {
    letter-spacing: map-get($details, 'letter-spacing') $important;
  }
}

@mixin hover-set($pseudo-element: false) {
  $selector-suffix: '';

  @if $pseudo-element {
    $selector-suffix: '::' + $pseudo-element;
  }

  &:hover#{$selector-suffix} {
    @content;
  }

  // .no-touchevents & {

  //     &:focus#{$selector-suffix},
  //     &:active#{$selector-suffix} {
  //         @content;
  //     }
  // }
}

@mixin link-on-parent-hover($colour) {
  color: darken($colour, 10%) !important;
  transition: color 0.1s linear, text-decoration-color 0.1s linear;
  text-decoration-color: darken($colour, 10%) !important;
}

@mixin parallax-set($animation-name, $animation-duration: $gpn-theme-animation-duration-default) {
  @if $enable-transitions {
    animation-name: $animation-name;
    animation-duration: $animation-duration;
    animation-fill-mode: both;
  }
}

// NOTE - Below are not actually mixins but I can't remove them as they are integrated in code for L1 Hero (Tall wide variant mostly)
@mixin position-index {
  position: relative;
  z-index: 2;
}

@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin font-styling {
  color: $gpn-theme-white;
  text-align: center;
  font-family: $gpn-theme-font-family-sans-serif;
  font-weight: 700;
}

@mixin position-index {
  position: relative;
  z-index: 2;
}

@mixin flex {
  display: flex;
}

@mixin font-styling {
  color: $gpn-theme-white;
  font-family: $gpn-theme-font-family-sans-serif;
  font-weight: 700;
}

@mixin tallWidePositionStyle {
  width: 100%;
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

@mixin banner-description-styles($font-size, $line-height, $font-weight, $margin-bottom: 16px) {
  font-size: px-to-rem($font-size);
  line-height: $line-height;
  font-weight: $font-weight;
  margin-bottom: $margin-bottom;
}

@mixin parallax-set($animation-name, $animation-duration: $gpn-theme-animation-duration-default) {
  @if $enable-transitions {
    animation-name: $animation-name;
    animation-duration: $animation-duration;
    animation-fill-mode: both;
  }
}

@mixin footerlink($colour: $gpn-theme-base) {
  color: $colour;
  transition: color 0.1s linear, text-decoration-color 0.1s linear;
  text-decoration-color: transparent /*!important*/;

  @include hover-set {
    text-decoration: underline;
  }
}

@mixin make-responsive-col-size-up($mobileSize: false, $tabletSize: false, $desktopSize: false) {
  @include make-col($mobileSize);
  @if $tabletSize {
    @include media-breakpoint-up(md) {
      @include make-col($tabletSize);
    }
  }
  @if $desktopSize {
    @include media-breakpoint-up(lg) {
      @include make-col($desktopSize);
    }
  }
}

// Only display content to screen readers. A la Bootstrap 4.
//
// See: http://a11yproject.com/posts/how-to-hide-content/

@mixin sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

// Use in conjunction with .sr-only to only display content when it's focused.
//
// Useful for "Skip to main content" links; see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
//
// Credit: HTML5 Boilerplate

@mixin sr-only-focusable {
  &:active,
  &:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
  }
}
