.component.card-list.feature-on-top-variant {
  @include make-col(12);
  padding-top: gpn-spacing-size('lg', 'xxl');
  padding-bottom: gpn-spacing-size('lg', 'xxl');

  @include media-breakpoint-up(md) {
    padding-top: gpn-spacing-size('md', 'lg');
    padding-bottom: gpn-spacing-size('md', 'lg');
  }

  /*@include media-breakpoint-up(lg) {
    padding-top: gpn-spacing-size('lg', 'xxl');
    padding-bottom: gpn-spacing-size('lg', 'xxl');
  }*/

  .row {
    align-items: center;
    justify-content: center;

    .title-row {
      @include make-col(12);
      text-align: left;
      margin-bottom: gpn-spacing-size('sm', 'xl');
      display: flex;
      flex-direction: column;
      gap: gpn-spacing-size('sm', 'sm');

      @include media-breakpoint-up(md) {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: gpn-spacing-size('sm', 'lg');
      }

      @include media-breakpoint-up(lg) {
        margin-bottom: gpn-spacing-size('lg', 'xl');
      }

      .title,
      .title strong {
        @extend %label-lg;
      }

      .btn-cta-tertiary {
        color: $gpn-theme-base;
      }
    }
  }

  .card-list-items {
    display: flex;
    flex-wrap: wrap;
    gap: gpn-spacing-size('sm', 'xl');

    @include media-breakpoint-up(md) {
      gap: gpn-spacing-size('sm', 'lg');
    }

    @include media-breakpoint-up(lg) {
      gap: gpn-spacing-size('lg', 'sm');
    }

    .uptick-card {
      display: flex;
      flex-direction: column;
      padding: 0;
      @include gpn-spacing('gap', 'lg');

      // === Featured card (first child) ===
      &:first-child {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;

        .card-content {
          display: flex;
          flex-wrap: wrap;
          width: 100%;

          .card-image {
            width: 100%;
            margin-bottom: gpn-spacing-size('sm', 'sm');

            @include media-breakpoint-up(md) {
              width: 50%;
              margin-bottom: 0;
            }

            img {
              width: 100%;
            }
          }

          .card-details {
            width: 100%;
            @include media-breakpoint-up(md) {
              width: 50%;
              padding-left: gpn-spacing-size('sm', 'sm');
            }

            .card-name {
              //TODO check with designer for the font size and weight
              @extend %h-md;
              line-height: 1.2;
              color: $gpn-theme-off-black;
              font-size: 4rem;
              font-weight: 900;
              line-height: 1;
              //   margin-bottom: gpn-spacing-size('sm', 'sm');

              text-align: left;
              justify-content: flex-start;
            }

            .card-description {
              margin-bottom: 0.8rem;
            }
          }
        }
      }

      // === Remaining 4 cards ===
      &:not(:first-child) {
        width: 100%;

        @include media-breakpoint-up(md) {
          width: calc(50% - #{gpn-spacing-size('sm', 'sm')});
        }

        @include media-breakpoint-up(lg) {
          width: calc(25% - #{gpn-spacing-size('sm', 'sm')});
        }

        .card-content {
          display: flex;
          flex-direction: column;

          @include media-breakpoint-up(md) {
            flex-direction: row;
          }

          @include media-breakpoint-up(lg) {
            flex-direction: column;
          }

          .card-image {
            width: 100%;
            margin-bottom: gpn-spacing-size('sm', 'sm');

            @include media-breakpoint-up(md) {
              width: 40%;
              margin-right: gpn-spacing-size('sm', 'sm');
              margin-bottom: 0;
            }

            @include media-breakpoint-up(lg) {
              width: 100%;
              margin-right: 0;
              margin-bottom: gpn-spacing-size('sm', 'sm');
            }

            img {
              width: 100%;
            }
          }

          .card-details {
            .card-description{
              display: none;
            }

            .card-name {
              @include media-breakpoint-up(md) {
                text-align: left;
              }

              @include media-breakpoint-up(lg) {
                text-align: left;
              }
            }
          }
        }
      }
      &:not(:first-child) {
        .card-image {
          display: none;
        }
      }
    }
  }
}
