.focused-card-carousel {
  @include gpn-spacing([ 'padding-top', 'padding-bottom'], 'xxl');
  .component-content {
    .container {
      .container-title {
        @extend %display-xl;
        @include gpn-spacing('margin-bottom', 'md');
      }
      .focused-card-container {
        position: relative;
        .focused-card-description {
          position: absolute;
          top: 0;
          left: map-get($gpn-theme-focused-card-carousel, focused-card-description-left);
          .focused-card-content-col {
            @include media-breakpoint-up(lg) {
              @include make-col(8);
            }
          }
          .selected-card-title {
            @extend %label-lg;
            @include gpn-spacing('margin-bottom', 'sm');
          }
          .focused-card-summary {
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
            @extend %p-md;
            @include gpn-spacing('margin-bottom', 'sm');
          }
        }
        .focused-card-list {
          display: flex;
          align-items: flex-end;
          @include media-breakpoint-up(md) {
            min-height: map-get($gpn-theme-focused-card-carousel, focused-card-carousel-min-height);
          }
          .focused-card-item {
            cursor: pointer;
            border-radius: $gpn-theme-radius-xl;
            position: relative;
            @include gpn-spacing('margin-right', 'sm');
            .focused-card-item-image {
              width: map-get($gpn-theme-focused-card-carousel, focused-card-carousel-full-width);
              height: map-get($gpn-theme-focused-card-carousel, focused-card-carousel-full-height);
              border-radius: inherit;
              img {
                width: map-get($gpn-theme-focused-card-carousel, focused-card-carousel-full-width);
                height: map-get(
                  $gpn-theme-focused-card-carousel,
                  focused-card-carousel-full-height
                );
                object-fit: cover;
                border-radius: inherit;
              }
            }
            .focused-card-item-content {
              @include gpn-spacing('padding-inline', 'md');
              position: absolute;
              bottom: 0;
              left: 0;
              display: flex;
              align-items: center;
              justify-content: space-between;
              background-color: $gpn-theme-darker-base;
              border-top-left-radius: 0;
              border-top-right-radius: $gpn-theme-radius-xl;
              border-bottom-right-radius: $gpn-theme-radius-xl;
              border-bottom-left-radius: $gpn-theme-radius-xl;
              color: $gpn-theme-white;
              @extend %title-xs;
            }
            &.active {
              cursor: default;
              .focused-card-item-content {
                @extend %title-sm;
              }
            }
          }
        }
      }
    }
  }

  .custom-arrow {
    position: absolute;
    right: 0;
    z-index: $gpn-theme-zindex-arrow;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: map-get($gpn-theme-focused-card-carousel, focused-card-accordion-custom-arrow);
    height: map-get($gpn-theme-focused-card-carousel, focused-card-accordion-custom-arrow);
    color: map-get($gpn-theme-focused-card-carousel, focused-card-carousel-arrow-color);
    border: none;
    background: transparent;
    @include media-breakpoint-up(md) {
      display: none;
    }
    @include media-breakpoint-up(lg) {
      display: flex;
    }

    &.prev {
      right: map-get($gpn-theme-focused-card-carousel, custom-arrow-prev-right);
      @include gpn-spacing('margin-right', 'sm');
      .left-arrow {
        width: map-get($gpn-theme-focused-card-carousel, focused-card-carousel-card-cta-size);
        height: map-get($gpn-theme-focused-card-carousel, focused-card-carousel-card-cta-size);
        background-image: map-get(
          $gpn-theme-focused-card-carousel,
          'focused-card-carousel-enable-left-arrow-icon'
        );
        background-repeat: no-repeat;
        &.disabled {
          background-image: map-get(
            $gpn-theme-focused-card-carousel,
            'focused-card-carousel-disable-left-arrow-icon'
          );
          background-repeat: no-repeat;
        }
      }
    }

    &.next {
      .right-arrow {
        width: map-get($gpn-theme-focused-card-carousel, focused-card-carousel-card-cta-size);
        height: map-get($gpn-theme-focused-card-carousel, focused-card-carousel-card-cta-size);
        background-image: map-get(
          $gpn-theme-focused-card-carousel,
          'focused-card-carousel-enable-right-arrow-icon'
        );
        background-repeat: no-repeat;
        &.disabled {
          background-image: map-get(
            $gpn-theme-focused-card-carousel,
            'focused-card-carousel-disable-right-arrow-icon'
          );
          background-repeat: no-repeat;
        }
      }
    }

    &.disabled {
      pointer-events: none;
      color: $gpn-theme-grey-400;
      border-color: $gpn-theme-grey-400;
    }
  }
  .btn-cta-tertiary {
    color: $gpn-theme-black !important;
    height: fit-content;
    margin-top: auto;
    line-height: 1.6rem;
    cursor: pointer;

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        color: map-get($gpn-theme-focused-card-carousel, focused-card-carousel-hover-color);
      }
    }
    &::after {
      background-image: $gpn-theme-icon-arrow-base-ut;
    }
  }
  .mobile-accordion.accordion {
    width: map-get($gpn-theme-focused-card-carousel, focused-card-carousel-full-width);
    .accordion-item {
      border: none;
      border-bottom: 1px solid $gpn-theme-black;
      background-color: transparent;
      .accordion-header {
        .accordion-button.collapsed::after {
          background-image: $gpn-theme-icon-plus-base;
          width: map-get($gpn-theme-focused-card-carousel, focused-card-accordion-button-width);
        }
        .accordion-button::after {
          background-image: $gpn-theme-icon-minus-base;
          transition: none;
          width: map-get($gpn-theme-focused-card-carousel, focused-card-accordion-button-width);
          transform: none;
        }
        .accordion-button:focus {
          box-shadow: none;
        }
        .accordion-button:not(.collapsed) {
          box-shadow: none;
          background: none;
        }
        .accordion-button {
          color: $gpn-theme-black;
          @include gpn-spacing('padding-top', 'xs');
          @include gpn-spacing('padding-bottom', 'xs');
          padding-left: 0;
          padding-right: 0;
          span {
            @extend %p-md;
          }
        }
      }
      .accordion-body {
        @include gpn-spacing('padding-top', 'sm');
        @include gpn-spacing('padding-bottom', 'xl');
        padding-left: 0;
        .accordion-description {
          @include gpn-spacing('margin-bottom', 'xxl');
        }
      }
    }
  }
}
