.image-parallax-text-block {
  .parallax-image {
    position: relative;
    @include gpn-spacing([ 'margin-top', 'margin-bottom'], 'xxl');

    .content-wrapper {
      flex-direction: column;
      @include media-breakpoint-up(md) {
        flex-direction: row;
      }
    }

    .content-image {
      @include make-col(12);
    }

    .content-section {
      @include make-col(12);
      @include media-breakpoint-up(sm) {
        @include make-col(8);
      }
    }

    .content-wrapper {
      .content-image picture * {
        height: map-get($gpn-theme-image-parallax-text-block, 'content-image-mobile-height');
        min-height: auto;
        max-width: map-get($gpn-theme-image-parallax-text-block, 'content-image-max-width');
        object-fit: cover;
        width: 100%;
        border-radius: $gpn-theme-radius-xl;
        object-position: initial;

        @include media-breakpoint-up(sm) {
          min-height: map-get($gpn-theme-image-parallax-text-block, 'content-image-tablet-height');
          border-radius: $gpn-theme-radius-xl;
        }

        @include media-breakpoint-up(md) {
          min-height: map-get(
            $gpn-theme-image-parallax-text-block,
            'content-image-desktop-min-height'
          );
        }
      }

      .content-section {
        display: flex;
        flex-direction: column;
        @include gpn-spacing([ 'gap'], 'xs');
        position: relative;
        border-radius: $gpn-theme-radius-xl;
        @include gpn-spacing([ 'padding'], 'lg');
        @include gpn-spacing([ 'margin-top'], 'xxs');
        width: 100%;

        .title {
          &,
          * {
            @extend %h-md;
            margin-bottom: 0;
          }
        }

        .tag,
        .details {
          &,
          p {
            @extend %p-md;
            margin-bottom: 0;
            color: $gpn-theme-white;
          }

          &.p-sm{
            p{
              @extend %p-sm;
            }
          }
        }

        @include media-breakpoint-up(md) {
          position: absolute;
          width: auto;
          height: fit-content;
          right: px-to-rem(36);
          max-width: map-get($gpn-theme-image-parallax-text-block, 'content-section-max-width');
          @include gpn-spacing([ 'padding'], 'xl');
          
          // Initial position - will be controlled by JavaScript
          bottom: 16rem;
        }
      }
    }
  }
}
