.copy-banner {
  background-image: none;
  background-position: var(--focus-x-mobile, right) var(--focus-y-mobile, center);
  background-size: var(--mediaSize, cover);
  z-index: $gpn-theme-zindex-copy-banner-below;

  @include media-breakpoint-up(sm) {
    background-image: var(--bg-image-tablet);
    background-position: var(--focus-x-tablet, right) var(--focus-y-tablet, center);
  }

  // Desktop background image and position
  @include media-breakpoint-up(md) {
    background-image: var(--bg-image-desktop);
    background-position: var(--focus-x-desktop, right) var(--focus-y-desktop, center);
  }
  @include gpn-spacing([ 'padding-top', 'padding-bottom'], 'xxxl');
  > .component-content > .container {
    height: auto;
    max-width: 100%;
    position: relative;
  }

  .copy-section {
    @include make-col(12);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: gpn-spacing-size('sm', 'xs');
    z-index: $gpn-theme-zindex-copy-banner-content;

    .title,
    .title p {
      @extend %h-xl;
      max-width: 100%;
      overflow-wrap: break-word;
    }

    .tag,
    .tag p {
      @extend %label-lg;
    }

    .details,
    .details p {
      @extend %p-md;
    }

    .legal,
    .legal p {
      @extend %p-xxs;
      font-weight: $gpn-theme-font-weight-medium;
    }

    .brow,
    .brow p {
      @extend %label-md;
      text-transform: none;
    }

    .cta-list {
      justify-content: center;
    }
  }
}
