.quote-copy-card {
  @include gpn-spacing('padding-top', 'xxxl');
  @include gpn-spacing('padding-bottom', 'xxxl');

  .copy-card-section {
    display: flex;
    flex-direction: column;
    gap: gpn-spacing-size('sm', 'xs');

    .title,
    .title p {
      @extend %h-md;
    }

    .tag,
    .tag p {
      @extend %p-md;
    }

    .cta-link {
      margin-top: gpn-spacing-size('sm', 'xxs');
    }

    @include gpn-spacing('padding-bottom', 'xxxl');
  }

  .quote-card-section {
    @include gpn-spacing('padding', 'sm');

    .copy-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: gpn-spacing-size('sm', 'sm');

      @include gpn-spacing(('padding-top', 'padding-bottom'), 'xl');

      .logo {
        position: relative;
        width: map-get($gpn-theme-testimonial, 'logo-width');
        height: auto;
        aspect-ratio: map-get($gpn-theme-testimonial, 'logo-aspect-ratio');
        img,
        video {
          position: absolute;
          width: 100%;
          height: auto;
          inset: 0;
        }
      }

      .quote-wrapper {
        .quote {
          & p {
            @extend %p-sm;
          }
          @extend %p-sm;
          margin-bottom: gpn-spacing-size('sm', 'sm');
        }
      }

      .author-wrapper {
        .author,
        .author p {
          @extend %p-lead;
          margin-bottom: gpn-spacing-size('sm', 'xxs');
        }

        .author-tag {
          @extend %p-md;
          margin-bottom: gpn-spacing-size('sm', 'xs');
        }
        .author-name {
          @extend %p-lead;
        }
      }
    }

    .media-section {
      position: relative;
      width: 100%;
      aspect-ratio: map-get($gpn-theme-testimonial, 'large-image-aspect-ratio');
      height: auto;
      @include gpn-spacing('padding-bottom', 'sm');

      img,
      video {
        position: absolute;
        width: 100%;
        height: auto;
        inset: 0;
        margin-top: auto;
        margin-bottom: auto;
      }

      video {
        object-fit: map-get($gpn-theme-testimonial, 'video-size-default');
      }
    }
  }
  &.offset-center-5x2x5 {
    @include media-breakpoint-down(lg) {
      .row > .copy-card-section {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .copy-card-section {
      @include make-col(12);
      @include media-breakpoint-up(md) {
        @include make-col(8);
      }
      @include media-breakpoint-up(lg) {
        @include make-col(5);
      }
    }

    .quote-card-section {
      @include make-col(12);
      @include media-breakpoint-up(md) {
        @include make-col(8);
      }
      @include media-breakpoint-up(lg) {
        @include make-col(5);
      }
    }

    &:not(.reverse-layout) {
      .copy-card-section {
        @include media-breakpoint-up(md) {
          @include make-col-offset(2);
        }
        @include media-breakpoint-up(lg) {
          @include make-col-offset(0);
        }
      }
      .quote-card-section {
        @include media-breakpoint-up(md) {
          @include make-col-offset(2);
        }
      }
    }

    &.reverse-layout {
      .quote-card-section {
        @include media-breakpoint-up(md) {
          @include make-col-offset(2);
        }
        @include media-breakpoint-up(lg) {
          order: -1;
          @include make-col-offset(0);
        }
      }
      .copy-card-section {
        @include media-breakpoint-up(md) {
          @include make-col-offset(2);
        }
      }
    }
  }
}
