.form-banner {
  @include gpn-spacing([ 'padding-top', 'padding-bottom'], 'xxl');

  .copy-section {
    @include make-col(12);
    @include media-breakpoint-up(sm) {
      @include make-col(6);
    }
    @include media-breakpoint-up(md) {
      @include make-col(6);
    }
    .title,
    .title p {
      @extend %h-lg;
      margin-bottom: gpn-spacing-size('sm', 'xl');
      @include media-breakpoint-up(sm) {
        margin-bottom: gpn-spacing-size('sm', 'xs');
      }
    }
  }

  .ec-form-section {
    @include make-col(12);
    @include media-breakpoint-up(sm) {
      @include make-col(6);
    }
    @include media-breakpoint-up(md) {
      @include make-col(6);
    }
    .tag,
    .tag p {
      @extend %p-xl;
      @include gpn-spacing('margin-bottom', 'sm');
    }
    .details,
    .details p {
      @extend %p-md;
      @include gpn-spacing('margin-bottom', 'xs');
    }
  }
}
