.go-back-wrapper {
    display: inline-flex;
    align-items: center;
    gap: map-get($gpn-theme-go-back, 'go-back-gap');
    padding-top: map-get($gpn-theme-go-back, 'go-back-padding');
    padding-bottom: map-get($gpn-theme-go-back, 'go-back-padding');
    font-size: map-get($gpn-theme-go-back, 'go-back-font-size');
    line-height: map-get($gpn-theme-go-back, 'go-back-line-height');
    text-decoration: none;
    color: map-get($gpn-theme-go-back, 'go-back-font-color');
    cursor: pointer;
    &:hover{
      font-weight: map-get($gpn-theme-go-back, 'go-back-font-weight');
    }
    .go-back-icon {
      width: map-get($gpn-theme-go-back, 'go-back-icon-size');
      height: map-get($gpn-theme-go-back, 'go-back-icon-size');
      display: block;
      background-image: map-get($gpn-theme-go-back, 'go-back-arrow-left-back-icon');
      background-repeat: no-repeat;
    }
  }