.image-inset-testimonial {
  .parallax.inset-image {
    @include gpn-spacing([ 'padding-top'], 'sm');
    @include gpn-spacing([ 'margin-bottom'], 'xxxl');
    @include media-breakpoint-up(sm) {
      margin-bottom: calc(
        #{map-get($gpn-theme-image-inset-testimonial, 'content-section-top-position-tablet')} + var(
            --content-section-height,
            0px
          ) - #{map-get($gpn-theme-image-inset-testimonial, 'content-image-tablet-height')} + #{map-get(
            $gpn-theme-image-inset-testimonial,
            'margin-bottom-tablet'
          )}
      );
    }
    @include media-breakpoint-up(md) {
      margin-bottom: calc(
        #{map-get($gpn-theme-image-inset-testimonial, 'content-section-top-position-desktop')} + var(
            --content-section-height,
            0px
          ) - #{map-get($gpn-theme-image-inset-testimonial, 'content-image-desktop-height')} + #{map-get(
            $gpn-theme-image-inset-testimonial,
            'margin-bottom-desktop'
          )}
      );
    }

    .content-wrapper {
      @include make-col(12);
      .content-section {
        @include media-breakpoint-up(sm) {
          @include make-col(8);
          @include make-col-offset(2);
        }
      }
    }

    .content-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
    }

    .media-container {
      position: relative;
      min-height: map-get($gpn-theme-image-inset-testimonial, 'content-image-mobile-height');

      @include media-breakpoint-up(sm) {
        height: map-get($gpn-theme-image-inset-testimonial, 'content-image-tablet-height');
      }

      @include media-breakpoint-up(md) {
        height: map-get($gpn-theme-image-inset-testimonial, 'content-image-desktop-height');
      }

      .bg-media {
        border-radius: $gpn-theme-radius-xl;
        background-repeat: no-repeat;
        background-size: map-get($gpn-theme-image-inset-testimonial, 'media-background-size');
        height: map-get($gpn-theme-image-inset-testimonial, 'content-image-mobile-height');
        z-index: unset;

        // Mobile background image and position
        background-image: var(--bg-image-mobile);
        background-position: var(--focus-x-mobile, center) var(--focus-y-mobile, center);

        // Tablet background image and position
        @include media-breakpoint-up(sm) {
          background-image: var(--bg-image-tablet);
          background-position: var(--focus-x-tablet, center) var(--focus-y-tablet, center);
          height: map-get($gpn-theme-image-inset-testimonial, 'content-image-tablet-height');
        }

        // Desktop background image and position
        @include media-breakpoint-up(md) {
          background-image: var(--bg-image-desktop);
          background-position: var(--focus-x-desktop, center) var(--focus-y-desktop, center);
          height: map-get($gpn-theme-image-inset-testimonial, 'content-image-desktop-height');
        }
      }
    }

    .content-section {
      display: flex;
      flex-direction: column;
      position: relative;
      background-color: map-get(
        $gpn-theme-image-inset-testimonial,
        'content-section-default-background'
      );
      @include gpn-spacing([ 'gap'], 'sm');
      @include gpn-spacing([ 'padding'], 'xl');
      transition: map-get($gpn-theme-image-inset-testimonial, 'content-section-transition-mobile');
      border-radius: $gpn-theme-radius-xl;
      top: map-get($gpn-theme-image-inset-testimonial, 'content-section-top-position-mobile');

      @include media-breakpoint-up(sm) {
        top: map-get($gpn-theme-image-inset-testimonial, 'content-section-top-position-tablet');
      }

      @include media-breakpoint-up(md) {
        position: absolute;
        height: fit-content;
      }

      .quote {
        @extend %label-md;
        margin-bottom: 0;
        @include gpn-spacing([ 'margin-top'], 'xs');
      }

      .attribution {
        display: flex;
        flex-direction: column;
        align-items: start;

        @include media-breakpoint-up(md) {
          flex-direction: row;
          align-items: center;
          gap: gpn-spacing-size('lg', 'xxs');
        }
      }

      .author {
        @extend %p-md;
        font-weight: $gpn-theme-font-weight-bold;
      }

      .tag {
        @extend %p-md;
      }

      .logo {
        max-width: map-get($gpn-theme-image-inset-testimonial, 'logo-max-width');
        max-height: map-get($gpn-theme-image-inset-testimonial, 'logo-max-height');
      }

      &::before {
        content: '';
        background-image: map-get(
          $gpn-theme-image-inset-testimonial,
          'content-section-quote-image'
        );
        background-size: cover;
        width: map-get($gpn-theme-image-inset-testimonial, 'quote-icon-width');
        min-height: map-get($gpn-theme-image-inset-testimonial, 'quote-icon-height');
      }

      &.bg-base {
        &::before {
          background-image: map-get(
            $gpn-theme-image-inset-testimonial,
            'content-section-quote-image-for-base-bg'
          );
        }
      }
    }
  }
}
