.quote-logo-frame {
  @include gpn-spacing([ 'padding-top', 'padding-bottom'], 'xl');

  .container {
    background-clip: content-box;
  }

  .copy-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: gpn-spacing-size('sm', 'sm');
    @include gpn-spacing([ 'margin-top', 'margin-bottom'], 'lg');

    .logo {
      position: relative;
      width: map-get($gpn-theme-testimonial, 'logo-width');
      height: auto;
      aspect-ratio: map-get($gpn-theme-testimonial, 'logo-aspect-ratio');

      img,
      video {
        position: absolute;
        width: 100%;
        height: 100%;
        inset: 0;
      }
    }

    .quote-wrapper {
      .quote,
      .quote p {
        @extend %p-sm;
        @include gpn-spacing('margin-bottom', 'xs');
      }
    }

    .author-wrapper {
      .author,
      .author p {
        @extend %p-lead;
        @include gpn-spacing('margin-bottom', 'xxs');
      }

      .author-tag {
        @extend %p-md;
        @include gpn-spacing('margin-bottom', 'xs');
      }
    }
  }

  &.logo-frame {
    .copy-section {
      @include make-col(12);

      @include media-breakpoint-up(md) {
        @include make-col(8);
        @include make-col-offset(2);
      }
    }
  }
}
