.promo-card-component {
  @include gpn-spacing([ 'padding-top', 'padding-bottom'], 'xxl');
  .promo-card-row {
    display: flex;
    flex-wrap: wrap;
    // NOTE: this deviates from Figma design, but was requested by the GPN Design team https://edynamic.atlassian.net/browse/GPES-538
    @include gpn-spacing('row-gap', 'macro');
    @include media-breakpoint-up(md) {
      @include gpn-spacing('row-gap', 'sm');
    }
  }

  .promo-card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: stretch;

    > div {
      height: 100%;
    }

    :has(a) {
      text-decoration: none;
      &:hover {
        cursor: pointer;
        img {
          transform: map-get($gpn-theme-promo-card, 'animation-transform');
          transition: map-get($gpn-theme-promo-card, 'animation-transition');
        }
      }
    }

    .promo-card {
      text-decoration: none;
      color: map-get($gpn-theme-promo-card, 'promo-card-color');
      display: flex;
      flex-direction: column;
      height: 100%;
      position: relative;
    }
  }

  .card-inner {
    display: flex;
    flex-direction: column;
    height: 100%;

    .media-content {
      width: 100%;
      overflow: hidden;
    }
  }

  img,
  video {
    width: 100%;
    height: auto;
    aspect-ratio: map-get($gpn-theme-promo-card, 'media-aspect-ratio');
    object-fit: cover !important;
  }

  .media-content {
    border-radius: $gpn-theme-radius-xl;
  }

  .text-content {
    display: flex;
    flex-direction: column;
    @include gpn-spacing('margin-top', 'sm');
    flex-grow: 1;

    .title {
      @extend %h-sm;
      @include gpn-spacing('margin-bottom', 'xxs');
    }

    .description,
    .description p,
    .description li {
      @include gpn-spacing('margin-bottom', 'xs');
      @extend %p-sm;
    }

    .description.p-md {
      li {
        @extend %p-md;
      }
    }

    .cta {
      margin-top: auto;
    }
  }

  &.two-in-row {
    .promo-card-wrapper {
      @include make-col(12);
      @include media-breakpoint-up(sm) {
        @include make-col(6);
      }
    }
  }
  &.three-in-row {
    .promo-card-wrapper {
      @include make-col(12);
      @include media-breakpoint-up(sm) {
        @include make-col(6);
      }
      @include media-breakpoint-up(md) {
        @include make-col(4);
      }
    }
  }
  &.four-in-row {
    .promo-card-wrapper {
      @include make-col(12);
      @include media-breakpoint-up(sm) {
        @include make-col(6);
      }
      @include media-breakpoint-up(md) {
        @include make-col(3);
      }
    }
  }

  &.styled {
    .text-content {
      text-align: center;
    }
    .promo-card-wrapper {
      img,
      video {
        aspect-ratio: initial;
        height: map-get($gpn-theme-promo-card, 'styled-card-height');
      }
    }
    &.two-in-row {
      .promo-card-wrapper {
        &:first-child {
          .media-content {
            border-top-left-radius: $gpn-theme-radius-xxl;
            border-bottom-left-radius: $gpn-theme-radius-xxl;
          }
        }
        &:last-child {
          .media-content {
            border-top-right-radius: $gpn-theme-radius-xxl;
            border-bottom-right-radius: $gpn-theme-radius-xxl;
          }
        }
      }
    }

    &.three-in-row {
      .promo-card-wrapper {
        &:first-child {
          .media-content {
            border-top-left-radius: $gpn-theme-radius-xxl;
            border-bottom-left-radius: $gpn-theme-radius-xxl;
          }
        }
        &:nth-child(2) {
          .media-content {
            border-radius: $gpn-theme-radius-xxl;
            @include media-breakpoint-up(sm) {
              border-top-right-radius: $gpn-theme-radius-xxl;
              border-bottom-right-radius: $gpn-theme-radius-xxl;
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
            }
            @include media-breakpoint-up(md) {
              border-radius: 0;
            }
          }
        }
        &:last-child {
          @include make-col(12);

          @include media-breakpoint-up(md) {
            @include make-col(4);
          }

          .media-content {
            border-top-right-radius: $gpn-theme-radius-xxl;
            border-bottom-right-radius: $gpn-theme-radius-xxl;

            @include media-breakpoint-up(sm) {
              border-radius: $gpn-theme-radius-xxl;
            }
            @include media-breakpoint-up(md) {
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
            }
          }
        }
      }
    }

    &.four-in-row {
      .promo-card-wrapper {
        &:first-child {
          .media-content {
            border-top-left-radius: $gpn-theme-radius-xxl;
            border-bottom-left-radius: $gpn-theme-radius-xxl;
          }
        }
        &:nth-child(2) {
          .media-content {
            border-top-left-radius: $gpn-theme-radius-xxl;
            border-top-right-radius: $gpn-theme-radius-xxl;
          }
        }
        &:nth-child(3) {
          .media-content {
            border-bottom-left-radius: $gpn-theme-radius-xxl;
            border-bottom-right-radius: $gpn-theme-radius-xxl;
          }
        }
        &:last-child {
          .media-content {
            border-top-right-radius: $gpn-theme-radius-xxl;
            border-bottom-right-radius: $gpn-theme-radius-xxl;
          }
        }
      }
    }
  }

  &.uniform {
    .promo-card-row {
      justify-content: center;
      @include gpn-spacing('row-gap', 'xl');
    }

    .promo-card-wrapper {
      img,
      video {
        aspect-ratio: initial;
        height: map-get($gpn-theme-promo-card, 'uniform-card-height');
      }
      .media-content {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        order: 2;
      }
      .text-content {
        border-top-right-radius: $gpn-theme-radius-xl;
        border-top-left-radius: $gpn-theme-radius-xl;
        margin-top: 0;
        @include gpn-spacing('padding', 'sm');
        order: 1;
      }
    }
  }

  @import '../../styles/clickable-cards/background';
}
