&.split50 {
  overflow: hidden;

  .copy-section {
    @include gpn-spacing([ 'padding-top', 'padding-bottom'], 'xxl');
    @include make-col(12);
    @include media-breakpoint-up(md) {
      @include make-col(6);
    }

    justify-content: center;

    .title,
    .title p {
      @extend %h-xl;
    }

    .tag {
      @extend %p-md;
    }
  }
  .media-section {
    min-height: map-get($gpn-theme-heroes, 'split50-media-min-height-sm');
    @include make-col(12);
    @include media-breakpoint-up(md) {
      min-height: map-get($gpn-theme-heroes, 'split50-media-min-height-md');
      @include make-col(6);
    }
    @include media-breakpoint-up(lg) {
      min-height: map-get($gpn-theme-heroes, 'split50-media-min-height-lg');
    }

    img,
    video {
      margin-top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 0% 0%;
      @include media-breakpoint-up(md) {
        width: map-get($gpn-theme-heroes, 'split50-media-width');
      }
    }
  }
}
