&.wide {
  .container-fluid {
    background-size: cover;
    background-image: var(--bg-image-mobile);
    background-position: var(--focus-x-mobile, 50%) var(--focus-y-mobile, 50%);
    background-size: var(--media-size);

    // Tablet background image and position
    @include media-breakpoint-up(sm) {
      background-image: var(--bg-image-tablet);
      background-position: var(--focus-x-tablet, 50%) var(--focus-y-tablet, 50%);
    }

    // Desktop background image and position
    @include media-breakpoint-up(md) {
      background-image: var(--bg-image-desktop);
      background-position: var(--focus-x-desktop, 50%) var(--focus-y-desktop, 50%);
    }

    background-repeat: no-repeat;
    display: flex;

    align-items: center;
    color: map-get($gpn-theme-heroes, 'l1-tall-wide-container-color');
    min-height: map-get($gpn-theme-heroes, 'l1-wide-min-height');
    padding: 0px;
    position: relative;

    .container {
      display: flex;
      align-items: center;
      height: 100%;

      .hero-container {
        @include make-col(12);
        @include media-breakpoint-up(sm) {
          @include make-col(6);
        }
      }
      .copy-section {
        @include gpn-spacing([ 'padding-top', 'padding-bottom'], 'xxl');
        align-items: flex-start;

        .title {
          @extend %h-lg;
        }
      }
    }
  }
}
